/* SEARCH */

.searchoverlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#191a1a;
	background:rgba(#191a1a, 0.89);
	z-index:2000;
	display:none;
	@include transition(left 500ms ease-in-out);

	&.slide{
		left:-400px;
	}

	.closesearch{
		color:#fff;
		position:absolute;
		font-size:28px;
		top:30px;
		right:30px;
		cursor:pointer;
	}

	form {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		width: 50%;
		max-width:700px;

		input {
			font: 600 32px $font_header;
			color: #fff;
			text-transform:uppercase;
			background: transparent;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid #545555;
			padding: 40px 50px 40px 0;
			width: 100%;

			&::-webkit-input-placeholder {
				color: #e7e7e7;
			}

			&:-moz-placeholder {
				color: #e7e7e7;
				opacity: 1;
			}

			&::-moz-placeholder {
				color: #e7e7e7;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: #e7e7e7;
			}
		}

		.fa-search {
			position: absolute;
			top: 48px;
			right: 10px;
			font-size: 24px;
			cursor:pointer;
			color:#fff8f8;
		}
	}

	@media (max-width:800px){
		form{
			width:80%;
		}
	}

}