<!-- NOTIFY ALL MODAL -->
<div class="modal fade" id="notify-all-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="profile-image-label">{{ 'NOTIFY_ALL_MODAL_TITLE' | translate  }}</h4>
      </div>
      <div class="modal-body">
        <ng-form name="notifyAllForm">
            
            <div class="vert-spacer"></div>

            <div class="checkbox full-width">
                <label>
                    <input type="checkbox" name="mass_type_notification_logged" value="notify" class="checkbox-fld" ng-model="notification.mass_type_notification_logged" ng-required="!notification.mass_type_notification_applyer" />
                    {{ 'MASS_NOTIFICATION_LOGGED' | translate }}
                </label>
            </div>

            <div class="checkbox full-width">
                <label>
                    <input type="checkbox" name="mass_type_notification_applyer" value="notify" class="checkbox-fld" ng-model="notification.mass_type_notification_applyer" ng-required="!notification.mass_type_notification_logged" />
                    {{ 'MASS_NOTIFICATION_APPLYER' | translate }}
                </label>
            </div>

            <div class="form-group">
                <label>{{ 'NOTIFICATION_MESSAGE_LABEL' | translate }}</label>
                <textarea name="message" ng-model="notification.message" class="form-control"></textarea>
            </div>
			<!--
            <div class="form-group">
                <label>{{ 'NOTIFICATION_URL_LABEL' | translate }}</label>
                <input type="text" name="href" ng-model="notification.href" class="form-control" />
            </div>
			-->
            <div class="vert-spacer"></div>

            <div class"alert alert-danger" ng-if="notificationError">
                <p class="text-danger">{{ notificationError }}</p>
            </div>
        </ng-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'BTN_CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger" ng-disabled="!notifyAllForm.$valid" ng-click="sendMassNotification(notification)">{{ 'BTN_CONFIRM' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- /NOTIFY ALL MODAL -->