@import "styles/_variables";
@import "bourbon/bourbon";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

html {
	opacity: 0;
	height: 100vh;
}

html.show {
	@include transition(opacity 0.5s ease-in 0.2s);
	opacity: 1;
}

.translate-cloak {
    opacity: 0;
}

.sweet-alert {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 600px;
    margin-left: -300px;
}
.sweet-alert.contest-rules {
    width: 800px;
    margin-left: -400px;
}
.sweet-alert button.cancel {
    position: relative;
    top: 0;
    right: 0;
    height: inherit;
    width: inherit;
    line-height: inherit;
}
    

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
