// base

a
	text-decoration: none

body
	-webkit-font-smoothing: antialiased

	&.noScroll
		position: relative
		height: 100%
		overflow: hidden

.content

	padding: 60px 20px

	+breakpoint($m)
		padding: 80px 30px 60px

	+breakpoint($l)
		padding: 120px 60px 60px
