// -------------------------------------
//   Extends
// -------------------------------------

// ----- Debug ----- //

%debug
	background-color: pink !important

// ----- Ellipsis ----- //

%ellipsis
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

// ----- Clearfix ----- //
%clearfix
	&:after
		visibility: hidden
		display: block
		font-size: 0
		content: ""
		clear: both
		height: 0

// -------------------------------------
//   Functions
// -------------------------------------

// ----- rem ----- //

@function rem($size)
	@return #{$size / $base-fontSize}rem
	// @return #{$size}px // ie 8 fix


// -------------------------------------
//   vertical allign
// -------------------------------------

=vertical-center
	display: block
	&:before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle
		//margin-right: -0.25em

	> *
		width: 97%
		display: inline-block
		vertical-align: middle



=responsiveFontSize($baseValue, $increaseValue, $increaseM: false )

	transition: all .2s ease-in-out

	font-size: $baseValue

	+breakpoint($m)
		@if $increaseM == false
			font-size: $baseValue + $increaseValue * 0.5
		@else
			font-size: $baseValue + $increaseM

	+breakpoint($l)
		font-size: $baseValue + $increaseValue
