        <div class="row">
            <div class="col-md-3">
                <label class="control-label" for="company">{{ 'FORM_COMPANY' | translate }}</label>
                <input type="text" name="company" class="fld" ng-model="company.company_name" required />
            </div>
            <div class="col-md-3">
                <label class="control-label" for="company_registration_number">{{ 'FORM_COMPANY_REGISTRATION_N' | translate }}</label>
                <input type="text" name="company_registration_number" class="fld" ng-model="company.company_registration_number" required />
            </div>
			<div class="col-md-6">
                <label class="control-label" for="company_website">{{ 'FORM_WEBSITE' | translate }}</label>
                <input type="text" name="company_website" class="fld" ng-model="company.company_website" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="signup-name-half signup-name">
                    <label class="control-label" for="name">{{ 'FORM_NAME' | translate }}</label>
                    <input type="text" name="name" class="fld" ng-model="company.user_name" required />
                </div>
                <div class="signup-name-half signup-surname">
                    <label class="control-label" for="surname">{{ 'FORM_SURNAME' | translate }}</label>
                    <input type="text" name="surname" class="fld" ng-model="company.user_surname" required />
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label" for="job_title">{{ 'FORM_JOB_TITLE' | translate }}</label>
                <input type="text" name="job_title" class="fld" ng-model="company.user_job_title" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label" for="company">{{ 'FORM_COUNTRY' | translate }}</label>
                <select name="country" class="fld styled-select" ng-model="company.user_country" required>
                    <option value="{{ code }}" ng-selected="company.user_country == code" ng-repeat="(code, country) in ::countries">{{ country }}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="address">{{ 'FORM_ADDRESS_1' | translate }}</label>
                <input type="text" name="address1" class="fld" ng-model="company.user_address1" required />
            </div>
            <div class="col-md-4">
                <label class="control-label" for="address2">{{ 'CITY' | translate }}</label>
                <input type="text" name="address2" class="fld" ng-model="company.user_address2" required />
            </div>
        </div>
		<div class="row">
            <div class="col-md-4">
                <label class="control-label" for="district">{{ 'DISTRICT' | translate }}</label>
                <input type="text" name="district" class="fld" ng-model="company.user_district" />
            </div>
            <div class="col-md-4">
                <label class="control-label" for="cap">{{ 'CAP' | translate }}</label>
                <input type="text" name="cap" class="fld" ng-model="company.user_cap" required />
            </div>
            <div class="col-md-4">
                <label class="control-label" for="fiscalcode">{{ 'FISCAL_CODE' | translate }}</label>
                <input type="text" name="fiscalcode" class="fld" ng-model="company.user_fiscalcode" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" for="email">{{ 'FORM_EMAIL' | translate }}</label>
                <input type="email" name="email" class="fld" ng-model="company.user_email" required />
            </div>
            <div class="col-md-6">
                <label class="control-label" for="phone">{{ 'FORM_TEL' | translate }}</label>
                <input type="text" name="phone" class="fld" ng-model="company.user_phone" minlength="6" required />
            </div>
        </div>