<div class="contest-tabs-nav" ng-if="contest">
    <a ng-href="{{ utils.getHrefFor(contest, 'analytics') }}" class="btn btn-dashboard btn-contest-nav" ng-class="{'btn-analytics': currentTab == 'analytics', 'btn-disabled': utils.isDisabledButton(contest.contest_status, 'analytics')}"><i class="fa fa-pie-chart"></i> Analytics</a>
    <a ng-href="{{ utils.getHrefFor(contest, 'approve') }}" class="btn btn-dashboard btn-contest-nav" ng-class="{'btn-approve': currentTab == 'approve', 'btn-disabled': utils.isDisabledButton(contest.contest_status, 'approve')}"><i class="fa fa-exclamation"></i> Approve contents</a>
    <a ng-href="{{ utils.getHrefFor(contest, 'edit') }}" class="btn btn-dashboard btn-contest-nav" ng-class="{'btn-edit': currentTab == 'edit', 'btn-disabled': utils.isDisabledButton(contest.contest_status, 'edit')}"><i class="fa fa-cog"></i> Edit contest</a>
    <!-- a ng-href="{{ utils.getHrefFor(contest, 'promotion') }}" class="btn btn-dashboard btn-contest-nav" ng-class="{'btn-promotion': currentTab !== 'promotion', 'btn-disabled': utils.isDisabledButton(contest.contest_status, 'promotion')}"><i class="fa fa-rocket"></i> Promotion</a -->
</div>