<div class="form-group tc-group">
<input type="radio" name="contest_use_standard_tc" value="0" class="form-control" ng-model="contest.use_standard_tc" />
<label>{{ 'YOUR_CUSTOM_TC' | translate }}</label>
<input type="file" class="file-hidden" id="id-term-conditions" name="contest_term_conditions" accept=".pdf" file-model="contest.terms_conditions" ng-model="validationHack" also-watch="contest.use_standard_tc" file-required="contest.use_standard_tc == '0'" />
<div id="id-custom-terms-file" ng-if="contest.terms_conditions">
    {{ contest.terms_conditions.name }}
    <a ng-click="contest.terms_conditions = undefined"><i class="fa fa-times"></i></a>
</div>
<a class="btn btn-action" onclick="$('#id-term-conditions').click()">{{ 'BROWSE' | translate }}</a>
<p class="text-info" ng-if="tcForm.contest_term_conditions.$error.fileRequired">{{ 'ERROR_CHOOSE_CUSTOM_TC' | translate }}</p>
</div>