<div class="modal-header">
    <button type="button" class="close" ng-click="modalOptions.ok('close')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>{{ modalOptions.headerText }}</h3>
</div>
<div class="modal-body">
    <p>{{ modalOptions.bodyText }}</p>
</div>
<div class="modal-footer">
    <button ng-if="modalOptions.closeButtonText" type="button" class="btn" ng-click="modalOptions.ok('no')">{{ modalOptions.closeButtonText }}</button>
    <button class="btn btn-primary" ng-click="modalOptions.ok('yes')">{{ modalOptions.actionButtonText }}</button>
</div>