<div class="post-container-main">
    <div class="post-social-links" ng-if="false">
        <ul>
            <li class="background-facebook" ng-click="utils.openSharingPopup(p, 'facebook')"><i class="fa fa-facebook"></i></li>
            <li class="background-twitter" ng-click="utils.openSharingPopup(p, 'twitter')"><i class="fa fa-twitter"></i></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="post-container" id="post-{{ p.post_id }}">
        <div class="post-cover" id="post-cover-{{ p.post_id }}">
            <div id='mediaplayerall{{ p.post_id }}' class="video" ng-if="contest.contest_type == '1'">
                <a href="javascript:void(0)" ng-click="startPlayer('0', p.post_id, p.post_mp4, p.post_image);"><img class="img-thumbnail" ng-src="/images/{{ utils.getContestTypeName(contest.contest_type) }}s/{{ p.post_image }}" /></a>
            </div>
            <img ng-if="contest.contest_type !== '1' && (!p.user_connected_to_instagram)" ng-src="/images/{{ utils.getContestTypeName(contest.contest_type) }}s/{{ p.post_image }}" />
			<img ng-if="contest.contest_type !== '1' && (p.user_connected_to_instagram)" ng-src="{{ p.post_image }}" />
        </div>

        <div class="post-center-block">
            <div class="post-name">{{ p.post_name }}</div>
            <div class="post-user-name">{{ p.user_name}} {{ p.user_surname }}</div>
            <div class="post-rank-data" ng-if="(currentTab == 'analytics' || currentSubTab === null) && (contest.win_modality_id == '1')">
                <div class="post-rank">{{ p.post_rank_position }}</div>
                <div class="post-buzz">
                    <span class="social-buzz">social buzz</span>
                    {{ p.post_score | number:2 }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- ANALYTICS BLOCK -->

        <div class="row post-facebook-block" ng-if="p.upload_on_facebook_done == '1' && currentTab !== 'approve'">
            <div class="col-md-6 col-xs-6 social-logo-container">
                <img src="assets/images/facebook_logo_lg.png" class="img-responsive social-logo">
            </div>
            <div class="col-md-6 col-xs-6 no-side-padding" ng-if="contest.contest_type == '1'">
                <div class="fb-views"><i class="fa fa-eye" ></i> {{ p.unique_views | defaults:'0' }}</div>				
            </div>
			<div class="col-md-6 col-xs-6 no-side-padding" ng-if="contest.contest_type !== '1'">
				<div class="fb-views"><i class="fa fa-eye"></i> {{ p.impressions | defaults:'0' }}</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 no-side-padding">
                <div class="fb-likes"><i class="fa fa-smile-o"></i> {{ p.unique_like | defaults:'0' }}</div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 no-side-padding">
                <div class="fb-comments"><i class="fa fa-comment"></i> {{ p.unique_comments | defaults:'0' }}</div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 no-side-padding">
                <div class="fb-shares"><i class="fa fa-share-square-o"></i>{{ p.unique_shares | defaults:'0' }}</div>
            </div>
        </div>

        <div class="row post-twitter-block" ng-if="p.upload_on_twitter_done == '1' && currentTab !== 'approve'">
            <div class="col-md-6 col-sm-6 col-xs-6 social-logo-container">
                <img src="assets/images/twitter_logo_lg.png" class="img-responsive social-logo">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 no-side-padding">
                <div class="tw-retweets"><i class="fa fa-retweet"></i> {{ p.retweets_count | defaults:'0' }}</div>
            </div>
            <div class="col-md-12 col-md-12 col-xs-12 no-side-padding">
                <div class="tw-favourites"><i class="fa fa-star"></i> {{ p.favourite_count | defaults:'0' }}</div>
            </div>
        </div>

        <div class="row post-youtube-block" ng-if="currentTab !== 'approve' && contest.contest_type == 1 && contest.youtube_data == 1 && (p.upload_on_own_youtube_done || p.upload_on_company_youtube_done)">
            <div class="col-md-12 col-sm-12 col-xs-12 social-logo-container">
                <img src="assets/images/youtube_logo_lg.png" class="img-responsive social-logo">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 no-side-padding">
                <div class="yt-views"><i class="fa fa-retweet"></i> {{ p.youtube_view_count | defaults:'0' }}</div>
            </div>
            <div class="col-md-6 col-md-6 col-xs-6 no-side-padding">
                <div class="yt-likes"><i class="fa fa-star"></i> {{ p.youtube_like_count | defaults:'0' }}</div>
            </div>
        </div>
		
		<div class="row post-instagram-block" ng-if="p.user_connected_to_instagram && currentTab !== 'approve'">
            <div class="col-md-12 col-sm-12 col-xs-12 social-logo-container">
                <img src="assets/images/instagram_logo_lg.png" class="img-responsive social-logo">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 no-side-padding">
                <div class="ig-likes"><i class="fa fa-thumbs-o-up"></i> {{ p.instagram_likes | defaults:'0' }}</div>
            </div>
            <div class="col-md-6 col-md-6 col-xs-6 no-side-padding">
                <div class="ig-comments"><i class="fa fa-comment"></i> {{ p.instagram_comments | defaults:'0' }}</div>
            </div>
        </div>
		
		

        <button type="button" class="btn btn-post-send-notification" ng-if="contest.contest_type == 2 && (currentTab == 'analytics' || currentSubTab === null)" ng-disabled="p.user_connected_to_instagram" data-toggle="modal" data-target="#notify-post-modal-{{ p.post_id }}">{{ 'SEND_NOTIFICATION' | translate }}</button>
        <div class="clearfix"></div>
        <!-- /ANALYTICS BLOCK -->

        <!-- APPROVAL BLOCK -->

        <div class="post-approval-block" ng-if="currentTab == 'approve'">
            <div class="btn-approve" ng-if="p.approval_step !== '3'">
                <button type="button" class="btn btn-approve" ng-click="setApprovedStatus(p.post_id, 3)"><i class="fa fa-check"></i> {{ 'APPROVE' | translate }}</button>
            </div>
            <div class="btn-disapprove" ng-if="p.approval_step !== '3'">
                <button type="button" class="btn btn-disapprove" ng-click="setApprovedStatus(p.post_id, 2)"><i class="fa fa-times"></i> {{ 'DISAPPROVE' | translate }}</button>
            </div>

            <button ng-if="p.approval_step == '3' || currentTab == 'approve'" type="button" class="btn btn-disapprove" ng-click="deletePost(p.post_id)"><i class="fa fa-times"></i> {{ 'REMOVE_POST' | translate }}</button>
            <div class="clearfix"></div>
        </div>

        <!-- /APPROVAL BLOCK -->

    </div>
</div>

<!-- NOTIFY ALL MODAL -->
<div class="modal fade" id="notify-post-modal-{{ p.post_id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="profile-image-label">{{ 'SEND_NOTIFICATION_TO_TITLE' | translate  }} {{ p.user_name}} {{ p.user_surname }}</h4>
      </div>
      <div class="modal-body">
        <ng-form name="notifyAllForm">
            <div class="vert-spacer"></div>

            <div class="checkbox full-width" ng-if="p.user_connected_to_facebook">
                <label>
                    <input type="checkbox" name="notify_facebook" value="1" class="checkbox-fld" ng-model="notification.notify_facebook" ng-required="!notification.notify_twitter" checked />
                    {{ 'SEND_FACEBOOK_NOTIFICATION' | translate }}
                </label>
            </div>

            <div class="checkbox full-width" ng-if="p.user_connected_to_twitter">
                <label>
                    <input type="checkbox" name="notify_twitter" value="1" class="checkbox-fld" ng-model="notification.notify_twitter" ng-required="!notification.notify_facebook" checked />
                    {{ 'SEND_TWITTER_NOTIFICATION' | translate }}
                </label>
            </div>

            <div class="form-group">
                <label>{{ 'NOTIFICATION_MESSAGE_LABEL' | translate }}</label>
                <textarea name="message" ng-model="notification.message" class="form-control"></textarea>
            </div>

            <div class="form-group" ng-if="notification.notify_twitter">
                <label>{{ 'NOTIFICATION_URL_LABEL' | translate }}</label>
                <input type="text" name="href" ng-model="notification.href" class="form-control" />
            </div>

            <div class="vert-spacer"></div>

            <div class"alert alert-danger" ng-if="notificationError">
                <p class="text-danger">{{ notificationError }}</p>
            </div>
        </ng-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'BTN_CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger" ng-disabled="!notifyAllForm.$valid" ng-click="sendPostNotification(notification, p.post_id)">{{ 'BTN_CONFIRM' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- /NOTIFY ALL MODAL -->