body
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.mymenubg
{
background-color:#000 !important;
background-image:none;
}

#mymenunav
{
width:100%;
hegiht:auto;
float:left;
top:0;
}
#mymenunav.affix {
position: fixed;
top: 0;
width: 100%;
margin:auto;
}
#mymenunav > .menu {
border-left: 0;
border-right: 0;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-o-border-radius: 0;
top:50;
}

a {text-decoration: none !important;}
ul, li, a  {margin: 0; padding: 0;}

.toggleMenu {
display: none;
padding: 10px 15px;
color: #fff;
}
.menu {
list-style: none;
*zoom: 1;
margin:auto;
width:90%;
font-size:14px;
}
.menu:before,
.menu:after {
content: " "; 
display: table; 
}
.menu:after {
clear: both;
}
.menu ul {
list-style: none;
width: 9em;
}
.menu a {
padding: 15px 20px;
color:#fff;
}
.menu li {
position: relative;
}
.menu > li {
float: left;
border-top: 1px solid #000;
}
.menu > li > .parent {
background-image: url("http://mike.php5.sk/public/menu/downArrow.png");
background-repeat: no-repeat;
background-position: right;
}
.menu > li > a {
display: block;
}
.menu li  ul {
position: absolute;
left: -9999px;
}
.menu > li.hover > ul {
left: 0;
}
.menu li li.hover > ul {
left: 100%;
top: 0;
}
.menu li li a {
display: block;
background: #222;
position: relative;
z-index:100;
border-top: 1px solid #111;
}
.menu li li li a {
background:#333;
border-top: 1px solid #222;
}
.menu li li li li a {
background:#444;
border-top: 1px solid #333;
}
.menu li li li li li a {
background:#555;
border-top: 1px solid #444;
}

@media screen and (max-width: 480px) {
.mymenubg
{
background-color:#000 !important;
background-image:none;
}
.active {
display: block;
}
.menu > li {
float: none;
}
.menu > li > .parent {
background-position: 95% 50%;
}
.menu li li .parent {
background-image: url("http://mike.php5.sk/public/menu/downArrow.png");
background-repeat: no-repeat;
background-position: 95% 50%;
}
.menu ul {
display: block;
width: 100%;
}
.menu > li.hover > ul , .menu li li.hover > ul {
position: static;
}

}

@media (min-width: 768px) and (max-width: 979px) {



}

@media (max-width: 767px) {


#mymenunav
{
top:50 !important;
}
}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
    

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
    .col-md-6
    {
        padding-left: 0px !important;
    }
}

@media (max-width: 979px) {

}

@media (min-width: 980px) {


}
