<div class="modal js-modal-open">
  <div class="modal__close js-modal-close"><span>X</span></div>
  <div class="modal__window">
    <video class="video-js vjs-default-skin" controls preload="auto" width="640" height="264" vjs-video vjs-media="videoObj"></video>
  </div>
  <div class="modal__overlay"></div>
</div>


<div class="wrapper" ng-cloak>
 <!-- header-->


  <!-- Stateviewall -->
<!--<button type="button" ng-click="activeView('signIn--s1', 'signIn')">signIn--s1</button>
<button type="button" ng-click="activeView('signIn--s2', 'signIn')">signIn--s2</button>
<button type="button" ng-click="activeView('personal', 'personal')">personal</button>
<button type="button" ng-click="activeView('partecipate--s1', 'partecipate')">partecipate--s1</button>
<button type="button" ng-click="activeView('partecipate--s2', 'partecipate')">partecipate--s2</button>
<button type="button" ng-click="activeView('partecipate--s3', 'partecipate')">partecipate--s3</button>
<button type="button" ng-click="activeView('partecipate--s4', 'partecipate')">partecipate--s4</button>
<button type="button" ng-click="activeView('partecipate--s5', 'partecipate')">partecipate--s5</button>
<button type="button" ng-click="activeView('partecipate--s6', 'partecipate')">partecipate--s6</button>
<button type="button" ng-click="activeView('partecipate--s7', 'partecipate')">partecipate--s7</button>-->


<!-- CSS FOR TEMPLATE CUSTOM -->
<style parse-style ng-if="customTheme.template_id == 0">
  .header,
  .nav__signiIn,
  .canvasHeader__subtitle,
  .canvasHeader__title {
    color: #{{ customTheme.font_color }};
  }
  .canvasHeader__bg {
    background-image: url(/images/events/{{ customTheme.canvas_header }});
  }
</style>

<header class="header j-fixedHeader">
  <div class="servicesNav">
    <span href="#" class="servicesNav__label" ng-show="contest.sponsor_logo != null">
      {{ "SponsoredBy" | translate }}
    </span>
    <span href="#" class="servicesNav__sponsor" style="background-image: url({{ domainRes }}/images/events/{{ contest.sponsor_logo }})" ng-show="contest.sponsor_logo != null"></span>
    <nav class="socialNav">
      <span class="socialNav__label">{{ "ShareOn" | translate }}</span>
      <a class="socialNav__fb" href="#"
        socialshare
        socialshare-provider="facebook"
        socialshare-url="{{ urlContest }}"
      ></a>
      <a class="socialNav__tw" href="#"
        socialshare
        socialshare-provider="twitter"
        socialshare-url="{{ urlContest }}"
      ></a>
    </nav>
    <nav class="socialNav socialNav--email">
      <span class="socialNav__label" ng-click="activeView('invitefriend--s1', 'invitefriend')">{{ "InviteFriend" | translate }}</span>
      <a class="socialNav__email" href="#" ng-click="activeView('invitefriend--s1', 'invitefriend')"></a>
    </nav>
    <ul class="servicesCounter">
      <!--<li class="servicesCounter__item"><timer countdown="10041" max-time-unit="'day'" interval="1000">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</timer></li>-->
      <li class="servicesCounter__item">{{ contest.time_left_top }}</li>
    </ul>
  </div>
  <nav class="navigation">
    <div ng-if="contest.status == 3">
      <a class="nav__signiIn" href="#" ng-click="toastr.warning('{{ 'SheduledMsg' |  translate }}')">{{ "PartecipatePhoto" | translate }}</a>
    </div>
    <div ng-if="contest.status == 1">
      <a ng-if="showPartecipate(contest.type_id).photo() && !isAuthenticated()"  class="nav__signiIn" href="#" ng-click="activeView('signIn--s1', 'signIn')">{{ "PartecipatePhoto" | translate }}</a>
      <a ng-if="showPartecipate(contest.type_id).video() && !isAuthenticated()" class="nav__signiIn" href="#" ng-click="activeView('signIn--s1', 'signIn')">{{ "PartecipateVideo" | translate }}</a>
      <a ng-if="showPartecipate(contest.type_id).text() && !isAuthenticated()" class="nav__signiIn" href="#" ng-click="activeView('signIn--s1', 'signIn')">{{ "PartecipateText" | translate }}</a>
    </div>
    <ul class="overlayMenu" ng-if="isAuthenticated()">
      <li class="overlayMenu__item" ng-show="showPartecipate(contest.type_id).photo()">
        <a class="overlayMenu__btnLoad" href="#" ng-click="activeView('partecipate--s1', 'partecipate')"></a>
      </li>
      <li class="overlayMenu__item" ng-show="showPartecipate(contest.type_id).video()">
        <a class="overlayMenu__btnLoad" href="#" ng-click="activeView('partecipate--s4', 'partecipate')"></a>
      </li>
      <li class="overlayMenu__item" ng-show="showPartecipate(contest.type_id).text()">
        <a class="overlayMenu__btnLoad" href="#" ng-click="activeView('partecipate--s6', 'partecipate')"></a>
      </li>
      <li class="overlayMenu__item">
        <a class="overlayMenu__btnPersonal" ng-if="!profileEntries.isEmpty" ng-click="activeView('personal', 'personal')" href="#"></a>
        <a class="overlayMenu__btnPersonal" ng-if="profileEntries.isEmpty" ng-click="activeView('noUserEntries', 'partecipate')" href="#"></a>
      </li>
      <li class="overlayMenu__item overlayMenu__item--logout">
        <a class="nav__logout" ng-click="logout()" href="#" >{{ "Logout" | translate }}</a>
      </li>
    </ul>
  </nav>
</header>
<!-- overlay-->
<div class="overlay j-overlay" ng-class="{ 'overlayOpen' : overlayIsOpen }">
  <a href="" class="overlay__close" ng-click="overlayToggle().close()">
    <div class="overlay__closeContent">
      <span class="closeLine closeLine--first"></span>
      <span class="closeLine closeLine--second"></span>
    </div>
  </a>
  <!-- overlay item-->
  <div class="overlay__contents j-overlayContents">

    <div class="overlay__item j-overlayItem" ng-class="{ 'activeViewItem' : activeViewItem == 'invitefriend' }">

      <div class="overlay__title">{{ "InviteFriend" | translate }}</div>

      <div class="signIn signIn--s2" ng-class="{ 'activeView' : stateView == 'invitefriend--s1' }" >
          <form name="inviteFriendForm" novalidate id="inviteFriendForm">
              <div class="genericForm">
                <fieldset class="genericForm__field j-field">
                  <label class="genericForm__label"  for="nameS3">
                    <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : inviteFriendForm.nameS3.$valid }" ng-model="nameS3" type="text" id="nameS3" name="nameS3" autocomplete="off" required>
                    <span>{{ "YourName" | translate }}</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset class="genericForm__field j-field">
                  <label class="genericForm__label"  for="addresseeNameS3">
                    <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : inviteFriendForm.recipientS3.$valid }"  ng-model="addresseeNameS3" type="text" id="addresseeNameS3" name="addresseeNameS3" autocomplete="off" required>
                    <span>{{ "YourFriendName" | translate }}</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset class="genericForm__field j-field">
                  <label class="genericForm__label"  for="recipientS3">
                    <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : inviteFriendForm.emailS2.$valid }"  ng-model="recipientS3" type="email" id="recipientS3" name="recipientS3" autocomplete="off" required>
                    <span>{{ "YourFriendEmail" | translate }}</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <p ng-show="enabledInviteMessageSuccessMessage" class="overlay__inviteFriendMessage">{{ "MessageSent" | translate }}</p>

                <a href="#" class="genericForm__btn" ng-click="sendInviteFriend()">{{ "Invite" | translate }}</a><br>
              </div>
          </form>
      </div>
    </div>

      <div class="overlay__item j-overlayItem" ng-class="{ 'activeViewItem' : activeViewItem == 'signIn' }">

        <div class="overlay__title" ng-if="showPartecipate(contest.type_id).photo()"> {{ "PartecipatePhoto" | translate }}</div>
        <div class="overlay__title" ng-if="showPartecipate(contest.type_id).video()">{{ "PartecipateVideo" | translate }}</div>
        <div class="overlay__title" ng-if="showPartecipate(contest.type_id).text()">{{ "PartecipateText" | translate }}</div>

        <div class="signIn signIn--s2" ng-class="{ 'activeView' : stateView == 'signIn--s1' }" ng-show="signInFields.registration_needed">
          <div class="signIn__col signIn__col--left" >
            <form name="signUpForm" novalidate id="signUpForm">
                <div class="genericForm">
                  <fieldset ng-if="signInFields.fields.name == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="nameS2">
                      <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.nameS2.$valid }" ng-blur="submitSignUpNameS2()" on-key-down="submitSignUp()" ng-model="nameS2" type="text" id="nameS2" name="nameS2" autocomplete="off" required>
                      <span>{{ "Name" | translate }}</span>
                    </label>
                    <span class="genericForm__error" ng-hide="signUpFormNameS2Valid">{{ "ErroreName" | translate }}</span>
                  </fieldset>

                <fieldset ng-if="signInFields.fields.surname == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="surnameS2">
                      <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.surnameS2.$valid }" ng-blur="submitSignUpSurnameS2()" on-key-down="submitSignUp()" ng-model="surnameS2" type="text" id="surnameS2" name="surnameS2" autocomplete="off" required>
                      <span>{{ "Surname" | translate }}</span>
                    </label>
                    <span class="genericForm__error" ng-hide="signUpFormSurnameS2Valid">{{ "ErroreEmail" | translate }}</span>
                  </fieldset>

                  <fieldset ng-if="signInFields.fields.birthdate == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="birthdateS2">
                      <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.birthdateS2.$valid }" ng-blur="submitSignUpBirthdateS2()" on-key-down="submitSignUp()" ng-model="birthdateS2" type="text" id="birthdateS2" name="birthdateS2" autocomplete="off" required format="number">
                      <span>{{ "Birthdate" | translate }}</span>
                    </label>
                    <span class="genericForm__error" ng-hide="signUpFormBirthdateS2Valid">{{ "ErroreBirthdate" | translate }}</span>
                  </fieldset>

                  <fieldset ng-if="signInFields.fields.email == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="emailS2">
                      <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.emailS2.$valid }" ng-blur="submitSignUpEmailS2()" on-key-down="submitSignUp()" ng-model="emailS2" type="email" id="emailS2" name="emailS2" autocomplete="off" required>
                      <span>{{ "Email" | translate }}</span>
                    </label>
                    <span class="genericForm__error" ng-hide="signUpFormEmailS2Valid">{{ "ErroreEmail" | translate }}</span>
                  </fieldset>

                  <fieldset ng-if="signInFields.fields.phone == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="phoneS2">
                      <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.phoneS2.$valid }" ng-blur="submitSignUpPhoneS2()" on-key-down="submitSignUp()" ng-model="phoneS2" type="text" id="phoneS2" name="phoneS2" autocomplete="off" required>
                      <span>{{ "Phone" | translate }}</span>
                    </label>
                    <span class="genericForm__error" ng-hide="signUpFormPhoneS2Valid">{{ "ErrorePhone" | translate }}</span>
                  </fieldset>

                  <fieldset ng-if="signInFields.fields.cap == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="capS2">
                    <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.capS2.$valid }" ng-blur="submitSignUpCapS2()" on-key-down="submitSignUp()" ng-model="capS2" type="text" id="capS2" name="capS2" autocomplete="off" required>
                      <span>{{ "Cap" | translate }}</span>
                  </label>
                    <span class="genericForm__error" ng-hide="signUpFormCapS2Valid">{{ "ErroreCap" | translate }}</span>
                  </fieldset>

                  <fieldset ng-if="signInFields.fields.city == 1" class="genericForm__field j-field">
                    <label class="genericForm__label"  for="cityS2">
                      <input class="genericForm__input j-fieldItem" ng-class="{ 'filled' : signUpForm.cityS2.$valid }" ng-blur="submitSignUpCityS2()" on-key-down="submitSignUp()" ng-model="cityS2" type="text" id="cityS2" name="cityS2" autocomplete="off" required>
                      <span>{{ "City" | translate }}</span>
                    </label>
                    <span class="genericForm__error" ng-hide="signUpFormCityS2Valid">{{ "ErroreCity" | translate }}</span>
                  </fieldset>

                  <!--<p>
                    <span ng-show="signInDone">Thank you, <br>
                    we need few more steps to complete the registration</span>
                    <input class="genericForm__btn disabled genericForm__btn--desktop" ng-click="submit()" type="submit" value="Sign Up">
                  </p>-->
                </div>
            </form>
          </div>
          <div class="signIn__col signIn__col--right">
            <div class="externalsignIn" ng-if="enabledSocialLogin">
              <a href="#" class="externalsignIn__btn" ng-if="contest.isFacebookLogin" ng-class="{ 'enabled' : enabledSocialLogin }" ng-click="authenticate('facebook')"><span class="externalsignIn__fb"></span>
                <span ng-if="isLogged.facebook">{{ "SocialLogged" | translate }}</span>
                <span ng-if="!isLogged.facebook">{{ "SignInWithFacebook" | translate }}</span>
              </a> <br>
              <a href="#" class="externalsignIn__btn" ng-if="contest.isTwitterLogin" ng-class="{ 'enabled' : enabledSocialLogin }" ng-click="authenticate('twitter')"><span class="externalsignIn__tw"></span>
                <span ng-if="isLogged.twitter">{{ "SocialLogged" | translate }}</span>
                <span ng-if="!isLogged.twitter">{{ "SignInWithTwitter" | translate }}</span>
              </a>
              <div ng-if="isAuthenticated()">
                <a href="#" class="genericForm__btn genericForm__btn--continue" ng-show="showPartecipate(contest.type_id).photo()" ng-click="activeView('partecipate--s1', 'partecipate')"><span>{{ "Continue" | translate }}</span></a>
                <a href="#" class="genericForm__btn genericForm__btn--continue" ng-show="showPartecipate(contest.type_id).video()" ng-click="activeView('partecipate--s4', 'partecipate')"><span>{{ "Continue" | translate }}</span></a>
                <a href="#" class="genericForm__btn genericForm__btn--continue" ng-show="showPartecipate(contest.type_id).text()" ng-click="activeView('partecipate--s6', 'partecipate')"><span>{{ "Continue" | translate }}</span></a>
              </div>
              <p class="overlay__loginInfo" ng-if="contest.isFacebookLogin && contest.isTwitterLogin">{{ "ConnectBothSocial" | translate }}</p>
            </div>
          </div>
        </div>

        <div class="signIn signIn--s1" ng-class="{ 'activeView' : stateView == 'signIn--s1' }" ng-hide="signInFields.registration_needed">
          <div class="signIn__col signIn__col--left" >
            <div class="externalsignIn" ng-if="enabledSocialLogin">
              <a href="#" class="externalsignIn__btn" ng-if="contest.isFacebookLogin" ng-class="{ 'enabled' : enabledSocialLogin }" ng-click="authenticate('facebook')"><span class="externalsignIn__fb"></span>
                <span ng-if="isLogged.facebook">{{ "SocialLogged" | translate }}</span>
                <span ng-if="!isLogged.facebook">{{ "SignInWithFacebook" | translate }}</span>
              </a> <br>
              <a href="#" class="externalsignIn__btn" ng-if="contest.isTwitterLogin" ng-class="{ 'enabled' : enabledSocialLogin }" ng-click="authenticate('twitter')"><span class="externalsignIn__tw"></span>
                <span ng-if="isLogged.twitter">{{ "SocialLogged" | translate }}</span>
                <span ng-if="!isLogged.twitter">{{ "SignInWithTwitter" | translate }}</span>
              </a>
              <div ng-if="isAuthenticated()">
                <a href="#" class="genericForm__btn genericForm__btn--continue" ng-show="showPartecipate(contest.type_id).photo()" ng-click="activeView('partecipate--s1', 'partecipate')"><span>{{ "Continue" | translate }}</span></a>
<a href="#" class="genericForm__btn genericForm__btn--continue" ng-show="showPartecipate(contest.type_id).video()" ng-click="activeView('partecipate--s4', 'partecipate')"><span>{{ "Continue" | translate }}</span></a>
                <a href="#" class="genericForm__btn genericForm__btn--continue" ng-show="showPartecipate(contest.type_id).text()" ng-click="activeView('partecipate--s6', 'partecipate')"><span>{{ "Continue" | translate }}</span></a>
              </div>
              <p class="overlay__loginInfo" ng-if="contest.isFacebookLogin && contest.isTwitterLogin">{{ "ConnectBothSocial" | translate }}</p>
            </div>
          </div>
        </div>

        <!-- sign In step 2 -->
        <div class="signIn signIn--s2" ng-class="{ 'activeView' : stateView == 'signIn--s2' }">
          <!--<form name="signUpForm" novalidate id="signUpForm">
            <div class="signIn__col signIn__col--left">
              <div class="genericForm">

                <fieldset ng-if="signInFields.fields.name == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="name">
                    <input class="genericForm__input j-fieldItem" ng-model="user.name" type="text" id="name" name="name" autocomplete="off" required>
                    <span>Name</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset ng-if="signInFields.fields.surname == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="surname">
                    <input class="genericForm__input j-fieldItem" ng-model="user.surname" type="text" id="surname" name="surname" autocomplete="off" required>
                  <span>Surname</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset ng-if="signInFields.fields.birthdate == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="birthdate">
                    <input class="genericForm__input j-fieldItem" ng-model="user.birthdate" type="text" id="birthdate" name="birthdate" autocomplete="off" required>
                    <span>Birthdate</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset ng-if="signInFields.fields.email == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="emailS2">
                    <input class="genericForm__input j-fieldItem" ng-model="user.email" type="email" id="emailS2" name="emailS2" autocomplete="off" required>
                    <span>Email</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset ng-if="signInFields.fields.phone == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="phone">
                    <input class="genericForm__input j-fieldItem" ng-model="user.phone" type="text" id="phone" name="phone" autocomplete="off" required>
                    <span>Phone</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset ng-if="signInFields.fields.cap == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="cap">
                    <input class="genericForm__input j-fieldItem" ng-model="user.cap" type="text" id="cap" name="cap" autocomplete="off" required>
                    <span>Cap</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

                <fieldset ng-if="signInFields.fields.city == 1" class="genericForm__field j-field">
                  <label class="genericForm__label"  for="city">
                    <input class="genericForm__input j-fieldItem" ng-model="user.city" type="text" id="city" name="city" autocomplete="off" required>
                    <span>City</span>
                  </label>
                  <span class="genericForm__error">{{ "Errore" | translate }}</span>
                </fieldset>

              </div>
            </div>
            <div class="signIn__col signIn__col--right">
              <p class="signIn__text">
                <span ng-show="signInDone">Thank you, <br>
                we need few more steps to complete the registration</span>
                <input class="genericForm__btn disabled genericForm__btn--desktop" ng-click="submit()" type="submit" value="Sign Up">
              </p>
            </div>
          </form>
          <input class="genericForm__btn disabled genericForm__btn--mobile"  ng-click="submit()" type="submit" value="Sign Up">-->
        </div>

        <div class="overlay__bottomInfo">
          <span data-ng-bind-html="'BySigningIn' | translate | htmlSafe"></span>
        </div>
      </div>

      <div class="overlay__item j-overlayItem overlay--personal" ng-class="{ 'activeView' : stateView == 'personal' }">
        <div class="overlay__title">{{ profile.name }}</div>
        <div class="myListWrapper">
          <ul class="myList">
            <li class="myList__item" ng-repeat="pe in profileEntries">
              <div class="myList__col">
                <h4 class="myList__name">
                  <span class="myList__label">{{ "Name" | translate }}</span>
                  <span class="myList__info">{{ pe.name }}</span>
                </h4>
                <p class="myList__rank">
                  <span class="myList__label">{{ "Rank" | translate }}</span>
                  <span class="myList__info">{{ pe.rank_position }}</span>
                </p>
                <p class="myList__buzz">
              <span class="myList__label">{{ "SocialBuzz" | translate }}</span>
              <span class="myList__info">{{ pe.score }}</span>
            </p>
          </div>
          <div class="myList__col">
              <div class="myList__share">
                <span class="myList__shareLabel">{{ "Share" | translate }}</span>

                <div ng-if="contest.type_id == contestType.photos">
                  <a href="#" class="myList__shareFb"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url="{{ domain }}/FacebookSharePhoto/{{ entry.image | getHtml }}"></a>
                  <a href="#" class="myList__shareTw"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-url="{{ domain }}/FacebookSharePhoto/{{ entry.image | getHtml }}"></a>
                </div>

                <div ng-if="contest.type_id == contestType.videos">
                  <a href="#" class="myList__shareFb"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url="{{ domain }}/FacebookShare/{{ entry.image | getHtml }}"></a>
                  <a href="#" class="myList__shareTw"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-url="{{ domain }}/FacebookShare/{{ entry.image | getHtml }}"></a>
                </div>

                <div ng-if="contest.type_id == contestType.text">
                  <a href="#" class="myList__shareFb"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url="{{ domain }}/FacebookShareEssay/{{ entry.image | getHtml }}"></a>
                  <a href="#" class="myList__shareTw"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-url="{{ domain }}/FacebookShareEssay/{{ entry.image | getHtml }}"></a>
                </div>

              </div>
              <div class="myList__video" ng-if="contest.type_id == contestType.videos">
                <a class="myList__videoPlay"></a>
              </div>
              <div class="myList__image" ng-if="contest.type_id == contestType.photos">
                <img src="{{ domainRes }}/photos/{{ pe.image }}" alt="{{ pe.name }}" />
              </div>
              <div class="myList__image" ng-if="contest.type_id == contestType.text">
                <img src="{{ domainRes }}/essays/{{ pe.image }}" alt="{{ pe.name }}" />
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="overlay__bottomInfo">
      <span data-ng-bind-html="'TermsOfServiceAndPrivacyPolicy' | translate | htmlSafe"></span>
    </div>
  </div>

  <div class="overlay__item j-overlayItem" ng-class="{ 'activeViewItem' : activeViewItem == 'partecipate' }" >
    <!-- upload video s1 upload and record button -->
    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s1' }">

      <!--<div class="recapVideo" ng-class="{ 'recording' : recording }" ng-if="isHTML5">
        <video controls autoplay id="recordVideo"></video>
      </div>-->

      <div class="partecipate__content" ng-if="contest.type_id == contestType.photos">
        <div class="partecipate__btn partecipate__upload" ngf-select="sendContest($file).step1()" ngf-fix-orientation="true" ng-model="file" name="file" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 600}">{{ "Upload" | translate }}</div>
      </div>

      </div>
    </div>
    <!-- if record strem s2 record btn -->
    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s2' }">
      <div class="partecipate__content">
        <a href="#" class="partecipate__btn partecipate__startRecord">
          {{ "StartRecord" | translate }}
        </a>
      </div>
    </div>
    <!-- if record stream upload video s3 countdown and video stremaing container -->
    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s3' }">
      <div class="partecipate__content">
        <span class="partecipate__countdown">10</span>
        <!-- <a href="#" class="partecipate__btn partecipate__pause"></a> -->
      </div>
      <div class="partecipate__VideoStream"></div>
    </div>
    <!-- upload video s4 Recap form -->
    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s4' }">
      <div class="partecipate__recap">
        <div class="partecipate__recapCol"></div>
        <div class="partecipate__recapCol">
          <div class="recapUpload">


            <div class="recapUpload__col" ng-show="activeVideoForm">
              <form>
                <fieldset class="genericForm__field j-field">
                  <label class="genericForm__label"  for="videoName">
                    <input class="genericForm__input j-fieldItem" type="text" ng-model="sendVideoForm__title" id="videoName" name="name">
                    <span>{{ "VideoName" | translate }}</span>
                  </label>
                  <!--<span class="genericForm__error">{{ "Errore" | translate }}</span>-->
                </fieldset>
                <div class="genericForm__hashtag">
                  <span>{{ contest.hashtag }}</span>
                </div>
                <input class="genericForm__btn disabled" ng-click="recordAgain()" type="submit" value="Record Again">
                <input class="genericForm__btn" ng-click="saveVideo()" type="submit" value="Confirm">
              </form>
            </div>


            <div class="recapUpload__col" ng-show="!activeVideoForm">
              <div class="partecipate__content" ng-if="contest.type_id == contestType.videos">
                <!--<input type="file" class="partecipate__btn partecipate__upload">{{ "Upload" | translate }}</a>-->
                <a href="#" ng-click="startRecording()" ng-show="rec" class="partecipate__btn partecipate__startRecord">{{ "StartRecord" | translate }}</a>
                <a href="#" ng-click="stopRecording()" ng-show="enabledStop && pause == false" class="partecipate__btn partecipate__startRecord">{{ "Stop" | translate }}</a>
                <a href="#" ng-click="pauseRecording()"  ng-show="enabledStop && pause == false" class="partecipate__btn partecipate__pause">{{ "Pause" | translate }}</a>
                <a href="#" ng-click="resumeRecording()" ng-show="enabledStop && pause" class="partecipate__btn recapVideo__play--resume">{{ "Resume" | translate }}</a>
              </div>
            </div>


            <div class="recapUpload__col recapUpload__col--2">
              <div id="flashContent" ng-if="!isHTML5 && showPartecipate(contest.type_id).video()">
          			<form method="post" enctype="multipart/form-data" id="recordingForm">
          				<input name="FileInput" id="FileInput" type="file" accept="video/*" capture="camcorder"/>
          				<input type="submit"  id="submit-btn" value="Upload" />
          				<img src="../website_public/hdfvr/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
          			</form>
          			<div id="progressbox">
                  <div id="progressbar"></div>
                  <div id="statustxt">0%</div>
                </div>
          			<div id="output"></div>
          			<video id='recorderVideo' controls width="320" height="240">
          				<source src="">
          			</video>
        			</div>
              <!--<a class="recapVideo__play" ng-click="playVideo()"></a>-->
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- upload video s5 Feedback -->
    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s5' }">
      <div class="partecipate__content">
        <p class="uploadFeedback">
          <span data-ng-bind-html="'ThanksPartecipate' | translate | htmlSafe"></span>
        </p>
        <p class="uploadFeedback__share">
          <span data-ng-bind-html="'ShareMsn' | translate | htmlSafe"></span>
        </p>
        <div class="uploadFeedback__link">
            <a class="uploadFeedback__fb" href="#"
              socialshare
              socialshare-provider="facebook"
              socialshare-url="{{ urlContest }}"
            ></a>
            <a class="uploadFeedback__tw" href="#"
              socialshare
              socialshare-provider="twitter"
              socialshare-url="{{ urlContest }}"
            ></a>
        </div>
      </div>
    </div>

    <div class="partecipate noUserEntries" ng-class="{ 'activeView' : stateView == 'noUserEntries' }">
      <div class="partecipate__content">
        <p class="uploadFeedback">
          <span data-ng-bind-html="'NoUserEntriesMsn' | translate | htmlSafe"></span>
        </p>
        <a href="#" class="canvasHeader__partecipate" ng-click="activeView('partecipate--s1', 'partecipate')" ng-if="showPartecipate(contest.type_id).photoLogged()">{{ "PartecipatePhoto" | translate }}</a>
        <a href="#" class="canvasHeader__partecipate" ng-click="activeView('partecipate--s1', 'partecipate')" ng-if="showPartecipate(contest.type_id).videoLogged()">{{ "PartecipateVideo" | translate }}</a>
        <a href="#" class="canvasHeader__partecipate canvasHeader__partecipateText" ng-click="activeView('partecipate--s6', 'partecipate')" ng-if="showPartecipate(contest.type_id).textLogged()">{{ "PartecipateText" | translate }}</a>
      </div>
    </div>

    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s6' }">
      <div class="partecipate__content">
        <form name="esSaysForm">
          <fieldset class="partecipate__text">
            <textarea class="genericForm__textArea" name="sentence" id="" cols="30" rows="10" ng-model="sentence" placeholder="insert your text"></textarea>
          </fieldset>
          <button class="genericForm__btn" ng-click="sendContest().esSaysStep1()">{{ "Confirm" | translate }}</button>
        </form>
      </div>
      </div>
    <!-- upload text s2 Recap form -->
    <div class="partecipate" ng-class="{ 'activeView' : stateView == 'partecipate--s7' }">
        <div class="partecipate__recap">
          <div class="partecipate__recapCol"></div>
          <div class="partecipate__recapCol">
            <div class="recapUpload">
              <div class="recapUpload__col">
                <form name="sendContestForm" class="sendContestForm">
                  <fieldset class="genericForm__field j-field">
                    <label class="genericForm__label"  for="videoName">
                      <input class="genericForm__input j-fieldItem" type="text" ng-model="sendContestForm__title" id="videoName" placeholder="{{ 'TitlePlaceholder' | translate }}" autocomplete="off" required name="title">
                    </label>
                    <span class="genericForm__error" ng-show="sendContestForm__ErrorName">{{ "TitleError" | translate }}</span>
                  </fieldset>
                  <div class="genericForm__hashtag">
                    <span>{{ contest.hashtag }}</span>
                  </div>
                  <input class="genericForm__btn" ng-if="contest.type_id == contestType.photos" ng-click="sendContest().step2()" type="submit" value="Confirm" ng-disabled>
                  <input class="genericForm__btn" ng-if="contest.type_id == contestType.text" ng-click="sendContest().esSaysStep2()" type="submit" value="Confirm">
                  <button class="genericForm__btn disabled" ng-if="contest.type_id == contestType.photos" ng-click="uploadAgain()" >{{ "UploadAgain" | translate }}</button>
                </form>
              </div>
              <div class="recapUpload__col recapUpload__col--2 recapUpload__mobile" style="background-image: url({{ objSendContest.file }})">
                <img class="recapUpload__img" src="{{ objSendContest.file }}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
</div>
  </div>
  <!-- canvas -->
  <section class="canvasHeader" ng-cloak>
<!-- <img src="assets/theme-01/images/bgCanvas.jpg" class="tilt-effect" alt=""  data-tilt-options='{ "opacity" : 0.8, "bgfixed" : false, "extraImgs" : 4, "movement": { "perspective" : 1500, "translateX" : 80, "translateY" : 80, "translateZ" : 0, "rotateY" : 20 } }' /> -->
<div class="canvasHeader__bg"></div>
<div class="canvasHeader__text">
  <h1 class="canvasHeader__title" ng-bind-html="contest.name"></h1>
  <h2 class="canvasHeader__subtitle">{{ contest.hashtag }}</h2>
</div>
<div ng-if="contest.status == 3">
  <a href="#" class="canvasHeader__partecipate" ng-click="toastr.warning('{{ 'SheduledMsg' |  translate }}')">{{ "PartecipatePhoto" | translate }}</a>
</div>
<div ng-if="contest.status == 1">
  <a href="#" class="canvasHeader__partecipate" ng-click="activeView('signIn--s1', 'signIn')" ng-if="showPartecipate(contest.type_id).photo()">{{ "PartecipatePhoto" | translate }}</a>
  <a href="#" class="canvasHeader__partecipate" ng-click="activeView('signIn--s1', 'signIn')" ng-if="showPartecipate(contest.type_id).video()">{{ "PartecipateVideo" | translate }}</a>
  <a href="#" class="canvasHeader__partecipate canvasHeader__partecipateText" ng-click="activeView('signIn--s1', 'signIn')" ng-if="showPartecipate(contest.type_id).text()">{{ "PartecipateText" | translate }}</a>
  <a href="#" class="canvasHeader__partecipate" ng-click="activeView('partecipate--s1', 'partecipate')" ng-if="showPartecipate(contest.type_id).photoLogged()">{{ "PartecipatePhoto" | translate }}</a>
  <a href="#" class="canvasHeader__partecipate" ng-click="activeView('partecipate--s1', 'partecipate')" ng-if="showPartecipate(contest.type_id).videoLogged()">{{ "PartecipateVideo" | translate }}</a>
  <a href="#" class="canvasHeader__partecipate canvasHeader__partecipateText" ng-click="activeView('partecipate--s6', 'partecipate')" ng-if="showPartecipate(contest.type_id).textLogged()">{{ "PartecipateText" | translate }}</a>
</div>

  </section>
 <!-- content -->
<div class="content js-in-out-animation j-fixHeaderItem">
<article class="competition js-in-out-item js-outOff j-toggle" data-offset="10">
  <div class="competition__intro">
    <p class="competition__abstract" ng-bind-html="contest.concept"></p>
    <a href="#" class="competition__more j-toggleBtn">{{ "More" | translate }}</a>
  </div>
  <div class="competition__detail j-toggleItem">
    <div class="competition__colLeft">
      <p class="competition__description">
        {{ contest.how_to_win }}
      </p>
    </div>
    <div class="competition__colRight">
      <div class="competition__aux">
        <dl class="competition__info">
          <dd>{{ "OpeiningData" | translate }}</dd>
          <dt>{{ contest.start_time | date : 'MMM d, y h:mm:ss a' }}</dt>
          <dd>{{ "ClosingData" | translate }}</dd>
          <dt>{{ contest.end_time }}</dt>
          <dd>{{ "TimeLeft" | translate }}</dd>
          <dt>{{ contest.time_left }}</dt>
          <dd class="competition__label">{{ "Share" | translate }}</dd>
          <dt class="competition__icon">
            <a class="competition__fb" href="#"
              socialshare
              socialshare-provider="facebook"
              socialshare-url="{{ urlContest }}"
            ></a>
            <a class="competition__tw" href="#"
              socialshare
              socialshare-provider="twitter"
              socialshare-url="{{ urlContest }}"
            ></a>
          </dt>

          <dd class="competition__label" ng-if="showPartecipate(contest.type_id).photo()">{{ "PartecipatePhoto" | translate }}</dd>
          <dd class="competition__label" ng-if="showPartecipate(contest.type_id).video()">{{ "PartecipateVideo" | translate }}</dd>
          <dd class="competition__label" ng-if="showPartecipate(contest.type_id).text()">{{ "PartecipateText" | translate }}</dd>

          <div ng-if="isAuthenticated()">
            <dt class="competition__icon" ng-if="showPartecipate(contest.type_id).photo()">
              <a class="competition__upload" href="#" ng-click="activeView('partecipate--s1', 'partecipate')"></a>
            </dt>
            <dt class="competition__icon" ng-if="showPartecipate(contest.type_id).video()">
              <a class="competition__upload" href="#" ng-click="activeView('partecipate--s4', 'partecipate')"></a>
            </dt>
            <dt class="competition__icon" ng-if="showPartecipate(contest.type_id).text()">
              <a class="competition__upload" href="#" ng-click="activeView('partecipate--s6', 'partecipate')"></a>
            </dt>
          </div>
          <div ng-if="!isAuthenticated()">
            <dt class="competition__icon" ng-if="contest.status == 3">
              <a class="competition__upload" href="#" ng-click="toastr.warning('{{ 'SheduledMsg' |  translate }}')"></a>
            </dt>
            <dt class="competition__icon" ng-if="contest.status == 1">
              <a class="competition__upload" href="#" ng-click="activeView('signIn--s1', 'signIn')"></a>
            </dt>
          </div>
        </dl>
      </div>
    </div>
  </div>
</article>
<section class="awards js-in-out-item js-outOff j-toggle">
  <ul class="awards__list">
    <li class="awards__item" ng-repeat="reward in rewards" ng-class="{ 'awards__itemCol1' : $index == 0 }" ng-show="$index <= 2">
      <span class="awards__icon awards__icon--{{ $index }}">
      </span>
      <p class="awars__text">
        <span class="awars__title" ng-bind-html="reward.title"></span><br>
        <span class="awars__desc" ng-bind-html="reward.description"></span>
      </p>
    </li>
  </ul>
  <a href="#" class="awards__more j-toggleBtn" ng-show="$index >= 3">{{ "More" | translate }}</a>
  <ul class="awards__list awards__list--more j-toggleItem">
    <li class="awards__item" ng-repeat="reward in rewards" ng-show="$index >= 3">
      <span class="awards__icon awards__icon--{{ $index }}">
      </span>
      <p class="awars__text">{{ reward.title }} <br> <span class="awars__desc" ng-bind-html="reward.description"></span></p>
    </li>
  </ul>
</section>

<section class="nominations">
  <botton class="nominations__orderBtn" ng-class="{ 'nominations__orderBtn--active': storedEntries.orderBy == 'morePopular' }" ng-click="btnEntriesOrderBy('morePopular')">{{ "MorePopular" | translate }}</botton> /
  <botton class="nominations__orderBtn" ng-class="{ 'nominations__orderBtn--active': storedEntries.orderBy == 'lessPopular' }" ng-click="btnEntriesOrderBy('lessPopular')">{{ "LessPopular" | translate }}</botton>
  <ul class="nominations__top" infinite-scroll='btnLoadMore()' infinite-scroll-distance='0'>
    <li class="nominations__topItem js-in-out-item js-outOff" ng-repeat="entry in entries">
      <div class="nominations__box">
        <div class="nominations__image" ng-if="contest.type_id == contestType.videos">
            <img src="{{ entry.image }}" alt="{{ entry.name }}" />
        </div>
        <div class="nominations__image" ng-if="contest.type_id == contestType.photos">
          <img src="{{ domainRes }}/photos/{{ entry.image }}" alt="{{ entry.name }}" />
        </div>
        <div class="nominations__image" ng-if="contest.type_id == contestType.text">
          <img src="{{ domainRes }}/essays/{{ entry.image }}" alt="{{ entry.name }}" />
        </div>
        <article class="nominations__info">
          <h3 class="nominations__Name">{{ entry.name }}</h3>
          <div class="nominations__infoBottom">
            <nav class="nominations__share">
              <span class="nominations__label nominations__label--share">{{ "Share" | translate }}</span>
              <ul ng-if="contest.type_id == contestType.photos">
                <li class="nominations__shareItem">
                  <a href="#" class="nominations__fb"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url="{{ domain }}/FacebookSharePhoto/{{ entry.image | getHtml }}"></a></li>
                <li class="nominations__shareItem">
                  <a href="#" class="nominations__tw"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-url="{{ domain }}/FacebookSharePhoto/{{ entry.image | getHtml }}"></a>
                </li>
              </ul>
              <ul ng-if="contest.type_id == contestType.videos">
                <li class="nominations__shareItem">
                  <a href="#" class="nominations__fb"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url="{{ domain }}/FacebookShare/{{ entry.image | getHtml }}"></a></li>
                <li class="nominations__shareItem">
                  <a href="#" class="nominations__tw"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-url="{{ domain }}/FacebookShare/{{ entry.image | getHtml }}"></a>
                </li>
              </ul>
              <ul ng-if="contest.type_id == contestType.text">
                <li class="nominations__shareItem">
                  <a href="#" class="nominations__fb"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url="{{ domain }}/FacebookShareEssay/{{ entry.image | getHtml }}"></a></li>
                <li class="nominations__shareItem">
                  <a href="#" class="nominations__tw"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-url="{{ domain }}/FacebookShareEssay/{{ entry.image | getHtml }}"></a>
                </li>
              </ul>
            </nav>
            <div class="nominations__rightCol">
              <div class="nominations__rank"><span class="nominations__label">{{ "Rank" | translate }}</span>{{ entry.rank_position }}</div>
              <div class="nominations__buzz"><span class="nominations__label">{{ "SocialBuzz" | translate }}</span>{{ entry.score }}</div>
            </div>
          </div>
          <a class="recapVideo__play" ng-click="openVideo(entry)" ng-if="contest.type_id == contestType.videos"></a>
        </article>
      </div>
    </li>
  </ul>
</section>
 </div>
  <!-- footer -->
  <footer class="footer" ng-if="contest.service_type == 1">
  <div class="footer__content">
      <span class="footer__label"><a href="https://www.buzzmybrand.com" target="_black">Powered by BuzzMyBrand</a></span>
      <a href="https://www.buzzmybrand.com" target="_black"><span class="footer__logo"></span></a>
  </div>
  </footer>
</div>
