<div ng-class="{loading: loading['pl']}">
    <div class="row" id="plans-container" ng-hide="plans === null">
        <div class="alert alert-danger" ng-show="planError">
            <div class="plan-errors text-danger">{{ planError | translate }}</div>
        </div>

		
		

		<ng-form id="package-form" name="package-form" novalidate >
			
			<div class="plan-block" style="margin-top: 2em;" >
            

                <div class = "panel panel-default col-md-9 vbottom" style="border: 0; margin: 0;">
                    <div class = "panel-heading">
                        <h3 class = "panel-title" style="font-size: large; font-weight: bold;">{{ plans[0].name }}</h3>
                    </div>

                    <div class = "panel-body" style="width: 100%; padding: 15px 0px;" ng-show="contest.contest_status == 4">
                        <div class="checkbox inverted full-width" >
							<label>
								<input type="checkbox" class="checkbox-fld" ng-click="setPackage(1)" ng-model="has_buzz" ng-checked="contest.contest_service_type == 1">
								<span class="help-text">This is a Basic package. Your Current selection with the following features:</span>
							</label>
						</div>
                    </div>
					
                    <div class = "panel-body" style="width: 100%; padding: 15px 0px;" ng-show="contest.contest_status == 3">
                        You have already selected and checkout for this package. You will be billed when the contest starts.
                    </div>

                    <table ng-show="contest.contest_status == 4" class = "table-buzz" >
                        <thead>
                        <tr>
                            <th style="width: 90%;">Features</th>
                            <th style="width: 10%;">Price </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Photo, Video or Text Contest</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Unlimited leads</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Social Media Integration</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Design Template</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Contest Microsite</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dashboard with basic analytics</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Contents’ Approval</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Social Buzz analysis</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Post Visibility selection</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Trending Hashtag selection</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Standard T&C</td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Price</td>
                            <td>&euro; {{ (plans[0].fixed_fee/100).toFixed(2) }}</td>
                        </tr>
                        </tfoot>
                    </table>

                </div>


                <div class="col-md-2 vbottom">
                    <div class="row text-center" style="padding:1em;">
                        <input style="text-align: center;" class="coupon-button form-control" type="text" size="5" value="" name="coupon" placeholder="Insert Coupon" ng-model="contest.buzz_coupon" ng-disabled="contest.contest_service_type != 1"/>
                    </div>
					<!--
                    <div class="row text-center">
                        <input type="hidden" class="field-hidden" id="buzz_amount" name="amount" value="{{ plans[0].fixed_fee }}" />
                        <input type="hidden" class="field-hidden" id="buzz_service_type" name="service_type" value="{{ plans[0].service_type }}" />
                        <input type="hidden" class="field-hidden" id="buzz_description" name="description" value="{{ plans[0].name }}" />
                        <button class="submitcoupon-button0 btn btn-dashboard btn-blue" style="min-width: 150px;" type="button" ng-disabled="!card.id || contest.contest_service_type == 1" ng-click="StripeCouponSubmit(plans[0].service_type)">{{ 'CHECKOUT' | translate }}</button>
                    </div>
					-->
                </div>
            
			</div>
			
						
			<div class="clearfix plan-separator"></div>
			
			
			
			
			<div class="plan-block" style="margin-top: 2em;" >
            <!--<ng-form id="superbuzz-form" ng-submit="StripeCouponSubmit(plans[1].service_type)" name="superbuzz-form">-->

				<div class = "panel panel-default col-md-9 vbottom" style="border: 0; margin: 0;">
					<div class = "panel-heading">
						<h3 class = "panel-title" style="font-size: large; font-weight: bold;">{{ plans[1].name }}</h3>
					</div>
					
					
					<div class = "panel-body" style="width: 100%; padding: 15px 0px;" ng-show="contest.contest_status == 4">
                        <div class="checkbox inverted full-width">
							<label>
								<input type="checkbox" class="checkbox-fld" ng-click="setPackage(2)" ng-model="has_superbuzz" ng-checked="contest.contest_service_type == 2">
								<span class="help-text">This is a SuperBuzz package. Boost your contest with the following features:</span>
							</label>
						</div>
                    </div>					
					
					<div class = "panel-body" style="width: 100%; padding: 15px 0px;" ng-show="contest.contest_status == 3">
						You have already selected and checkout for this package. You will be billed when the contest starts.
					</div>

					<table ng-show="contest.contest_status == 4" class = "table-buzz">
						<thead>
						<tr>
							<th style="width: 90%;">Features</th>
							<th style="width: 10%;">Price </th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Contest URL Whitelabeling (No Buzzmybrand URL and Logos)</td>
							<td></td>
						</tr>

						<tr>
							<td>Participants leads and mail addresses (to be used for future campaigns)</td>
							<td></td>
						</tr>
						<tr>
							<td>Advanced analytics (get to know your campaign reach, unique impressions, users’ login details, single entries’ details)</td>
							<td></td>
						</tr>
						<tr>
							<td>Invite-a-Friend Viral Sharing Incentives (Increase virality)</td>
							<td></td>
						</tr>
						<tr>
							<td>Contest report in PDF (a detailed report to share within your company)</td>
							<td></td>
						</tr>
						<tr>
							<td>Corporate Website integration (iFrame HTML tag)</td>
							<td></td>
						</tr>
						<tr>
							<td>Users notifications (you can notify your followers with mail and social media)</td>
							<td></td>
						</tr>
						<tr>
							<td>Email & Live Chat Support (a dedicated account manager)</td>
							<td></td>
						</tr>

						</tbody>
						<tfoot>
						<tr>
							<td>Price</td>
							<td>&euro; {{ (plans[1].fixed_fee/100).toFixed(2) }}</td>
						</tr>
						</tfoot>
					</table>

				</div>


				<div class="col-md-2 vbottom">
					<div class="row text-center" style="padding:1em;">
						<input style="text-align: center;" class="coupon form-control" type="text" size="5" value="" name="coupon" placeholder="Insert Coupon" ng-model="contest.superbuzz_coupon" ng-disabled="contest.contest_service_type != 2"/>
					</div>
					<!--
					<div class="row text-center">
						<input type="hidden" class="field-hidden" id="superbuzz_amount" name="amount" value="{{ plans[1].fixed_fee }}" />
						<input type="hidden" class="field-hidden" id="superbuzz_service_type" name="service_type" value="{{ plans[1].service_type }}" />
						<input type="hidden" class="field-hidden" id="superbuzz_description" name="description" value="{{ plans[1].name }}" />
						<button class="submitcoupon-button1 btn btn-dashboard btn-blue" style="min-width: 150px;" type="button" ng-disabled="!card.id || contest.contest_service_type == 2" ng-click="StripeCouponSubmit(plans[1].service_type)">{{ 'CHECKOUT' | translate }}</button>
					</div>
					-->
				</div>
				<!--</ng-form>-->
			</div>
			
			
		</ng-form>
	

        <div class="vert-spacer"></div>
    </div>
</div>