.overlay--personal
	background: #3e3d4d

.overlay__title
	color: $headerColor
	+responsiveFontSize(35px, 15)

.overlay__bottomInfo
	color: $headerColor2
	+responsiveFontSize(12px, 2)
	@extend %font-sans-light

	a
		color: $headerColor

		&:hover
			color: $themeColor

.externalsignIn__btn
	@extend %btn
	background: $headerColor
	color: #000
	&.enabled
		background-color: $themeColor

.externalsignIn__fb
	background: url(images/svg/social/fb-s-black.svg) center center no-repeat

.externalsignIn__tw
	background: url(images/svg/social/tw-s-black.svg) center center no-repeat

.genericForm__smbEmail
	background: url(images/svg/email-arrow.svg) center center no-repeat

.signIn__text
	color: $headerColor
	+responsiveFontSize(12px, 2)
	line-height: 1.5

.genericForm__input[type="text"], .genericForm__input[type="email"], .genericForm__input[type="password"]
	@extend %font-sans-regular
	+responsiveFontSize(20px, 10)

.genericForm__btn
	@extend %btn
	background: $headerColor
	color: $themeColor
	display: block
	+responsiveFontSize(14px, 2)

	&.disabled
		background: #141414
		color: $headerColor2


// myList

.myList__label
	+responsiveFontSize(12px, 0)
	color: $headerColor

.myList__name
	+responsiveFontSize(25px, 15)
	color: $headerColor

.myList__rank
	+responsiveFontSize(25px, 15)
	color: $headerColor

.myList__buzz
	+responsiveFontSize(25px, 15)
	color: $headerColor


.myList__share
	color: $headerColor

.myList__shareFb
	background: url(images/svg/social/fb-white.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/social/fb-green.svg)

.myList__shareTw
	background: url(images/svg/social/tw-white.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/social/tw-green.svg)

.myList__video, .recapVideo
	background: #ccc

.recapVideo__play,
.myList__videoPlay
	background: url(images/svg/video/play.svg) center center no-repeat


// partecipate


.partecipate__btn
	color: $headerColor
	& + .partecipate__btn
		margin-left: 20px


.partecipate__upload
	background: url(images/svg/video/uploadV.svg) center center no-repeat
	&:hover
		.no-touch &
			background-image: url(images/svg/video/uploadV-hover.svg)

.partecipate__record
	background: url(images/svg/video/rec.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/video/rec-hover.svg)

.partecipate__startRecord
	background: url(images/svg/video/recording.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/video/recording-hover.svg)

.partecipate__pause
	background: url(images/svg/video/pause.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/video/pause-hover.svg)


.partecipate__countdown
	@extend %font-sans-regular
	+responsiveFontSize(80px, 20)
	color: $headerColor


.uploadFeedback
	color: $headerColor

.uploadFeedback__share
	color: $headerColor

.uploadFeedback__fb
	background: url(images/svg/social/fb-white.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/social/fb-green.svg)

.uploadFeedback__tw
	background: url(images/svg/social/tw-white.svg) center center no-repeat
	&:hover
		background-image: url(images/svg/social/tw-green.svg)
