.header
	color: $headerColor
	&.inverted
		color: #000

.servicesNav
	@extend %font-sans-light

.nav__signiIn
	color: $headerColor
	.inverted &
		color: #000

.servicesNav__sponsor
	background: url(images/svg/sponsor.svg) 145% center no-repeat
	background-size: 60%
	.inverted &
		background-image: url(images/svg/sponsor-black.svg)

.socialNav__fb
	background: url(images/svg/social/fb.svg) center center no-repeat
	.inverted &
		background-image: url(images/svg/social/fb-s-black.svg)
	&:hover
		background-image: url(images/svg/social/fb-s-green.svg)

.socialNav__tw
	background: url(images/svg/social/tw.svg) center center no-repeat
	.inverted &
		background-image: url(images/svg/social/tw-s-black.svg)
	&:hover
		background-image: url(images/svg/social/tw-s-green.svg)

.socialNav__email
	background: url(images/svg/social/email.svg) center center no-repeat
	.inverted &
		background-image: url(images/svg/social/email-black.svg)
	&:hover
		background-image: url(images/svg/social/email-green.svg)

.overlayMenu__btnLoad
	background: url(images/svg/upload-header.svg) center center no-repeat
	.inverted &
		background: url(images/svg/upload-black.svg) center center no-repeat
	&:hover
		background: url(images/svg/upload-header-hover.svg) center center no-repeat

.overlayMenu__btnPersonal
	background: url(images/svg/menu-header.svg) center center no-repeat
	.inverted &
		background: url(images/svg/menu-black.svg) center center no-repeat
	&:hover
		background: url(images/svg/menu-hover.svg) center center no-repeat

#loading-bar-spinner
	.spinner-icon
		border-top-color: $themeColor !important
		border-left-color: $themeColor !important
#loading-bar
	.bar
		background: $themeColor !important			
