#flying-flags {position:absolute; top:100px; left:40px;}                                                                                                                                                                                                