#nav.affix {
    position: fixed;
    top: 0;
    width: 102%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    background-image: url(../../lib/img/bg.png);
    padding: 20px;
}

.logo
{
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -20px;
}

.forgotLnk
{
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
    display: block;
    color: #fff !important;
    text-decoration: underline;
    font-weight: normal;
}


.or-box
{
    position: relative;
    padding-top: 20px;
    margin-top:20px;
    margin-bottom: 20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    background-image: url(../../lib/img/facebook.png);
    color: #fff;
    margin-top: 10px;
    border-radius: 0px !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    margin-top: 10px;
    border-radius: 0px !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
    background-image: url(../../lib/img/twitter.png);
}
.mytext
{
    border-radius: 0px !important;
    height: 40px !important;
    font-size: 18px !important;
}
.mybtn
{
    border-radius: 0px !important;
    background-color: #000 !important;
    color:#fff !important;
    border-radius: 0px !important;
    color:#fff !important;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
}
.mysingup
{
    border-radius: 0px !important;
    background-color: #000 !important;
    color:#fff !important;
    border:0px !important;
    font-weight: bold;
    font-size: 14px;
}
.btn-block:hover
{
    color:#fff !important;
}

.mybtn2
{
    border-radius: 0px !important;
    color:#000 !important;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
    background-image: url(../../lib/img/signup.png);
}
.btn-signup
{
    color: #000;
    margin-top: 10px;
    border-radius: 0px !important;
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
    background-image: url(../../lib/img/signup.png);
}
.mylink
{
    color: #fff;
    text-decoration: underline;
}
.profilepic
{
     width: 100px !important; height: 100px !important; margin: auto; float: none;
    cursor: pointer;
}
.Errormessage
{
    width:100%; background-color: #666; height: 100px; margin-top: 20px;
    font-size: 14px;
    color:#000;
}
.Errormessage p
{
    font-size: 14px;
    line-height: 100px;
    color:#fff;
}

.sentmessage
{
    width:100%; background-color: #cad590; height: 100px; margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color:#000;
    padding-top: 30px;
}
.sentmessage p
{
    margin: 0px;
    padding:0px;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

.list-scroll
{
    padding: 0px;
    padding: 0px;
    width: 48.6%;
    margin-left: 25.7%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 603px;
    background-image: url(../../lib/img/bg.png);
}
.heading-div
{
    margin: auto; background-color:#666; width: 100%; color: #fff; text-indent: 20px;
}
.prependedInput
{
	height:30px !important;
}
.add-on
{
	height:30px !important;
	line-height:25px !important;
}
@media(max-width:400px){
    .list-scroll
    {
        padding: 0px;
        padding: 0px;
        width: 100% !important;
        margin-left: 5%;
    }
    .heading-div
    {
        margin: auto; background-color:#fff; width: 100%; color: #000; text-indent: 20px;
    }
}

@media(min-width:780px) and (max-width:990px){
    .list-scroll
    {
        padding: 0px;
        padding: 0px;
        width: 100% !important;
        margin-left: 0%;
    }
    .heading-div
    {
        margin: auto; background-color:#fff; width: 100%; color: #000; text-indent: 20px;
    }
}

@media(min-width:400px) and (max-width:780px){
    .list-scroll
    {
        padding: 0px;
        padding: 0px;
        width: 100% !important;
        margin-left: 2.5%;
    }
    .heading-div
    {
        margin: auto; background-color:#fff; width: 100%; color: #000; text-indent: 20px;
    }
    
    
}
    .btn-primary-style
    {
        background-color: transparent !important; border:none !important; padding: 0px !important;
    }
    .LogoText
    {
        height: 230px !important; width: 230px !important; background-color: #ccc !important; line-height: 230px !important; text-shadow: 0px !important; font-size: 18px !important; color: #666 !important;
    }

    .my-upload
    {
        width: 230px !important; height: 230px !important;
    }

    .fileUpload 
    {
       position: relative;
       overflow: hidden;
       margin: 10px;
    }
    .fileUpload input.upload 
    {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    
    .upload-btn
    {
        width: 91% !important;
        margin-left: 10px !important;
    }

    .profilepic2
    {
         width: 100px !important; height: 100px !important; margin: auto; float: none;
        cursor: pointer;
        margin-bottom: 25px;
        margin-top: -20px;
    }
    .my-uploadbg
    {
        background-color: #ccc !important;
        border: none !important;
        color:#666 !important;
        margin-left: -10px !important;
        line-height: 100px !important;
    }
