<div>
    <div class="section-heading">
        <h1 class="section-title">{{ 'PAYMENTS' | translate }}</h1>
        <h3 class="section-subtitle">{{ 'FINANCIAL_SITUATION' | translate }}</h3>
    </div>
    <div class="section-heading-right">
        <a href="mailto:{{ getContactUsMail() }}" class="btn btn-dashboard btn-large btn-blue">{{ 'CONTACT_US' | translate }}</a>
    </div>

    <div class="clearfix"></div>
    <div class="vert-spacer"></div>
	<!--
    <div class="row" ng-if="false">
        <div class="col-md-12">
            <h3 class="section-sub-heading">{{ 'YOUR_CURRENT_PLAN' | translate }}</h3>
            <div class="heading-separator"></div>
            <div class="vert-spacer"></div>
            <div ng-if="credits.length === 0" class="alert alert-warning alert-no-results">
                <div class="text-no-results">{{ 'NO_CREDITS_AVAILABLE' | translate }}</div>
            </div>
            <div ng-class="{loading: !credits}">
                <div class="plan-entry row" ng-repeat="credit in credits">
                    <div class="plan-block plan-total col-sm-4">
                        <div>
                            <span class="plan-qty">{{ credit.total_qty }}</span>
                            <span class="plan-sub">{{ credit.verbose_service_type }}</span>
                        </div>
                    </div>
                    <div class="plan-block plan-used col-sm-4">
                        <div>
                            <span class="plan-qty">{{ credit.used_qty }}</span>
                            <span class="plan-sub">{{ 'CONTESTS_DONE' | translate }}</span>
                        </div>
                    </div>
                    <div class="plan-block plan-left col-sm-4">
                        <div>
                            <span class="plan-qty">{{ credit.available_qty }}</span>
                            <span class="plan-sub">{{ 'CONTESTS_AVAILABLE' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vert-spacer"></div>
	-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-sub-heading">{{ 'INVOICES' | translate }}</h3>
            <div class="heading-separator"></div>
            <div class="vert-spacer"></div>
            <div ng-if="invoices.length === 0" class="alert alert-warning alert-no-results">
                <div class="text-no-results">{{ 'NO_INVOICE' | translate }}</div>
            </div>
            <div class="vert-spacer"></div>
            <div class="invoices" ng-class="{loading: invoices === null}" ng-if="invoices.length > 0">
                <div class="invoice-heading">
                    <div class="col-md-1"><div>{{ 'INVOICE_ID' | translate }}</div></div>
                    <div class="col-md-2"><div>{{ 'DATE' | translate }}</div></div>
                    <div class="col-md-3"><div>{{ 'INVOICE_SUBJECT' | translate }}</div></div>
                    <div class="col-md-3"><div>{{ 'CONTEST_TITLE' | translate }}</div></div>
                    <div class="col-md-1"><div>{{ 'INVOICE_DOWNLOAD' | translate }}</div></div>
                    <div class="col-md-2"><div>{{ 'INVOICE_STATUS' | translate }}</div></div>
                </div>
                <div class="invoice-row no-invoices" ng-show="isEmpty(invoices)">{{ 'NO_INVOICES' | translate }}</div>
                <div class="invoice-row" ng-repeat="invoice in invoices">
                    <div class="col-md-1"><div>{{ invoice.formatted_id }}</div></div>
                    <div class="col-md-2"><div>{{ invoice.ISO_payment_date | date:'shortDate' }}</div></div>
                    <div class="col-md-3"><div>{{ invoice.description | translate }}</div></div>
                    <div class="col-md-3"><div>{{ invoice.contest_name | translate }}</div></div>
                    <div class="col-md-1"><div><a href="{{ invoice.pdf_url }}" title="PDF" target="_blank"><i class="fa fa-cloud-download invoice-pdf"></i></a></div></div>
                    <div class="col-md-2"><div><i ng-class="invoice.is_paid == 1 ? 'fa fa-check' : 'fa fa-times'"></i></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="vert-spacer"></div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="section-sub-heading">{{ 'CREDIT_CARD' | translate }}</h3>
            <div class="heading-separator"></div>
            <div class="vert-spacer"></div>

            <div class="clearfix"></div>
            <credit-cards></credit-cards>
        </div>
    </div>
</div>