@font-face {
    font-family: "GillSansInfantStdRegular";
    src: url(//wistia.com/assets/gillsansinfant-b854fa258faa2e886ed352e71fb667ab.eot);
    src: url(//wistia.com/assets/gillsansinfant-b854fa258faa2e886ed352e71fb667ab.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/gillsansinfant-83405517a4f536009b4ecb16a19af54a.woff) format("woff"), url(//wistia.com/assets/gillsansinfant-b362374ea5bdc06c0bada201e572580f.ttf) format("truetype"), url(//wistia.com/assets/gillsansinfant-0ab196b4860746c80e4a43a7da9b076d.svg#gillsansinfant) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticaneue45";
    src: url(//wistia.com/assets/helveticaneue45-17ea6c2502b3a73bfe6d3295f600df93.eot);
    src: url(//wistia.com/assets/helveticaneue45-17ea6c2502b3a73bfe6d3295f600df93.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/helveticaneue45-1125f4ff7b92aefe342264b0300f8795.woff) format("woff"), url(//wistia.com/assets/helveticaneue45-010895514b914a8cad3d86db6a264b84.ttf) format("truetype"), url(//wistia.com/assets/helveticaneue45-354583f43d36a84f9ae17af961f341dc.svg#helveticaneue45) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue65";
    src: url(//wistia.com/assets/HelveticaNeue65-bf3a8c17737c5862810e2843d0c1e5a9.eot);
    src: url(//wistia.com/assets/HelveticaNeue65-bf3a8c17737c5862810e2843d0c1e5a9.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/HelveticaNeue65-1476d58088278f4ed5ceacd8a47104f7.woff) format("woff"), url(//wistia.com/assets/HelveticaNeue65-b69febf796c388d52ddbae717eb2b5fd.ttf) format("truetype"), url(//wistia.com/assets/HelveticaNeue65-832d36258a6bac037069d4df0c3080c7.svg#HelveticaNeue65) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gill Sans";
    src: url(//wistia.com/assets/gillsanslight-0f4fe025343571fcf6ac494e1dcbf186.eot);
    src: url(//wistia.com/assets/gillsanslight-0f4fe025343571fcf6ac494e1dcbf186.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/gillsanslight-d4016c6faff5afb97c6e57ec9f45cddd.woff) format("woff"), url(//wistia.com/assets/gillsanslight-2caa0f72f2ed22cc1ac06012b3a9a603.ttf) format("truetype"), url(//wistia.com/assets/gillsanslight-4bdf4a64b81d541f1252573c846f56a3.svg#gillsanslight) format("svg");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-35-3537974ab3507eed8062fa7297e830e4.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-35-3537974ab3507eed8062fa7297e830e4.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-35-c2a38356af8912385b805d82c20845d7.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-35-a653496f60edfd9e38d47a9bbdfbb825.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-35-d18ca33b72a85e85f8e9c7b131437e5c.svg#Avenir-35) format("svg");
    font-weight: 200;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-35-oblique-ee047699d9821d54bdbaa1e655718a63.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-35-oblique-ee047699d9821d54bdbaa1e655718a63.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-35-oblique-b6a822a9d9b969a6564995e528eef2ef.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-35-oblique-d5059be9893eada42b4e1bf6832b7168.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-35-oblique-1174b3205905bef00a22675acdcd779a.svg#avenir-35-oblique) format("svg");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-45-8fbc5ac7b649bd3ac8167c8a9b5941e1.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-45-8fbc5ac7b649bd3ac8167c8a9b5941e1.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-45-34d60fcb2539e7f3714f7369a6664072.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-45-618661f92b69f80430594ca6a7c886a9.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-45-af857a695e2ee6e2cb6c8eb3f8099a52.svg#avenir-45) format("svg");
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-45-oblique-16ad09b2bbfb690197f6d60d05acac69.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-45-oblique-16ad09b2bbfb690197f6d60d05acac69.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-45-oblique-043542d6256ac00fd4cd90849165e928.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-45-oblique-d21c8611ebc6f25e754f1e56fa58a709.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-45-oblique-5b28ff3808ab1e52191e0a8562c045a2.svg#avenir-45-oblique) format("svg");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-65-01496a4a81dc61d6674f700306b81881.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-65-01496a4a81dc61d6674f700306b81881.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-65-53bfc7225b78d1952a03ca9927ab62dc.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-65-25e9f8fbe5609f2a2eb2332d0fc3f56c.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-65-fa69b4f4892adff59535f903e965d508.svg#avenir-65) format("svg");
    font-weight: 500;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-65-oblique-ecde230e8cd163231d4b145f64510caa.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-65-oblique-ecde230e8cd163231d4b145f64510caa.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-65-oblique-f2df56b7c6594c69b2a31989a8b16e05.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-65-oblique-553fd4ed041655c44fda308d9a08a142.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-65-oblique-9d7be09198c48055b23234af07cd1f81.svg#avenir-65-oblique) format("svg");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-85-1a98efd59487f2f677ae33fbfbb57a13.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-85-1a98efd59487f2f677ae33fbfbb57a13.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-85-539fcd5aa87bdd43761da8a11815cbe4.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-85-6276c5ba61cf333810711d4fa92022ed.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-85-c79033110c29cac42e325df2d391a97f.svg#avenir-85) format("svg");
    font-weight: 700;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-85-oblique-903b5fc0acccec8ab0697dc89e6e6f84.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-85-oblique-903b5fc0acccec8ab0697dc89e6e6f84.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-85-oblique-ec3c9b748894b07e395384dad749efd6.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-85-oblique-06114fbf77d80fed29c33bd6bd774cf7.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-85-oblique-da4d4f734d2eb18abaf1d03b2175e275.svg#avenir-85-oblique) format("svg");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-95-a7283ae14eeb4c3bcdc3ccc7476aeba8.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-95-a7283ae14eeb4c3bcdc3ccc7476aeba8.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-95-b89744405d1757138ad461b19b2f305c.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-95-931270cbc407f7433f9423fb2a5aea95.ttf) format("truetype"), url(//wistia.com/avenir/avenir-95.svg#avenir-85) format("svg");
    font-weight: 800;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/avenir/avenir-95-oblique.eot?#iefix);
    src: url(//wistia.com/avenir/avenir-95-oblique.eot?#iefix) format("eot"), url(//wistia.com/avenir/avenir-95-oblique.woff) format("woff"), url(//wistia.com/avenir/avenir-95-oblique.ttf) format("truetype"), url(//wistia.com/avenir/avenir-95-oblique.svg#avenir-85-oblique) format("svg");
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "wistiacom-icons";
    src: url(//wistia.com/assets/wistiacom-icons-d3f8bfcf54a300f90d55c50396e66559.eot?7-30-13);
    src: url(//wistia.com/assets/wistiacom-icons-d3f8bfcf54a300f90d55c50396e66559.eot?#iefix?7-30-13) format("embedded-opentype"), url(//wistia.com/assets/wistiacom-icons-7fd3e9293847fd7ebc0a89fc7dcb1421.svg#wistiacom-icons?7-30-13) format("svg"), url(//wistia.com/assets/wistiacom-icons-2c664a34dc80a780e45969085fbb1809.woff?7-30-13) format("woff"), url(//wistia.com/assets/wistiacom-icons-7e1a3a0d7ff2da4c11e65e17e9e33961.ttf?7-30-13) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "wistia-icons";
    src: url(//wistia.com/assets/wistia-icons-13fd316f57839eb2559ec895965b5acb.eot?7-30-13);
    src: url(//wistia.com/assets/wistia-icons-13fd316f57839eb2559ec895965b5acb.eot?#iefix?7-30-13) format("embedded-opentype"), url(//wistia.com/assets/wistia-icons-8bd75115e78cc76247b8f9708a7b0959.svg#wistiacom-icons?7-30-13) format("svg"), url(//wistia.com/assets/wistia-icons-02daaf5cc839eb69e58f11e8c562398a.woff?7-30-13) format("woff"), url(//wistia.com/assets/wistia-icons-07f2e833958631fb28bcc8b5328df546.ttf?7-30-13) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-light/interstate-light-97c7a0d4fae1810e153471cbe678c005.eot);
    src: url(//wistia.com/assets/interstate-light/interstate-light-9e540e0bca3296461462c329a83fcf89.woff) format("woff"), url(//wistia.com/assets/interstate-light/interstate-light-a33dabeb6d6e774548525a1d4cd952fb.ttf) format("truetype"), url(//wistia.com/assets/interstate-light/interstate-light-07d4f0e7872fa2303cbc70fe13bcf4da.svg#interstate-light) format("svg");
    font-weight: 400;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-regular/interstate-regular-485fa9cad4d825368d37f135cd2029ee.eot);
    src: url(//wistia.com/assets/interstate-regular/interstate-regular-dd2691ded92f60cfd8f909fc43745494.woff) format("woff"), url(//wistia.com/assets/interstate-regular/interstate-regular-10b98f30149b67c04cb6af0d5f6e5023.ttf) format("truetype"), url(//wistia.com/assets/interstate-regular/interstate-regular-d4ae6a7bf6023d1fa3e14a2ac32a2b7a.svg#interstate-regular) format("svg");
    font-weight: 700;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-bold/interstate-bold-e93fed0f0fc1c86e983b33a04ffc0f97.eot);
    src: url(//wistia.com/assets/interstate-bold/interstate-bold-3b88fa2ccf5fd9835ce811e8e887d189.woff) format("woff"), url(//wistia.com/assets/interstate-bold/interstate-bold-55206037c25c7098efecdcfbdedc5986.ttf) format("truetype"), url(//wistia.com/assets/interstate-bold/interstate-bold-cd66e34bf1823147f3773a113060a95b.svg#interstate-bold) format("svg");
    font-weight: 900;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-a6cff34cb2afe8bf748aee69ae40cb9a.eot);
    src: url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-0ee6bf0ea157089d4a51f8a0c9ccc2b3.woff) format("woff"), url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-d38e13cd539ed84213226f3376eac1db.ttf) format("truetype"), url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-093534f0d8bdbb2765dda070bbf4d6ac.svg#interstate-lightitalic) format("svg");
    font-style: italic;
}
.form {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    margin-bottom: 100px;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    -moz-placeholder-color: #b2b9c1;
    -moz-placeholder-opacity: 1;
    -ms-input-placeholder-color: #b2b9c1;
    placeholder-shown-color: #b2b9c1;
}
.form input, .form fieldset, .form select, .form input[type="text"], .form input[type="email"] {
    margin-top: 18px;
}
.form label {
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: inline-block;
    display: none;
}
.form input {
    display: block;
}
@media only screen and (min-width: 768px) {
    .form input {
    display: inline-block;
}
}.form ::-webkit-input-placeholder {
    color: #b2b9c1;
}
.form ::-moz-placeholder {
    color: #b2b9c1;
    opacity: 1;
}
.form .email {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 17px;
    height: auto;
    padding: 18px 18px 19px 18px;
    outline: none;
    border: none;
    background-color: #efefef;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%}
@media only screen and (min-width: 768px) {
    .form .email {
    width: 66%;
    margin-right: 3%}
}.form .form-columns-1 .hs-input, .form .form-columns-1 .input, .form fieldset.form-columns-2 .input .hs-input, .form fieldset.form-columns-2 .input .input {
    width: 100%;
    margin-right: 0px;
    color: #363a46;
}
.form .form-columns-2 .hs-form-field:first-of-type .input {
    margin-left: 0px;
    margin-right: 10px;
}
.form .form-columns-2 .hs-form-field:last-of-type .input {
    margin-left: 10px;
    margin-right: 0px;
}
.form select.hs-input {
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: white;
    width: 100%;
    text-align: left;
    border: none;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border-right: 23px solid transparent;
    border-left: 14px solid transparent;
    height: 61px;
}
.form .actions {
    padding: 0px;
    margin-top: 20px;
}
.form input[type="submit"] {
    height: auto;
    background-color: #3ea9f5;
    color: white;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 17px;
    left: 0;
    padding: 18px 18px 19px 18px;
    position: relative;
    font-weight: 600;
    width: 100%;
    text-transform: none;
    letter-spacing: 0px;
    border: none;
    -moz-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    -webkit-transform: translate3d(0,  0,  0);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
@media only screen and (min-width: 768px) {
    .form input[type="submit"] {
    width: 31%}
}.form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #2fa3f4;
    -moz-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    -webkit-transform: translate3d(0,  0,  0);
}
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
    content: " ";
    display: block;
    background: #3ea9f5;
    position: absolute;
    z-index: 30;
    -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5) 2px 5px #000;
    -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5) 2px 5px #000;
    box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5) 2px 5px #000;
}

a {
    color: #217ad5;
}
a:hover {
    color: #337ad5;
}
img {
    border: 0;
}
a.no-hover:hover {
    background: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 16px;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    color: #363945;
    -webkit-font-smoothing: antialiased;
}
::selection {
    background: #3ea9f5;
    color: white;
}
::selection a {
    background: #3ea9f5;
    color: white;
}
h1, h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.flash {
    color: white;
    padding: 0.5em 1em;
    margin: 1em 0;
}
.error {
    background-color: #cc0000;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}
.container.padded {
    padding-top: 40px;
}
.container.contact {
    background-color: white;
}
.text-center {
    text-align: center;
}
@font-face {
    font-family: "GillSansInfantStdRegular";
    src: url(//wistia.com/assets/gillsansinfant-b854fa258faa2e886ed352e71fb667ab.eot);
    src: url(//wistia.com/assets/gillsansinfant-b854fa258faa2e886ed352e71fb667ab.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/gillsansinfant-83405517a4f536009b4ecb16a19af54a.woff) format("woff"), url(//wistia.com/assets/gillsansinfant-b362374ea5bdc06c0bada201e572580f.ttf) format("truetype"), url(//wistia.com/assets/gillsansinfant-0ab196b4860746c80e4a43a7da9b076d.svg#gillsansinfant) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticaneue45";
    src: url(//wistia.com/assets/helveticaneue45-17ea6c2502b3a73bfe6d3295f600df93.eot);
    src: url(//wistia.com/assets/helveticaneue45-17ea6c2502b3a73bfe6d3295f600df93.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/helveticaneue45-1125f4ff7b92aefe342264b0300f8795.woff) format("woff"), url(//wistia.com/assets/helveticaneue45-010895514b914a8cad3d86db6a264b84.ttf) format("truetype"), url(//wistia.com/assets/helveticaneue45-354583f43d36a84f9ae17af961f341dc.svg#helveticaneue45) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue65";
    src: url(//wistia.com/assets/HelveticaNeue65-bf3a8c17737c5862810e2843d0c1e5a9.eot);
    src: url(//wistia.com/assets/HelveticaNeue65-bf3a8c17737c5862810e2843d0c1e5a9.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/HelveticaNeue65-1476d58088278f4ed5ceacd8a47104f7.woff) format("woff"), url(//wistia.com/assets/HelveticaNeue65-b69febf796c388d52ddbae717eb2b5fd.ttf) format("truetype"), url(//wistia.com/assets/HelveticaNeue65-832d36258a6bac037069d4df0c3080c7.svg#HelveticaNeue65) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gill Sans";
    src: url(//wistia.com/assets/gillsanslight-0f4fe025343571fcf6ac494e1dcbf186.eot);
    src: url(//wistia.com/assets/gillsanslight-0f4fe025343571fcf6ac494e1dcbf186.eot?#iefix) format("embedded-opentype"), url(//wistia.com/assets/gillsanslight-d4016c6faff5afb97c6e57ec9f45cddd.woff) format("woff"), url(//wistia.com/assets/gillsanslight-2caa0f72f2ed22cc1ac06012b3a9a603.ttf) format("truetype"), url(//wistia.com/assets/gillsanslight-4bdf4a64b81d541f1252573c846f56a3.svg#gillsanslight) format("svg");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-35-3537974ab3507eed8062fa7297e830e4.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-35-3537974ab3507eed8062fa7297e830e4.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-35-c2a38356af8912385b805d82c20845d7.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-35-a653496f60edfd9e38d47a9bbdfbb825.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-35-d18ca33b72a85e85f8e9c7b131437e5c.svg#Avenir-35) format("svg");
    font-weight: 200;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-35-oblique-ee047699d9821d54bdbaa1e655718a63.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-35-oblique-ee047699d9821d54bdbaa1e655718a63.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-35-oblique-b6a822a9d9b969a6564995e528eef2ef.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-35-oblique-d5059be9893eada42b4e1bf6832b7168.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-35-oblique-1174b3205905bef00a22675acdcd779a.svg#avenir-35-oblique) format("svg");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-45-8fbc5ac7b649bd3ac8167c8a9b5941e1.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-45-8fbc5ac7b649bd3ac8167c8a9b5941e1.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-45-34d60fcb2539e7f3714f7369a6664072.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-45-618661f92b69f80430594ca6a7c886a9.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-45-af857a695e2ee6e2cb6c8eb3f8099a52.svg#avenir-45) format("svg");
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-45-oblique-16ad09b2bbfb690197f6d60d05acac69.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-45-oblique-16ad09b2bbfb690197f6d60d05acac69.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-45-oblique-043542d6256ac00fd4cd90849165e928.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-45-oblique-d21c8611ebc6f25e754f1e56fa58a709.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-45-oblique-5b28ff3808ab1e52191e0a8562c045a2.svg#avenir-45-oblique) format("svg");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-65-01496a4a81dc61d6674f700306b81881.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-65-01496a4a81dc61d6674f700306b81881.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-65-53bfc7225b78d1952a03ca9927ab62dc.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-65-25e9f8fbe5609f2a2eb2332d0fc3f56c.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-65-fa69b4f4892adff59535f903e965d508.svg#avenir-65) format("svg");
    font-weight: 500;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-65-oblique-ecde230e8cd163231d4b145f64510caa.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-65-oblique-ecde230e8cd163231d4b145f64510caa.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-65-oblique-f2df56b7c6594c69b2a31989a8b16e05.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-65-oblique-553fd4ed041655c44fda308d9a08a142.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-65-oblique-9d7be09198c48055b23234af07cd1f81.svg#avenir-65-oblique) format("svg");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-85-1a98efd59487f2f677ae33fbfbb57a13.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-85-1a98efd59487f2f677ae33fbfbb57a13.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-85-539fcd5aa87bdd43761da8a11815cbe4.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-85-6276c5ba61cf333810711d4fa92022ed.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-85-c79033110c29cac42e325df2d391a97f.svg#avenir-85) format("svg");
    font-weight: 700;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-85-oblique-903b5fc0acccec8ab0697dc89e6e6f84.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-85-oblique-903b5fc0acccec8ab0697dc89e6e6f84.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-85-oblique-ec3c9b748894b07e395384dad749efd6.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-85-oblique-06114fbf77d80fed29c33bd6bd774cf7.ttf) format("truetype"), url(//wistia.com/assets/avenir/avenir-85-oblique-da4d4f734d2eb18abaf1d03b2175e275.svg#avenir-85-oblique) format("svg");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/assets/avenir/avenir-95-a7283ae14eeb4c3bcdc3ccc7476aeba8.eot?#iefix);
    src: url(//wistia.com/assets/avenir/avenir-95-a7283ae14eeb4c3bcdc3ccc7476aeba8.eot?#iefix) format("eot"), url(//wistia.com/assets/avenir/avenir-95-b89744405d1757138ad461b19b2f305c.woff) format("woff"), url(//wistia.com/assets/avenir/avenir-95-931270cbc407f7433f9423fb2a5aea95.ttf) format("truetype"), url(//wistia.com/avenir/avenir-95.svg#avenir-85) format("svg");
    font-weight: 800;
}
@font-face {
    font-family: "Avenir";
    src: url(//wistia.com/avenir/avenir-95-oblique.eot?#iefix);
    src: url(//wistia.com/avenir/avenir-95-oblique.eot?#iefix) format("eot"), url(//wistia.com/avenir/avenir-95-oblique.woff) format("woff"), url(//wistia.com/avenir/avenir-95-oblique.ttf) format("truetype"), url(//wistia.com/avenir/avenir-95-oblique.svg#avenir-85-oblique) format("svg");
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "wistiacom-icons";
    src: url(//wistia.com/assets/wistiacom-icons-d3f8bfcf54a300f90d55c50396e66559.eot?7-30-13);
    src: url(//wistia.com/assets/wistiacom-icons-d3f8bfcf54a300f90d55c50396e66559.eot?#iefix?7-30-13) format("embedded-opentype"), url(//wistia.com/assets/wistiacom-icons-7fd3e9293847fd7ebc0a89fc7dcb1421.svg#wistiacom-icons?7-30-13) format("svg"), url(//wistia.com/assets/wistiacom-icons-2c664a34dc80a780e45969085fbb1809.woff?7-30-13) format("woff"), url(//wistia.com/assets/wistiacom-icons-7e1a3a0d7ff2da4c11e65e17e9e33961.ttf?7-30-13) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "wistia-icons";
    src: url(//wistia.com/assets/wistia-icons-13fd316f57839eb2559ec895965b5acb.eot?7-30-13);
    src: url(//wistia.com/assets/wistia-icons-13fd316f57839eb2559ec895965b5acb.eot?#iefix?7-30-13) format("embedded-opentype"), url(//wistia.com/assets/wistia-icons-8bd75115e78cc76247b8f9708a7b0959.svg#wistiacom-icons?7-30-13) format("svg"), url(//wistia.com/assets/wistia-icons-02daaf5cc839eb69e58f11e8c562398a.woff?7-30-13) format("woff"), url(//wistia.com/assets/wistia-icons-07f2e833958631fb28bcc8b5328df546.ttf?7-30-13) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-light/interstate-light-97c7a0d4fae1810e153471cbe678c005.eot);
    src: url(//wistia.com/assets/interstate-light/interstate-light-9e540e0bca3296461462c329a83fcf89.woff) format("woff"), url(//wistia.com/assets/interstate-light/interstate-light-a33dabeb6d6e774548525a1d4cd952fb.ttf) format("truetype"), url(//wistia.com/assets/interstate-light/interstate-light-07d4f0e7872fa2303cbc70fe13bcf4da.svg#interstate-light) format("svg");
    font-weight: 400;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-regular/interstate-regular-485fa9cad4d825368d37f135cd2029ee.eot);
    src: url(//wistia.com/assets/interstate-regular/interstate-regular-dd2691ded92f60cfd8f909fc43745494.woff) format("woff"), url(//wistia.com/assets/interstate-regular/interstate-regular-10b98f30149b67c04cb6af0d5f6e5023.ttf) format("truetype"), url(//wistia.com/assets/interstate-regular/interstate-regular-d4ae6a7bf6023d1fa3e14a2ac32a2b7a.svg#interstate-regular) format("svg");
    font-weight: 700;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-bold/interstate-bold-e93fed0f0fc1c86e983b33a04ffc0f97.eot);
    src: url(//wistia.com/assets/interstate-bold/interstate-bold-3b88fa2ccf5fd9835ce811e8e887d189.woff) format("woff"), url(//wistia.com/assets/interstate-bold/interstate-bold-55206037c25c7098efecdcfbdedc5986.ttf) format("truetype"), url(//wistia.com/assets/interstate-bold/interstate-bold-cd66e34bf1823147f3773a113060a95b.svg#interstate-bold) format("svg");
    font-weight: 900;
}
@font-face {
    font-family: "interstate";
    src: url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-a6cff34cb2afe8bf748aee69ae40cb9a.eot);
    src: url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-0ee6bf0ea157089d4a51f8a0c9ccc2b3.woff) format("woff"), url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-d38e13cd539ed84213226f3376eac1db.ttf) format("truetype"), url(//wistia.com/assets/interstate-light-italic/interstate-lightitalic-093534f0d8bdbb2765dda070bbf4d6ac.svg#interstate-lightitalic) format("svg");
    font-style: italic;
}
#free_signup_container {
    background: url('head-bg.png');
    background-color: #3ea9f5;
    font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, sans-serif;
    background-size: contain;
    background-repeat: repeat-y;
    min-height: 300px;
    width: 100%;}
#free_signup_container .signup_container {
    background-color: #333333;
    padding: 10px 20px 30px;
    max-width: 595px;
    margin-top: 80px;
}
#free_signup_container .signup_container button {
    background-color: #3769cc;
    -moz-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    -webkit-transform: translate3d(0,  0,  0);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#free_signup_container .signup_container button:hover {
    background-color: #2f5eba;
    -moz-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    -webkit-transform: translate3d(0,  0,  0);
}
#free_signup_container .container.signup, #free_signup_container_wc002 .container.signup {
    max-width: 1170px;
    min-height: 650px;
    margin:  0 auto;
}
#free_signup_container .signup_header, #free_signup_container_wc002 .signup_header {
    padding-top: 40px;
}
#free_signup_container .logo, #free_signup_container_wc002 .logo {
    float: left;
}
#free_signup_container .logo.centered, #free_signup_container_wc002 .logo.centered {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
}
#free_signup_container .loginButton, #free_signup_container_wc002 .loginButton {
    float: right;
    margin-top: 5px;
}
#free_signup_container .loginButton a, #free_signup_container_wc002 .loginButton a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    border: 2px solid #ffcc01;
    line-height: .3 !important;
    padding: 10px 15px;
    background: transparent;
    border-radius: 0;
}
#free_signup_container .loginButton a:hover, #free_signup_container_wc002 .loginButton a:hover {
    color: #ffcc01;
}
#free_signup_container .signup_container, #free_signup_container_wc002 .signup_container {
    padding: 10px 20px 30px;
}
#free_signup_container .signup_container .signup_info, #free_signup_container_wc002 .signup_container .signup_info {
    border: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
}
#free_signup_container .signup_container .signup_info#thanks h2, #free_signup_container_wc002 .signup_container .signup_info#thanks h2 {
    padding-top: 40px;
    font-size: 54px;
}
#free_signup_container .signup_container .signup_info h2, #free_signup_container_wc002 .signup_container .signup_info h2 {
    color: white;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 42px;
}
#free_signup_container .signup_container .signup_info h4, #free_signup_container_wc002 .signup_container .signup_info h4 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 16px;
    opacity: 0.65;
    line-height: 27px;
    width: 88%;
    margin: 11px auto 13px auto;
}
#free_signup_container .signup_container .signup_form, #free_signup_container_wc002 .signup_container .signup_form {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
#free_signup_container .signup_container .signup_form .form_wrapper, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
#free_signup_container .signup_container .signup_form .form_wrapper form, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .row, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row {
    display: flex;
    flex-flow: row wrap;
    min-width: 321px;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .row .flex-input, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .flex-input {
    width: 100%}
#free_signup_container .signup_container .signup_form .form_wrapper form .row .field-container, #free_signup_container .signup_container .signup_form .form_wrapper form .row .video_goals_other-container, #free_signup_container .signup_container .signup_form .form_wrapper form .row .signup_other-container, #free_signup_container .signup_container .signup_form .form_wrapper form .row .agency-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .field-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .video_goals_other-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .signup_other-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .agency-container {
    position: relative;
    flex: 1 0 auto;
    max-width: 285px;
    box-sizing: border-box;
    padding: 0 14px 1.15rem;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .row .field-container.email-field{max-width: 100%;}

#free_signup_container .signup_container .signup_form .form_wrapper form .row .field-container .error-tooltip, #free_signup_container .signup_container .signup_form .form_wrapper form .row .video_goals_other-container .error-tooltip, #free_signup_container .signup_container .signup_form .form_wrapper form .row .signup_other-container .error-tooltip, #free_signup_container .signup_container .signup_form .form_wrapper form .row .agency-container .error-tooltip, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .field-container .error-tooltip, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .video_goals_other-container .error-tooltip, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .signup_other-container .error-tooltip, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .agency-container .error-tooltip {
    position: absolute;
    top: 50px;
    left: 25px;
    z-index: 100;
    display: none;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .row .field-container .error-info, #free_signup_container .signup_container .signup_form .form_wrapper form .row .video_goals_other-container .error-info, #free_signup_container .signup_container .signup_form .form_wrapper form .row .signup_other-container .error-info, #free_signup_container .signup_container .signup_form .form_wrapper form .row .agency-container .error-info, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .field-container .error-info, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .video_goals_other-container .error-info, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .signup_other-container .error-info, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .agency-container .error-info {
    padding: 11px;
    border-radius: 4px;
    background: #faa928;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: white;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .row .field-container .error-arrow, #free_signup_container .signup_container .signup_form .form_wrapper form .row .video_goals_other-container .error-arrow, #free_signup_container .signup_container .signup_form .form_wrapper form .row .signup_other-container .error-arrow, #free_signup_container .signup_container .signup_form .form_wrapper form .row .agency-container .error-arrow, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .field-container .error-arrow, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .video_goals_other-container .error-arrow, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .signup_other-container .error-arrow, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .row .agency-container .error-arrow {
    height: 0;
    width: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #faa928;
    pointer-events: none;
    bottom: 33px;
    right: 195px;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .descript, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .descript {
    display: inline-block;
    width: 40%;
    margin-right: 25px;
    font-weight: 300;
    color: white;
    font-size: 23px;
    text-align: right;
    vertical-align: middle;
    line-height: 52px;
    height: 52px;
}
#free_signup_container .signup_container .signup_form .form_wrapper form #mce-EMAIL, #free_signup_container .signup_container .signup_form .form_wrapper form #mce-FNAME, #free_signup_container .signup_container .signup_form .form_wrapper form #mce-LNAME, #free_signup_container .signup_container .signup_form .form_wrapper form #password, #free_signup_container .signup_container .signup_form .form_wrapper form #agency_referral_other, #free_signup_container .signup_container .signup_form .form_wrapper form #signup_other, #free_signup_container .signup_container .signup_form .form_wrapper form #survey_questions, #free_signup_container .signup_container .signup_form .form_wrapper form #video_goals_question, #free_signup_container .signup_container .signup_form .form_wrapper form #video_goals_other, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #mce-EMAIL, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #mce-FNAME, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #mce-LNAME, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #password, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #agency_referral_other, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #signup_other, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #survey_questions, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #video_goals_question, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #video_goals_other {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 16px;
    height: auto;
    padding: 21px 37px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#free_signup_container .signup_container .signup_form .form_wrapper form #email.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #first_name.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #last_name.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #password.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #agency_referral_other.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #signup_other.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #survey_questions.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #video_goals_question.trial_error, #free_signup_container .signup_container .signup_form .form_wrapper form #video_goals_other.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #email.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #first_name.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #last_name.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #password.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #agency_referral_other.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #signup_other.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #survey_questions.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #video_goals_question.trial_error, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #video_goals_other.trial_error {
    border: 2px solid #faa928;
}
#free_signup_container .signup_container .signup_form .form_wrapper form input.example, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form input.example {
    color: #7c858e;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .full_input, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .full_input {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 18px !important;
}
#free_signup_container .signup_container .signup_form .form_wrapper form .no_bottom, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .no_bottom {
    margin-bottom: 0 !important;
}
#free_signup_container .signup_container .signup_form .form_wrapper form #signup_other, #free_signup_container .signup_container .signup_form .form_wrapper form #video_goals_other, #free_signup_container .signup_container .signup_form .form_wrapper form #agency_referral_other, #free_signup_container .signup_container .signup_form .form_wrapper form .video_goals_other-container, #free_signup_container .signup_container .signup_form .form_wrapper form .signup_other-container, #free_signup_container .signup_container .signup_form .form_wrapper form .agency-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #signup_other, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #video_goals_other, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #agency_referral_other, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .video_goals_other-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .signup_other-container, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form .agency-container {
    width: 100%;
    display: none;
}
#free_signup_container .signup_container .signup_form .form_wrapper form #custom_dropdown, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #custom_dropdown {
    margin: 0 14px 1.15rem;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 16px;
    height: auto;
    padding: 0;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: white;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
#free_signup_container .signup_container .signup_form .form_wrapper form #custom_dropdown #custom_select_value, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #custom_dropdown #custom_select_value {
    position: absolute;
    top: 21px;
    left: 22px;
    color: #7c858e;
}
#free_signup_container .signup_container .signup_form .form_wrapper form #custom_dropdown #custom_select_arrow, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #custom_dropdown #custom_select_arrow {
    width: 18px;
    height: 14px;
    position: absolute;
    top: 25px;
    right: 22px;
    background: url(//wistia.com/assets/free/down-arrow-e46a6bb0440048183649d3184d35c64a.png);
    background-repeat: no-repeat;
    background-size: 18px 14px;
}
@media only screen and (max-width: 768px) {
    #free_signup_container .signup_container .signup_form .form_wrapper form #custom_dropdown #custom_select_arrow, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #custom_dropdown #custom_select_arrow {
    right: 15px;
}
}#free_signup_container .signup_container .signup_form .form_wrapper form #custom_dropdown #survey_questions, #free_signup_container .signup_container .signup_form .form_wrapper form #custom_dropdown #video_goals_question, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #custom_dropdown #survey_questions, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form #custom_dropdown #video_goals_question {
    -webkit-appearance: menulist-button;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 100%;
    cursor: pointer;
    position: relative;
    top: -2px;
    left: 0;
    z-index: 1;
    height: 37px;
    display: block;
    font-size: 16px;
    background: white;
    overflow: hidden;
    display: block;
    zoom: 1;
    border-right: 30px solid transparent;
    height: 61px;
}

#free_signup_container .signup_container .signup_form .form_wrapper form input[type="submit"]:hover{border: 2px solid #ffcc01;background: #1a1a1a;}

#free_signup_container .signup_container .signup_form .form_wrapper form input[type="submit"], #free_signup_container_wc002 .signup_container .signup_form .form_wrapper form button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: white;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    font-size: 17px;
    left: 0;
    padding: 21px;
    position: relative;
    font-weight: 600;
    width: 100%;
    text-transform: none;
    letter-spacing: 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #1a1a1a;
}
#free_signup_container .signup_container .signup_form .form_wrapper .email_suggestion, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .email_suggestion {
    color: white;
    left: 0;
    padding-top: 1em;
    position: relative;
    text-align: center;
    top: 0;
}
#free_signup_container .signup_container .signup_form .form_wrapper .email_suggestion .email, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .email_suggestion .email {
    color: white;
}
#free_signup_container .signup_container .signup_form .form_wrapper .erroralert, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .erroralert {
    color: white;
    margin: 10px 0 0 0;
}
#free_signup_container .signup_container .signup_form .form_wrapper .erroralert a, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .erroralert a {
    color: #faa928;
    font-weight: 500;
}
#free_signup_container .signup_container .signup_form .form_wrapper .fineprint>p, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .fineprint>p {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    opacity: 0.65;
}
#free_signup_container .signup_container .signup_form .form_wrapper .fineprint>p .terms, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .fineprint>p .terms {
    color: white;
    border-bottom: 1px solid white;
    -moz-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    -webkit-transform: translate3d(0,  0,  0);
}
#free_signup_container .signup_container .signup_form .form_wrapper .fineprint>p .terms:hover, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .fineprint>p .terms:hover {
    color: white;
    -moz-transition: all 0.05s ease-in;
    -o-transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in;
    -ms-transition: all 0.05s ease-in;
    transition: all 0.05s ease-in;
    -webkit-transform: translate3d(0,  0,  0);
}
#free_signup_container #pricing-questions, #free_signup_container_wc002 #pricing-questions {
    width: 100%;
    margin: 80px 0 0px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 24px;
    border-top: 1px solid #2a95e1;
}
#free_signup_container #pricing-questions .container, #free_signup_container_wc002 #pricing-questions .container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 1025px;
    padding: 20px 0 50px;
}
@media only screen and (max-width: 768px) {
    #free_signup_container #pricing-questions .container, #free_signup_container_wc002 #pricing-questions .container {
    margin-left: 20px;
    margin-right: 20px;
}
}#free_signup_container #pricing-questions .column, #free_signup_container_wc002 #pricing-questions .column {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    text-align: left;
    flex: 1 0 50%;
    min-width: 350px;
    padding: 0 48px;
    box-sizing: border-box;
}
#free_signup_container #pricing-questions h4, #free_signup_container_wc002 #pricing-questions h4 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #363945;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
}
#free_signup_container #pricing-questions p, #free_signup_container_wc002 #pricing-questions p {
    margin-top: 10px;
    margin-bottom: 0;
    color: #7c858e;
    line-height: 30px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}
#free_signup_container #pricing-questions a, #free_signup_container_wc002 #pricing-questions a {
    color: #7c858e;
}
#free_signup_container_wc002 {
    background: url(//wistia.com/assets/account/appbg-10096056c54ab1870499866417640885.png);
    background-color: #5d5f68;
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: top center;
    width: 100%;
    height: 100%;
    position: fixed;
}
#free_signup_container .signup_container .signup_form .form_wrapper .email_suggestion, #free_signup_container_wc002 .signup_container .signup_form .form_wrapper .email_suggestion{display: none;}
.pricing {
    background-color: white;
    font-family: "Whitney A",  "Whitney B",  "Avenir",  Helvetica,  sans-serif;
    width: 100%;
    margin: 0 auto;
}
.pricing .green_font {
    color: #5abe83;
    white-space: nowrap;
}
.pricing .blue_font {
    color: #3ea9f5;
    white-space: nowrap;
}
.pricing .headline {
    max-width: 740px;
    margin: 91px auto 0 auto;
    text-align: center;
    width: 83%}
.pricing .headline .copy {
    font-size: 65px;
    line-height: 72px;
    color: #363948;
    font-weight: 600;
    margin-bottom: 35px;
}
.pricing .headline .text {
    font-size: 19px;
    color: #363948;
    font-weight: 400;
    line-height: 34px;
    max-width: 682px;
    margin: 0 auto;
}

.pricing .pricing-questions {
    width: 90%;
    max-width: 1280px;
    margin: 135px auto 0px;
    background-color: white;
    padding-top: 68px;
    padding-bottom: 62px;
    border-top: 1px solid #e5e8eb;
}
.pricing .pricing-questions .container {
    max-width: 999px;
}
.pricing .pricing-questions .column {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    width: 40%;
    margin: 0 4.8%;
    text-align: left;
}
.pricing .pricing-questions .pricing-question {
    margin: 0 0 40px;
}
.pricing .pricing-questions .pricing-question h4 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #363945;
    padding: 0;
    line-height: 29px;
}
.pricing .pricing-questions .pricing-question p {
    margin-top: 6px;
    color: #363945;
    line-height: 29px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}
.pricing .pricing-questions .pricing-question a {
    color: #363945;
}

.signup_container {
    margin: 0 auto;
    max-width: 820px;
    width: 84%}
.signup_info {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    width: 44%;
    border-right: 1px solid #e8eaec;
}
.signup_info h2 {
    color: #3769cc;
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}
.signup_info.trial h2 {
    color: #56be8e;
}
@media (max-width: 650px) {
    .signup_info {
    display: block;
    border: none;
    width: 100%}
}.form_wrapper {
    margin: 0 auto;
    width: 70%;
    position: relative;
}
@media (max-width: 650px) {
    .form_wrapper {
    width: 100%}
}.signup_form {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    position: relative;
    margin-top: 80px;
    width: 50%}
.signup_form form {
    border: 1px solid #e8eaec;
    width: 100%}
.signup_form button {
    font-family: "Avenir",  Futura,  sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px;
    border: 0px;
    height: 42px;
    left: 100%;
    position: absolute;
    top: 0px;
    width: 98px;
}
@media (max-width: 650px) {
    .signup_form button {
    left: auto;
    right: -5px;
}
}.signup_form input {
    border: 0px solid #e8eaec;
    font-family: "Avenir",  Futura,  sans-serif;
    font-size: 17px;
    height: 38px;
    outline: 0px;
    padding-left: 10px;
    vertical-align: bottom;
    width: 254px;
    -webkit-font-smoothing: antialiased;
}


.fineprint {
    white-space: nowrap;
}
.fineprint a {
    text-decoration: none;
}
.fineprint p {
    font-weight: 400;
    color: #b2b9c1;
    font-size: 15px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}
.fineprint.free p, .fineprint.trials p {
    padding: 12px 0px 0px 0px;
    color: #363945;
}
#mc_embed_signup div.mce_inline_error{margin: 0 !important;}