<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <meta charset="utf-8">
    <title>Buzzmybrand Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </head>
  <body>
    <div ng-show="loadingFullPage" class="loading fullpage"></div>

	<div id="fullscreen_popup">
		<div id="fullscreen_popup_content"> 
			<a href="javascript:void(0)" onClick="close_fullscreen_popup();" class="cancel">&times;</a>
			<div class="fullscreen_popup_title">PROVA</div>
			<div id="submissione_popup_content"></div> 
		</div>
	</div>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- DELETE CONFIRMATION MODAL -->
    <div class="modal fade" id="profile-image" tabindex="-1" role="dialog" ng-controller="ProfileImageCtrl">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="profile-image-label">{{ 'UPLOAD_PROFILE_IMAGE' | translate }}</h4>
          </div>
          <div class="modal-body">
            <ng-form name="profileImageForm">
              <div class="vert-spacer"></div>
              <div class="file-input-container">
                <input type="file" class="file-hidden" id="id-profile-image-upload" name="profile-image-upload" file-model="profile.image" ng-model="validationHack" file-required="1" file-type="image">
                <div id="id-profile-image-upload-filename" class="file-input-filename">{{ profile.image.name }}
                  <span ng-if="profile.image.name">
                    <a ng-click="profile.image = undefined">
                      <i class="fa fa-times"></i>
                    </a>
                  </span>
                </div>
                <p class="text-danger" ng-if="profile.image.$error.fileType">{{ 'ERROR_INVALID_FILE_TYPE' | translate }}</p>
                <a class="btn btn-action btn-yellow" ng-click="browse()">{{ 'BROWSE' | translate }}</a>
                <div class="clearfix"></div>
              </div>
              <div class="vert-spacer"></div>
              <div class"alert="" alert-danger"="" ng-if="error">
                <p class="text-danger">{{ error }}</p>
              </div>
            </ng-form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'BTN_CANCEL' | translate }}</button> 
            <button type="button" class="btn btn-danger" ng-disabled="!profileImageForm.$valid" ng-click="uploadProfileImage()">{{ 'BTN_CONFIRM' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- // DELETE CONFIRMATION MODAL -->
    
    <div class="container-fluid main-container">
      <div class="col-md-2 left-column">
        <div class="nav-brand">
          <a href="#/"><img src="assets/images/logo-dashboard.png"></a> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="btn-navbar-collapse">
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <div id="auth-block" class="nav-user" ng-controller="AuthCtrl as auth">
            <div class="user-image" data-toggle="modal" data-target="#profile-image">
              <img ng-if="user.profile_image_url && !user.is_admin" ng-src="/images/users/{{ user.profile_image_url }}"> 
              <img ng-if="user.is_admin" ng-src="/images/users/BMB_logo.jpg">
            </div>
            <div class="user-data">
              <span class="user-name">{{ user.user_name }}</span> 
              <span class="user-role" ng-show="user.is_admin">DEMO PAGE</span> 
              <span class="user-role" ng-show="!user.is_admin">{{ user.company_name }}</span>
            </div>
          </div>
          <div ng-controller="NavbarCtrl as nav" ng-if="$root.isEmailConfirmed">
            <ul class="nav-sections">
              <li class="nav-section {{ s.classes }}" ng-repeat="s in ::sections | orderBy:'position'" ng-class="{active: isActive(s.path)}" ng-click="goTo(s.path)">
                <a href="{{ s.path }}"><i class="fa fa-{{ s.icon }} fa-lg"></i> {{ s.name | translate }}</a>
              </li>
              <li class="nav-section launch-contest" ng-click="toggleLaunch()">
                <a href="#/launch"><i class="fa fa-buzzicon fa-lg"></i>{{ 'LAUNCH_CONTEST' | translate }}</a> 
                <a ng-if="instantOnly"><i class="fa fa-buzzicon fa-lg"></i>{{ 'LAUNCH_CONTEST' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-10 center-column">
        <nav class="navbar navbar-static-top horz-nav hidden-sm hidden-xs">
          <div class="container-fluid">
            <div class="nav-slogan">SOCIAL CONTEST PLATFORM</div>
          </div>
        </nav>
        <div class="content-container" ng-if="!$root.isEmailConfirmed">
          <div class="contest-block active" id="email-verification-box">
            <div class="contest-block-heading">{{ 'VERIFY_YOUR_EMAIL' | translate }}</div>
            <div class="row contest-block-content">
              <div class="col-md-12">
                <div class="alert alert-success alert-lg alert-color-success">
                  <p class="text-success">{{ 'CONFIRMATION_EMAIL_WARNING' | translate }}</p>
                  <span class="resend-link">
                    <a href="" ng-click="$root.resendVerificationEmail()">{{ 'RESEND_ACTIVATION_EMAIL' | translate }}</a>
                  </span>
                </div>
                <div class="alert alert-success" ng-if="$root.emailConfirmationSent">
                  <p class="text-success">{{ 'CONFIRMATION_EMAIL_SENT' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-view="" class="content-container" ng-if="$root.isEmailConfirmed"></div>
        <div class="footer">Buzzmybrand - Social contest platform</div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
      
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/56e00dd6c5d039d62833d54c/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
      })();
    </script>

    <script src="/dashboard-api/utils/settings"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_8IV8rveb80AN6Ls8kpC5TQcs');
    </script>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
    <script type="text/javascript" src="/website_public/jwplayer/jwplayer.js"></script>
    <link href='//fonts.googleapis.com/css?family=Abel|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
    window.start_jw_player = function(tab, id, v, i) {
                
                var mediaplayerid = 'mediaplayer';

                if (tab == '0') {
                    mediaplayerid += 'all';
                } else if (tab == '1') {
                    mediaplayerid += 'toapp';
                } else if (tab == '3') {
                    mediaplayerid += 'app';
                } else if (tab == '2') {
                    mediaplayerid += 'notapp';
                }
                
                if( navigator.userAgent.match(/webOS/i)
                     || navigator.userAgent.match(/iPhone/i)
                     || navigator.userAgent.match(/iPad/i)
                     || navigator.userAgent.match(/iPod/i) ) {
                    
                    window.location.assign("http://www.buzzmybrand.com:1935/vod/mp4:" + v + "/playlist.m3u8")
                 
                } else if ( navigator.userAgent.match(/Android/i) ) {
                
                    window.location.assign("rtsp://www.buzzmybrand.com:1935/vod/" + v)
                
                } else {
                    
                    jwplayer(mediaplayerid  + id).setup({
                        'file': 'rtmp://www.buzzmybrand.com:1935/vod/mp4:' + v,
                        'width': 'auto',
                        'height': '250',
                        'autostart': 'true',
                        'events': {
                            onComplete: function(e) {
                                jwplayer(mediaplayerid + id).remove();
                                $('#' + mediaplayerid + id).html('<a href="javascript:void(0)" onClick="start_jw_player(\'' + tab + '\', \'' + id + '\', \'' + v + '\', \'' + i + '\');" style=\'color:#555;\'><img class="img-thumbnail" src="/images/videos/' + i + '" width="width" height="250"/></a>');
                            }
                        }
                    });
                }
            } 
    function fullscreen_popup(url, name)
    {
        //Ajax Post
        $.post('/tab/getSubmission', { url: url, contest_type: 1 } , function(results){

            $('.fullscreen_popup_title').html(name);
            $("#fullscreen_popup").css("display", 'block' );
            $("#fullscreen_popup_content").css("display", 'block' );
            $("#submissione_popup_content").html(results);
        });
    }

    function close_fullscreen_popup()
    {
        $("#fullscreen_popup").css("display", 'none' );
        $("#fullscreen_popup_content").css("display", 'none' );
        $("#submissione_popup_content").html('');
    }
    </script>
  </body>
</html>
