.awards
	clear: both
	margin-bottom: 120px

.awards__list

	margin: 0 auto
	+clearfix

	+breakpoint($l)
		width: 80%

	&:first-child
		.awards__item
			margin-bottom: 20px

			+breakpoint($l)
				margin-bottom: 30px

	&.awards__list--more
		display: none

	.toggleOpen &
		display: block

.awards__item
	+span(1 of 1)
	padding: 0 40px
	text-align: center
	transform: translateY(50px)
	transition: all 1s $animation
	opacity: 0
	margin-top: 0
	.touch &
		opacity: 1

	+breakpoint($m)
		margin-top: 100px
		+span(1 of 3)

	+breakpoint($l)
		+span(1 of 3)

	@for $i from 0 through 3
		&:nth-child(#{$i})
			transition-delay: ($i*100ms)

	.animation-in &
		transform: translateX(0)
		opacity: 1

.awards__itemCol1
	width: 100%

.awards__icon
	display: block
	width: 150px
	height: 150px
	margin: 0 auto

.awars__text
	&:before
		content: ""
		display: block
		width: 14px
		height: 1px
		margin: 0 auto 8px

.awards__more
	clear: both
	display: block
	text-align: center
	opacity: 0
	transition-delay: 0
	.animation-in &
		transition: opacity 1s $animation 1s
		opacity: 1

	.toggleOpen &
		display: none
