.canvasHeader
	height: 100vh
	width: 100%
	padding: 20px 60px 50px
	position: relative
	overflow: hidden

.canvasHeader__text
	text-align: center
	position: absolute
	top: 40%
	left: 50%
	transform: translateX(-50%) translateY(-50%)
	+breakpoint($l)
		top: 50%

.canvasHeader__title
	+responsiveFontSize(40px, 10)
	margin-bottom: 10px
	word-break: break-word

.canvasHeader__subtitle
	+responsiveFontSize(22px, 4)

.canvasHeader__partecipate
	position: absolute
	bottom: 50px
	left: 50%
	transform: translateX(-50%)
	padding-top: 110px
	width: 90px
	text-align: center
