.competition
	transform: translateY(50px)
	transition: all 1s $animation
	//opacity: 0
	&.animation-in
		transform: translateX(0)
		opacity: 1


.competition__intro
	margin-bottom: 40px

	+breakpoint($m)
		margin-bottom: 60px

	+breakpoint($l)
		margin-bottom: 120px

.competition__abstract
	text-align: center
	max-width: 100%
	margin: 0 auto 30px
	+breakpoint($m)
		max-width: 70%
	h2
		font-size: 32px
		+breakpoint($m)
			font-size: 50px


.competition__more
	text-align: center
	max-width: 70%
	margin: 0 auto
	display: none

.competition__detail
	display: block
	margin-bottom: 20px
	+clearfix
	+breakpoint($m)
		margin-bottom: 40px

	+breakpoint($l)
		margin-bottom: 120px

	.toggleOpen &
		display: block


.competition__colLeft
	width: 100%
	margin-bottom: 20px
	// +breakpoint($m)
	// 	margin-bottom: 15px

	+breakpoint($l)
		margin-bottom: 0
		+span(1 of 2)

.competition__colRight
	width: 100%
	text-align: center

	+breakpoint($l)
		+span(1 of 2)
		padding-left: 35px

.competition__description
	line-height: 1.5em

.competition__info
	float: left
	text-align: left
	position: relative
	left: 50%
	transform: translateX(-50%)
	width: 100%
	font-size: 14px

	+breakpoint($m)
		font-size: 16px
		width: 100%

	+breakpoint($m)
		width: auto

	dd, dt
		float: left
		margin-bottom: 18px

		+breakpoint($m)
			margin-bottom: 10px

	dt
		padding-left: 12px
		margin-left: 12px
		border-left: 1px solid #ccc
		+breakpoint($m)
			border-left: none

		&.competition__icon
			border-left: none

		+breakpoint($m)
			padding-left: 0
			margin-left: 35px

	dd
		clear: left

		+breakpoint($m)
			width: 120px

.competition__aux
	margin: 0 auto
	+clearfix

.competition__label
	line-height: 40px
	height: 40px
	display: inline-block

	min-width: 70px
	+breakpoint($m)
		min-width: auto

.competition__fb
	width: 40px
	height: 40px
	display: inline-block
	margin-right: 5px

.competition__tw, .competition__upload
	width: 40px
	height: 40px
	display: inline-block
