.footer
  background: #000
  color: #a0a0a0

.footer__content
  padding: 20px 20px

  +breakpoint($m)
    padding: 20px 30px

  +breakpoint($l)
    padding: 20px 60px


.footer__label
  display: inline-block
  vertical-align: middle
  padding-right: 0px
  margin-right: 10px
  line-height: 40px
  height: 40px
  position: relative
  a
    color: #999

.footer__logo
  background: url('images/logo-buzz-small.png') no-repeat
  display: inline-block
  vertical-align: middle
  padding-right: 0px
  margin-right: 10px
  line-height: 40px
  height: 40px
  width: 40px
  position: relative
