.header
	position: absolute
	top: 10px
	left: 0
	right: 0
	z-index: 9
	width: 100%
	padding: 0 10px

	+breakpoint($m)
		padding: 0 20px

	+breakpoint($l)
		padding: 0 60px

	&.pause
		transform: translateX(-50%) translateY(-100%)
		position: fixed
		top: 0
		background: rgb(255,255,255)
		max-width: $xxl
		left: 50%
		height: 50px

		+breakpoint($m)
			padding: 5px 20px

		+breakpoint($l)
			padding: 5px 80px

	&.inverted
		transform: translateX(-50%) translateY(0)
		transition: transform .5s $animation

.servicesNav
	font-size: 0

.servicesNav__label
	display: none
	vertical-align: middle
	padding-right: 0px
	margin-right: 10px
	line-height: 40px
	height: 40px
	position: relative
	z-index: 9
	font-size: 14px
	+breakpoint($l)
		padding-right: 10px
		display: inline-block

.servicesNav__sponsor
	border-radius: 20px
	display: inline-block
	vertical-align: middle
	padding-right: 40px
	margin-right: 0px
	line-height: 40px
	height: 40px
	position: relative
	z-index: 9
	background-size: cover !important
	background-repeat: no-repeat

	.pause &
		top: 5px
		+breakpoint($m)
			top: 0

	font-size: 12px
	+breakpoint($m)
		margin-right: 30px
		font-size: 14px

.socialNav
	display: inline-block
	vertical-align: middle
	font-size: 14px

	position: relative
	z-index: 9

	.pause &
		top: 5px
		+breakpoint($m)
			top: 0

	+breakpoint($m)
		margin-right: 30px

	&.socialNav--email
		margin-right: 0

	a
		display: inline-block
		line-height: 40px
		width: 40px
		height: 40px
		background-size: 60%

.socialNav__label
	line-height: 40px
	height: 40px
	display: none
	vertical-align: top
	position: relative
	z-index: 9

	+breakpoint($l)
		display: none

	+breakpoint($xl)
		display: inline-block

.servicesCounter
	position: absolute
	width: 100%
	text-align: center
	top: 0
	left: 0
	height: 40px
	line-height: 40px
	display: none
	+breakpoint($l)
		display: block

	.inverted &
		display: none

.servicesCounter__item
	display: inline-block
	vertical-align: middle
	font-size: 16px
	margin-left: 10px

	&:first-child
		margin-left: 0


// navigation right
.navigation
	position: absolute
	top: 0
	right: 10px

	+breakpoint($m)
		right: 20px

	+breakpoint($l)
		right: 60px

	.pause &
		top: 5px
		right: 10px

		+breakpoint($m)
			right: 20px

		+breakpoint($l)
			right: 80px



.nav__signiIn,
.nav__logout
	text-transform: uppercase
	height: 40px
	line-height: 40px
	display: block
	font-size: 12px
	+breakpoint($l)
		font-size: 16px


	//.logged &
		display: none

.overlayMenu
	font-size: 0

.overlayMenu__item
	font-size: 16px
	display: inline-block
	vertical-align: middle
	&:first-child
		margin-right: 5px
	a
		width: 40px
		height: 40px
		display: block

.overlayMenu__item--logout
	margin-left: 10px
	.nav__logout
		width: auto
		color: #fff
		line-height: 43px
		display: none
		+breakpoint($l)
			display: block
