.loader
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	width: 100%
	height: 100vh
	z-index: 9999
	transition: transform .6s $animation
	-webkit-transition: transform .6s $animation
	background: rgba(0,0,0,1)
	.loaded &
		transform: translateX(-100%)
		-webkit-transform: translateX(-100%)

.loader__buzzLogo
	position: absolute
	width: 94px
	height: 90px
	top: 40%
	left: 40%
	background: url(images/logo-buzz.png) 0 0 no-repeat
	transform: translateX(-40%) translateY(-40%)
	-webkit-transform: translateX(-40%) translateY(-40%)
	animation: buzz 0.15s infinite
	+breakpoint($l)
		top: 50%
		left: 50%

@keyframes buzz

	50%
		-webkit-transform: translateX(3px) rotate(2deg)
		transform: translateX(3px) rotate(2deg)

	100%
		-webkit-transform: translateX(-2px) rotate(-2deg)
		transform: translateX(-2px) rotate(-2deg)
		filter: blur(8px)
		-webkit-filter: blur(8px)
		-moz-filter: blur(8px)
		-o-filter: blur(8px)
		-ms-filter: blur(8px)
