.modal
  transition: transform .4s $animation
  position: relative
  z-index: 250
  width: 100%
  height: 100%
  display: none

  &.open
    display: block
    position: fixed

.modalOpen
  overflow: hidden

.closing
  position: fixed

.closed
  position: relative

.modal__overlay
  position: absolute
  width: 100%
  height: 100%
  background: rgba(0,0,0,.8)

.modal__window
  transition: transform .4s $animation
  position: absolute
  background: rgba(255,255,255, .9)
  border-top: 10px solid #ddd
  z-index: 1
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  +breakpoint($l)
    background: #fff
    top: 25%
    left: 15%
    width: 70%
    min-height: 50%

.modal__content
  padding: 20px
  height: 260px
  overflow: auto
  margin-top: 10px

.modal__close
  position: absolute
  color: #000
  z-index: 200
  right: 20px
  top: 20px
  font-size: 30px
  +breakpoint($l)
    color: #fff
