.nominations
	clear: both

// nominations__top

.nominations__top
	+clearfix
	margin: 0 auto

.nominations__topItem
	width: 100%
	margin-top: 20px

	+breakpoint($m)
		padding-right: 20px
		+span(1 of 2)

	transform: translateY(50px)
	transition: all 1s $animation
	//opacity: 0

	@for $i from 0 through 4
		&:nth-child(#{$i})
			transition-delay: ($i*100ms)

	&.animation-in
		transform: translateX(0)
		opacity: 1

	&:nth-child(even)
		padding-right: 0


		+breakpoint($m)
			padding-left: 20px
			+span(1 of 2 omega)


// nomination Box
.nominations__box
	padding-bottom: 56.25%
	position: relative

	.nominations__all &
		margin: 0 5px
		margin-top: 20px
		display: none
		padding-bottom: 56.25%
		width: 100%
		+breakpoint($m)
			padding-bottom: 28.125%
			width: span(1 of 2)

.nominations__all .detailOpen .nominations__box
	display: inline-block

.nominations__allTitle
	display: block
	position: relative
	z-index: 9

.nominations__all
	text-align: center
	padding-top: 50px
	min-height: 30vh
	li
		position: relative
		margin-bottom: 20px
		+breakpoint($m)
			margin-bottom: 40px

.nominations__preview
	height: 0
	position: absolute
	width: 400px
	height: 200px
	background: #ccc
	top: 50%
	transform: translateX(-50%) translateY(-42%)
	left: 50%
	opacity: 0
	img
		width: 100%

	&:hover
		opacity: 1
		transition: all .6s $animation
		height: 200px
		transform: translateX(-50%) translateY(-50%)

.nominations__video
	position: absolute
	background: grey
	width: 100%
	height: 100%

.nominations__image
	position: absolute
	overflow: hidden
	background: grey
	width: 100%
	height: 100%
	img
		width: 100%

.nominations__info
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0

.nominations__Name
	position: absolute
	top: 10px
	left: 10px

	+breakpoint($m)
		left: 20px

.nominations__infoBottom
	position: absolute
	bottom: 0
	height: 50px
	left: 10px
	right: 10px
	+breakpoint($m)
		left: 20px
		right: 20px

.nominations__label
	vertical-align: top

.nominations__label--share
	display: none

	+breakpoint($m)
		display: inline-block

.nominations__share
	position: absolute
	left: 0
	ul
		display: inline-block
		font-size: 0

.nominations__shareItem
	display: inline-block
	font-size: 16px
	width: 40px
	height: 40px

.nominations__fb
	width: 40px
	height: 40px
	display: inline-block

.nominations__tw
	width: 40px
	height: 40px
	display: inline-block

.nominations__rightCol
	position: absolute
	right: 0
	bottom: 12px
	+breakpoint($m)
		bottom: 10px

.nominations__rank
	display: inline-block

.nominations__buzz
	display: inline-block

.nominations__loadMore
	text-align: center
	display: block
	margin-top: 120px

.nominations__orderBtn
	cursor: pointer
	transition: all .6s $animation
	margin-left: 10px
	opacity: .3
	&--active
		opacity: 1
	&:hover
		opacity: 1
