.overlay
	position: fixed
	z-index: 99
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0,.9)
	transition: transform .4s $animation
	transform: translateX(100%)
	-webkit-transition: transform .4s $animation
	-webkit-transform: translateX(100%)


	&.overlayOpen
		height: 100%
		transform: translateX(0)
		transition: transform .4s $animation
		-webkit-transform: translateX(0)
		-webkit-transition: transform .4s $animation

.overlay__close
	width: 60px
	height: 60px
	position: absolute
	top: 0
	right: 0
	text-align: center
	z-index: 11

	&:hover
		.closeLine
			&:after
				transform: translateX(-64px)
				-webkit-transform: translateX(-64px)

	+breakpoint($m)
		width: 100px
		height: 100px

.overlay__closeContent
	width: 60px
	height: 60px
	position: absolute
	right: 5px
	top: 0
	margin: 0
	+breakpoint($m)
		left: 50%
		top: 50%
		right: auto
		margin: -30px 0 0 -30px


.closeLine
	height: 1px
	background: #bbb
	//background: #767676
	display: block
	position: absolute
	overflow: hidden
	line-height: 0
	width: 42px
	top: 50%
	left: 50%
	margin-left: -21px
	transition: transform .3s $animation .3s
	-webkit-transition: transform .3s $animation .3s

	&:after
		content: ""
		position: absolute
		width: 100%
		height: 1px
		background: #fff

		transform: translateX(64px)
		transition: transform .5s $animation
		-webkit-transform: translateX(64px)
		-webkit-transition: transform .5s $animation

		@for $i from 0 through 3
			&:nth-child(#{$i})
				&:after
					transition-delay: ($i*100ms)
					-webkit-transition-delay: ($i*100ms)


.closeLine--first
	transform: rotate(0)
	-webkit-transform: rotate(0)
	.overlayOpen &
		-webkit-transform: rotate(-45deg)
		transform: rotate(-45deg)

.closeLine--second
	-webkit-transform: rotate(0)
	transform: rotate(0)
	.overlayOpen &
		transform: rotate(45deg)
		-webkit-transform: rotate(45deg)


.overlay__contents

.overlay__item
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: none
	padding: 20px

	+breakpoint($m)
		padding: 20px 40px

	+breakpoint($l)
		padding: 20px 60px

	&.showContent
		display: block


.overlay__bottomInfo
	position: absolute
	bottom: 20px

.overlay__loginInfo
	color: #fff
	margin-top: 20px

.overlay__inviteFriendMessage
	color: #fff
	margin-top: 20px
	margin-bottom: 20px
	text-align: center


// sign in


.signIn--s2
	overflow: auto
	position: absolute
	bottom: 40px
	top: 70px
	left: 20px
	right: 20px
	padding-top: 15px
	-webkit-overflow-scrolling: touch
	+breakpoint($l)
		overflow: hidden
		position: static
		width: auto
		bottom: auto
		top: auto
		left: auto
		right: auto


.signIn
	display: none

	&.signIn--s2
		//display: none

.signIn__col
	width: 100%
	text-align: center
	padding: 20px 0 0px 0px
	position: relative
	+breakpoint($l)
		+span (1 of 2)
		position: absolute
		top: 0
		bottom: 0
		padding: 0 60px


.signIn__col--right
	right: 0
	&:before
		.signIn--s2 &
			display: none
		//content: "or"
		background: rgba(0,0,0,0.9)
		position: absolute
		color: #fff
		text-align: center
		display: block
		text-transform: uppercase
		padding: 0 10px
		left: 50%
		top: -10px
		transform: translateX(-50%)
		-webkit-transform: translateX(-50%)
		+breakpoint($l)
			top: 50%
			left: 0
			transform: translateX(-50%)
			-webkit-transform: translateX(-50%)
			padding: 2px 0


.signIn__col--left
	left: 0
	&:after
		.signIn--s2 &
			display: none
		content: ""
		position: absolute
		height: 1px
		width: 100%
		border-bottom: 1px dotted #333
		bottom: 0
		left: 0
		+breakpoint($l)
			top: 20px
			left: auto
			width: 1px
			bottom: 20px
			right: 0
			height: auto
			border-bottom: 0
			border-left: 1px dotted #333

.externalsignIn

	+breakpoint($l)
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)
		-webkit-transform: translateX(-50%) translateY(-50%)

.externalsignIn__btn
	min-width: 280px
	cursor: not-allowed
	margin-bottom: 20px
	&:first-child
		//margin-bottom: 20px
	&.enabled
		cursor: pointer

.externalsignIn__fb, .externalsignIn__tw
	display: inline-block
	vertical-align: top
	width: 40px
	height: 40px
	margin-right: 40px

// form
.genericForm
	position: relative
	+breakpoint($l)
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)
		-webkit-transform: translateX(-50%) translateY(-50%)

	.signIn--s2 &
		+breakpoint($l)
			width: 89%

.genericForm__input[type="text"], .genericForm__input[type="email"], .genericForm__input[type="password"]
	background: transparent
	border: none
	//border-bottom: 1px solid #333
	border-bottom: 1px solid #bbb
	padding: 10px 0
	color: #fff
	height: 60px
	//height: 40px
	line-height: 40px
	display: inline-block
	outline: none
	width: 100%
	&:focus, &:active, &.filled
		+ span
			transform: translateY(-30px)
			color: #bbb
	&:-webkit-autofill
		-webkit-box-shadow: 0 0 0px 1000px #222222 inset
		-webkit-text-fill-color: #fff !important

.genericForm__textArea
	background: transparent
	border: none
	border-bottom: 1px solid #333
	padding: 10px 0
	color: #fff
	display: block
	outline: none
	width: 100%
	position: relative
	font-size: 30px
	z-index: 9
	padding: 20px
	+breakpoint($m)
		font-size: 40px


.genericForm__label
	position: relative
	height: 60px
	//height: 40px
	line-height: 40px
	display: block
	span
		transition: transform .5s $animation
		-webkit-transition: transform .5s $animation
		position: absolute
		z-index: 9
		color: #fff
		font-size: 12px
		height: 40px
		top: 0px
		left: 0
		display: block
		z-index: -1
		.sendContestForm &
			line-height: 15px
			+breakpoint($m)
				line-height: 40px

.genericForm__field
	position: relative
	display: block

	.signIn--s2 &, .recapUpload &
		margin-bottom: 30px

	.sendContestForm &
		margin-bottom: 10px

.genericForm__hashtag
	color: #9c9c9c
	margin-bottom: 20px
	font-size: 13px

.genericForm__smbEmail
	display: inline-block
	position: absolute
	right: 0
	top: 0
	border: 0
	width: 40px
	height: 40px
	cursor: pointer

.genericForm__input.genericForm__inputEmail
	padding-right: 45px


.genericForm__error
	color: red
	text-align: left
	display: block
	font-size: 12px
	line-height: 1.5em
	#inviteFriendForm &
		display: none

	.hasHerror &
		display: block

.signIn__text
	position: relative
	text-align: left
	+breakpoint($l)
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)

.genericForm__btn
	margin-bottom: 20px
	border: none
	text-align: center
	cursor: pointer
	min-width: 100%
	+breakpoint($l)
		margin-bottom: 0
		margin-top: 50px
		min-width: 280px
		&.genericForm__btn--continue
			margin: 0px

	&.genericForm__btn--mobile
		display: block
		+breakpoint($l)
			display: none

	&.genericForm__btn--desktop
		display: none
		+breakpoint($l)
			display: block

// mylist

.myListWrapper
	position: absolute
	padding: 20px 0 0
	overflow: auto
	bottom: 20px
	left: 20px
	right: 20px
	top: 100px
	+breakpoint($m)
		padding: 30px 0 0
		bottom: 30px
		left: 30px
		right: 30px
		top: 70px
	+breakpoint($l)
		padding: 40px 0 0
		bottom: 60px
		left: 60px
		right: 60px
		top: 70px

.myList

.myList__item
	margin-bottom: 60px
	+clearfix

.myList__col
	font-size: 0
	&:last-child
		margin-top: 20px
	+breakpoint($l)
		+span(1 of 2)

		&:last-child
			margin-top: 0
			+span(1 of 2 omega)

.myList__label

	vertical-align: top
	display: inline-block
	min-width: 80px
	position: relative
	top: 10px

.myList__info
	vertical-align: top
	display: inline-block

.myList__name,
.myList__rank,
.myList__buzz,
	vertical-align: top
	margin-bottom: 10px

.myList__share
	font-size: 14px
	display: inline-block
	vertical-align: top
	margin-bottom: 20px
	+breakpoint($m)
		margin-bottom: 0
		padding-right: 20px
		width: 35%
	a
		width: 40px
		height: 40px
		display: inline-block
		vertical-align: top
		background-size: 30px

.myList__shareLabel
	display: inline-block
	vertical-align: top
	margin-right: 15px

.myList__video,
.myList__image
	font-size: 16px
	display: inline-block
	vertical-align: top
	padding-bottom: 56.25%
	position: relative
	width: 100%
	+breakpoint($m)
		padding-bottom: 36.56%
		width: 65%

.myList__image
	overflow: hidden
	img
		position: absolute
		background: grey
		width: 100%

.myList__videoPlay
	width: 40px
	height: 40px
	display: block
	left: 50%
	top: 50%
	transform: translateX(-50%) translateY(-50%)
	-webkit-transform: translateX(-50%) translateY(-50%)
	position: absolute


// partecipate
.partecipate
	display: none

.activeView,
.activeViewItem
	display: block

.partecipate--s2
	display: block




.partecipate__content, .recapUpload
	position: absolute
	top: 50%
	left: 50%
	transform: translateY(-50%) translateX(-50%)
	-webkit-transform: translateY(-50%) translateX(-50%)
	z-index: 9
	.noUserEntries &
		height: 350px


.partecipate__btn
	width: 90px
	padding-top: 160px
	display: inline-block
	background-size: 90px
	text-align: center

.recapVideo__play--resume
	@extend .partecipate__btn
	background: url('images/svg/video/play.svg') center center no-repeat

.partecipate__VideoStream
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: green


.recapUpload
	+clearfix
	width: 70%

	.genericForm__btn
		min-width: 100%
		+breakpoint($l)
			display: inline-block
			min-width: 200px
			margin-right: 20px

.recapUpload__col
	+breakpoint($l)
		+span(1 of 2)

.recapUpload__col--2
	margin-top: 40px
	+breakpoint($l)
		margin-top: 0
		padding-left: 50px

.recapUpload__img
	width: 100%

.recapUpload__mobile
	background-size: cover
	background-position: center
	height: 200px
	+breakpoint($l)
		height: 0px
	img
		display: none
		+breakpoint($l)
			display: block


.recapVideo
	opacity: 0
	font-size: 16px
	display: inline-block
	vertical-align: top
	//padding-bottom: 56.25%
	position: relative
	width: 100%
	transition: all 0.5s ease
	+breakpoint($m)
		//padding-bottom: 56.25%
		width: 100%
	video
		width: 100%
	&.recording
		opacity: 1

.recapVideo__play
	width: 40px
	height: 40px
	display: block
	left: 50%
	top: 50%
	transform: translateX(-50%) translateY(-50%)
	-webkit-transform: translateX(-50%) translateY(-50%)
	position: absolute


.uploadFeedback
	text-align: center
	line-height: 1.5em

.uploadFeedback__share
	text-transform: uppercase
	text-align: center
	margin-top: 50px

	+breakpoint($m)
		margin-top: 100px
		line-height: 1.5em

.uploadFeedback__link
	text-align: center
	margin-top: 15px

.uploadFeedback__fb,
.uploadFeedback__tw
	width: 40px
	height: 40px
	display: inline-block

// load text
.partecipate__content

	.genericForm__btn
		width: 80%
		margin: 20px auto 0

.partecipate__text
	position: relative
	margin: 0 auto
	+breakpoint($l)
		width: 80%

	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(255, 255, 255, 0.3)


#VideoRecorder
	//position: absolute
	//left: 50%
	//transform: translateX(-50%)
