.tilt
	width: 120%
	height: 120%
	top: -10%
	left: -10%
	position: absolute
	overflow: hidden


.tilt__back
	position: relative
	width: 100%
	height: 100%
	background-position: 50% 50%
	background-repeat: no-repeat
	background-size: cover
