<div class="file-input-container">
    <label>{{ label | translate }}</label>
    <input type="file" class="file-hidden" id="id-{{ id }}" name="{{ name }}" file-model="{{ model }}" ng-model="validationHack" also-watch="{{ watch }}" file-required="{{ required }}" file-type="{{ file_type }}" image-width="{{ imageWidth }}" image-min-width="{{ imageMinWidth }}" image-max-width="{{ imageMaxWidth }}" image-height="{{ imageHeight }}" image-min-height="{{ imageMinHeight }}" image-max-height="{{ imageMaxHeight }}" image-wh="{{ imageWh }}" image-bg-wh="{{ imageBgWh }}" image-logo="{{ imageLogo }}" image-bg="{{ imageBg }}" image-flyer="{{ imageFlyer }}" />
    <div id="id-{{ id }}-filename" class="file-input-filename">
        <span ng-if="contest[name] && !contest[name].name">
            {{ contest[name] }}
            <span><a ng-click="{{ model }} = null"><i class="fa fa-times"></i></a></span>
        </span>
        <span ng-if="contest[name] && contest[name].name">
            {{ contest[name].name }}
            <span><a ng-click="{{ model }} = undefined"><i class="fa fa-times"></i></a></span>
        </span>
    </div>
    <a class="btn btn-action btn-yellow" ng-click="browse()">{{ 'UPLOAD' | translate }}</a>	
	<div class="clearfix"></div>
</div>
<div>
<p class="text-danger type-err-msg" ng-if="myForm[name].$error.fileType">{{ 'ERROR_INVALID_FILE_TYPE' | translate }}</p>
<p class="text-danger size-err-msg" ng-if="myForm[name].$error.imageHeight || myForm[name].$error.imageWidth || myForm[name].$error.imageMaxWidth || myForm[name].$error.imageMaxHeight || myForm[name].$error.imageMinWidth || myForm[name].$error.imageMinHeight">{{ 'ERROR_INVALID_IMAGE_DIMENSIONS' | translate }}</p>
<p class="text-danger wh-err-msg" ng-if="myForm[name].$error.imageWh">{{ 'ERROR_INVALID_RESOLUTION_IMAGE' | translate }}</p>
<p class="text-danger bh-wh-err-msg" ng-if="myForm[name].$error.imageBgWh">{{ 'ERROR_INVALID_RESOLUTION_BACKGROUND_IMAGE' | translate }}</p>
</div>
<div class="clearfix"></div>
