html {
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {

    height: 100%;
    margin: 0;
    padding: 0;
    color: white;

    /*

    perspective: 1px;
    */
}

@font-face{
    font-family:"Helvetica Neue";
    src:url("../../templates/fonts/HelveticaNeue-Roman.otf");
}

/*business*/
@font-face{
    font-family:"TrajanPro Regular";
    src:url("../../templates/fonts/TrajanPro-Regular.otf");
	letter-spacing: 0.3em;
}
/*fashion*/
@font-face{
    font-family:"DidotElder Roman";
    src:url("../../templates/fonts/DidotElder-Roman.otf");
	letter-spacing: -0.03em;
}
/*food*/
@font-face{
    font-family:"Snell Roundhand Script";
    src:url("../../templates/fonts/Snell-Roundhand-Script.otf");
	letter-spacing: 0.04em;
}
/*love*/
@font-face{
    font-family:"Gotham Ultra";
    src:url("../../templates/fonts/GothamUltra.otf");
	letter-spacing: 0;
}
/*music*/
@font-face{
    font-family:"CircularStd Medium";
    src:url("../../templates/fonts/CircularStd-Medium.otf");
	letter-spacing: 0.075em;
}
/*nature*/
@font-face{
    font-family:"Griffo Classico";
    src:url("../../templates/fonts/Griffo-Classico.ttf");
	letter-spacing: 0.02em;
}
/*social cause*/
@font-face{
    font-family:"Impact";
    src:url("../../templates/fonts/Impact.ttf");
	letter-spacing: 0.01em;
}
/*sport*/
@font-face{
    font-family:"Alpha headline";
    src:url("../../templates/fonts/Alpha-headline.otf");
	letter-spacing: 0.17em;
}
/*travel*/
@font-face{
    font-family:"ChronicleDeckCond BoldItal";
    src:url("../../templates/fonts/ChronicleDeckCond-BoldItal.otf");
	letter-spacing: 0.08em;
}
/*
@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Medium.eot');
  src: local('â˜º'), url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype'), url('../fonts/Futura-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.eot');
  src: local('â˜º'), url('../fonts/Futura-Bold.woff') format('woff'), url('../fonts/Futura-Bold.ttf') format('truetype'), url('../fonts/Futura-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Futura-Std';
  src: url('../fonts/FuturaStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Heavy';
  src: url('../fonts/FuturaStd-Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharapallPro-Regular';
  src: url('../fonts/ChaparralPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharapallPro-Bold';
  src: url('../fonts/ChaparralPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharapallPro-Semibold-Italic';
  src: url('../fonts/ChaparralPro-SemiboldIt.otf');
  font-weight: normal;
  font-style: normal;
}
*/

a, a:hover, a:focus {
	color: #FF0044;
}

b{
    /*font-family: 'CharapallPro-Bold';
    font-weight: 400;*/
	font-size: 22px;
}

h3
{
  font-size: 20px;
}

.parallax {

}

.parallax__layer {
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header {
    text-align:center;
    /*position: static;
    z-index: 10000;
    margin-right: 1.2em;
    top: 0;
    right: 0;
    font-family: 'CharapallPro-Semibold-Italic';*/
    font-size: 60px;
    white-space: nowrap;
    width: 100%;
    bottom: 0%;
    left: 0;
    position: absolute;
	padding-bottom: 30px;
}

.header.scroll-to-fixed-fixed {
    color: black;
    height: 100px;
    background-color: white;
}

.parent {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header_bar{
    position: absolute;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*transform: translateZ(-1px) scale(3);

    text-align: center;
    position: static;
    background-attachment: fixed;*/
}

.contest{
    text-align: center;
    font-size: 22px;
    /*margin:0 auto;
    overflow:hidden;
    transform: translateZ(0);
    font-family: 'CharapallPro-Regular';*/
    font-family: 'Helvetica Neue';
    color: #333;

}

.submissions{
    text-align: center;
    margin: auto;
    width: 1028px;
}

.header_contest{
    width: 780px;
    height: auto;
    margin: auto;
    text-align:left;
    padding:5px 20px;
    /*
    border-radius: 10px;
    box-shadow:  10px  10px 20px #dedede,
                -10px -10px 20px #dedede,
                 10px -10px 20px #dedede,
                -10px  10px 20px #dedede;
    */
}




.facebook_tab_contest_description {
	/*font-size: 14px;
	font-weight:300;
	font-size: 22px;*/

	text-align:justify; 
	width: 96%;
	padding-top: 5px; 
	
	margin: 0;
}

.paragraph {
	/*width:740px; */
    font-size: 16px;
	text-align: left;
    line-height: 20px;
	letter-spacing: 2px;
}

.facebook_tab_contest_t_e_c {
	font-size: 18px;
	text-align:right;
}

.hidden_clear{
  clear: both;
}


.contentDescription{
	height:auto;
	color:black;
	padding-bottom:0px;
	overflow: auto;
}
.buttons
{
  width: 40%;
  overflow:hidden;  
  margin: 0 auto;
}
.join_now_contest{
  width: 40%;
  height: 50px;  
  font-weight: bold;
  float: left;
  margin-top: 0px !important;
  margin-bottom: 20px;
  border-color: white;
  border-radius: 35px;
  color: white;
}
.invite_contest{
  width: 40%;
  height: 50px;  
  font-weight: bold;
  float: right;
  margin-top: 0px !important;
  margin-bottom: 20px;
  border-color: white;
  border-radius: 35px;
  color: white;
}
.invite_contest_alone{
  width: 40%;
  height: 50px;  
  font-weight: bold;
  margin: 0 auto;
  border-color: white;
  border-radius: 35px;
  color: white;
}
.facebook_page_link
{
  text-align:center;
  width: 96%;
  font-size: 18px;
}

.categories_submissions{
  width: 330px;
  height: 45px;
  margin: 35px 0px 35px 0px;
}

.submissions_grid{
  width: 100%;
  height: auto;
  min-height: 100px;
  margin: 0 auto 50px auto;
}

.submission_row{
  width: 1028px;
  min-height: 302px;
  /*margin-bottom: 35px;*/
  float: left;
  /*padding: 0 2.5px;*/

}
.submission_content{
  float:left;
  /*width: 245px;*/
  min-height: 302px;
    /*border: 1px solid #e2dede; */
  margin: 5px 5px 35px 5px;
}
.submission_media{
  height: 245px;
  width: 245px;
  background-color: black;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
}
.submission_info_box{
  /*background-color: #e2dede;*/
  background-color: #fff;
  min-height: 115px;
  width: 245px;
}

.submission_title {
    margin: 0 10px 4px 10px!important;
    padding-top:6px;
    font-weight: bold;
    font-size: small;
    text-align: left;
    color: #707173;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
}

.submission_user {
    margin:0 10px 4px 10px!important;
    font-weight: bold;text-align:left;
    /*color: #296098;*/
    color: black;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
}

.submission_rank {
    float: left;
    width: 70px;
    height: 45px;
    /*padding-top: 20px;*/
    margin:0 10px 4px 10px;
    text-align:left;
    color: #707173;
    font-size: 42px;
}

.submission_score_label {
    float: left;
    width: 135px;
    margin:0 10px 4px 10px!important;
    /*padding-top: 20px;*/
    font-size: small;
    text-align:right;color: #707173;
}

.submission_score {
    float: left;
    width: 135px;
    margin:0 10px 4px 10px!important;
    font-weight: bold;font-size: 22px;
    text-align:right;
    color: #a52828;
}


.footer{
  background-color: #3f3f3f;
  width: 100%;
  height: 110px;
}


#fullscreen_popup{ 
    position:fixed; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.6); 
    z-index:5; 
    width:100%;
    height:100%;
    display:none;
    opacity:2; 
  } 
  #fullscreen_popup_content 
  { 
    width:898px;
    height:510px;
    margin:120px auto 0 auto;
    position:relative; 
    background-color: white;
    z-index:10000;
    display:none; 
    border:3px solid black;
    border-radius:10px;

  } 
  .cancel { 
    display:block; 
    position:absolute; 
    top:-42px; 
    right:2px; 
    background:rgb(245,245,245); 
    color:black; 
    height:36px;
    width:35px; 
    font-size:30px; 
    text-decoration:none !important; 
    text-align:center; 
    font-weight:bold; 
    border:5px solid #cccccc; 
    border-radius:10px;
    line-height: 22px;
  }
  .fullscreen_popup_title
  {
    display:block; 
    position:absolute; 
    top: 0;
    height: 50px;
    font-size:20px;
    text-align:center;
    background:rgba(199, 199, 199, 0.76);
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
    opacity:2; 
    width: 100%;
    line-height: 50px;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
      color: black;
  } 
  #submissione_popup_content
  {

    width: 100%;
    height: 100%;
      /*display:flex;*/
      text-align: center;

  }


.logo_footer {
  width: 208px; 
  height: 36px;
  background-image: url('../tab/buzz-logo-footer.png');
  float: left;
  margin-top: 12px;

}

.youtube_link_footer {

  display:block;
    height:39px;
    width:39px;
  background-image: url('../tab/yt-footer.png');

}

.gplus_link_footer {

  display:block;
    height:39px;
    width:39px;
  background-image: url('../tab/g+-footer.png');

}
.instagram_link_footer {

  display:block;
    height:39px;
    width:39px;
  background-image: url('../tab/in-footer.png');

}
.linkedin_link_footer {

  display:block;
    height:39px;
    width:39px;
  background-image: url('../tab/ln-footer.png');

}
.twitter_link_footer {

  display:block;
    height:39px;
    width:39px;
  background-image: url('../tab/tw-footer.png');

}
.facebook_link_footer {

  display:block;
    height:39px;
    width:39px;
  background-image: url('../tab/fb-footer.png');

}


.container_footer {
  width: 1028px; 
  height: 60px; 
  margin: 0 auto;
}

/* ------------------------------------------------------------------------ */



@media (max-width: 820px) {

	b {
		font-size: 16px;
	}
	
	h3 {
	  font-size: 14px;
	}
	
	.parent {
		position: relative;
		width: 100%;
		height: 250px;
		overflow: hidden;
	}

    .header {
        text-align:center;
        font-size: 40px;
        white-space: nowrap;
        width: 100%;
        bottom: 0%;
        left: 0;
        position: absolute;
    }

    .header.scroll-to-fixed-fixed {
        color: black;
        height: 60px;
        background-color: white;
    }
	
	.header_bar{
		position: absolute;

		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 250px;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		/*transform: translateZ(-1px) scale(3);

		text-align: center;
		position: static;
		background-attachment: fixed;*/
	}
    .contest{
        text-align: center;
        font-size: 16px;
        font-family: 'Helvetica Neue';
        color: #333;
    }
    .submissions{
        text-align: center;
        margin: auto;
        width: 771px;
    }
    .header_contest{
        width: 700px;
        height: auto;
        margin: auto;
        text-align:left;
        padding:5px 20px;
    }
    .facebook_tab_contest_description {
        text-align:justify;
        width: 96%;
        padding-top: 5px;
        margin: 0;
        font-size: 16px;
    }

    .paragraph {
        font-size: 14px;
        text-align: left;
        line-height: 20px;
		letter-spacing: 2px;
    }

    .facebook_tab_contest_t_e_c {
        font-size: 14px;
        text-align:right;
    }

	.submission_row{
        width: 771px;
        min-height: 302px;
        /*margin-bottom: 35px;*/
        float: left;
	}


      h1{
        font-size: 26px;
        /*margin-top: 10px*/
      }
      h2
      {
        font-size: 20px;
      }
      h4
      {
        font-size: 16px;
      }
      .facebook_page_link
      {
        font-size: 14px;
      }

      .submissions_row
      {
        padding: 0 30px;
      }
      .join_now_contest, .invite_contest, .invite_contest_alone
      {
        font-size: 10px;
      }

    #fullscreen_popup{
        position:fixed;
        top:0;
        left:0;
        background:rgba(0,0,0,0.6);
        z-index:5;
        width:100%;
        height:100%;
        display:none;
        opacity:2;
    }
    #fullscreen_popup_content
    {
        width:650px;
        height:490px;
        margin:100px auto 0 auto;
        position:relative;
        background-color: white;
        z-index:10000;
        display:none;
        border:3px solid black;
        border-radius:10px;

    }
    .cancel {
        display:block;
        position:absolute;
        top:-42px;
        right:2px;
        background:rgb(245,245,245);
        color:black;
        height:36px;
        width:35px;
        font-size:30px;
        text-decoration:none !important;
        text-align:center;
        font-weight:bold;
        border:5px solid #cccccc;
        border-radius:10px;
        line-height: 22px;
    }
    .fullscreen_popup_title
    {
        display:block;
        position:absolute;
        top: 0;
        height: 50px;
        font-size:20px;
        text-align:center;
        background:rgba(199, 199, 199, 0.76);
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        opacity:2;
        width: 100%;
        line-height: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: black;
    }
    #submissione_popup_content
    {

        width: 100%;
        height: 100%;
        text-align: center;

    }


}

