.nominations__Name
	color: #fff
	+responsiveFontSize(22px, 4)

.nominations__label
	color: #fff
	+responsiveFontSize(12px, 0)

.nominations__rank
	color: #fff
	+responsiveFontSize(30px, 20)

.nominations__buzz
	color: #fff
	+responsiveFontSize(30px, 20)


.nominations__fb
	background: url(images/svg/social/fb-white.svg) center center no-repeat
	background-size: 30px
	&:hover
		background-image: url(images/svg/social/fb-green.svg)

.nominations__tw
	background: url(images/svg/social/tw-white.svg) center center no-repeat
	background-size: 30px
	&:hover
		background-image: url(images/svg/social/tw-green.svg)


.nominations__allTitle
	color: $textColor
	+responsiveFontSize(40px, 10)
	&:hover
		color: $themeColor

.nominations__loadMore
	@extend %viewMore