<ng-form name="promotionForm">
    <div class="row">
        <div class="col-md-12">
            <!--<h4 class="color-red">{{ 'CHOOSE_YOUR_PROMOTION_STRATEGY' | translate }}</h4>-->            
            <div class="vert-spacer"></div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-4 col-xs-12 promotion-block promotion-influencers" ng-class="{active: contest.contest_influencers_promotion}" ng-click="togglePromotionType('influencers')">
            <div class="promotion-block-inner">
                <div class="info-tooltip" tooltip-placement="right" tooltip="{{ 'TOOLTIP_INFLUENCERS' | translate }}"><i class="fa fa-info-circle"></i></div>
                {{ 'INFLUENCERS' | translate }}
            </div>
        </div>
        <div class="col-md-4 col-xs-12 promotion-block promotion-display" ng-class="{active: contest.contest_display_promotion}"  ng-click="togglePromotionType('display')">
            <div class="promotion-block-inner">
                <div class="info-tooltip" tooltip-placement="right" tooltip="{{ 'TOOLTIP_DISPLAY' | translate }}"><i class="fa fa-info-circle"></i></div>
                {{ 'DISPLAY' | translate }}
            </div>
        </div>
        <div class="col-md-4 col-xs-12 promotion-block promotion-video" ng-class="{active: contest.contest_video_seeding_promotion}"  ng-click="togglePromotionType('video_seeding')">
            <div class="promotion-block-inner">
                <div class="info-tooltip" tooltip-placement="left" tooltip="{{ 'TOOLTIP_VIDEO' | translate }}"><i class="fa fa-info-circle"></i></div>
                {{ 'VIDEO_SEEDING' | translate }}
            </div>
        </div>
        <input class="field-hidden" name="promotion_type" ng-model="contest.hasPromotionType" ng-required="contest.contest_promotion_budget">
    </div>-->
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <!--<i class="fa fa-info-circle fa-2 sales-info"></i>-->
            <p class="promotion-info">
                {{ 'OUR_SALES_TEAM_QUOTATION' | translate }}
            </p>
        </div> 
        <div class="col-md-3 col-xs-12">
            <div class="form-group has-feedback">
                <label class="text-right">
                    <input type="radio" class="checkbox-fld" value="YES" ng-model="contest.contest_promotion">
                    {{ 'YES' | translate }}
                    <input type="radio" class="checkbox-fld ml20" value="NO" ng-model="contest.contest_promotion">
                    {{ 'NO' | translate }}
                </label>
                <!--<label>{{ 'CHOOSE_YOUR_BUDGET' | translate }} <span class="label-small">{{ 'BUDGET_EXAMPLE' | translate }}</label>-->
                <!-- <input type="text" class="form-control promotion-budget" name="contest_promotion_budget" ng-model="contest.contest_promotion_budget" ng-required="contest.hasPromotionType" only-num>
                <i class="fa fa-euro color-blue"></i> -->
            </div>
        </div>
    </div>
</ng-form>