<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 " lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="it-IT" ng-app="bmbMinisite" ng-controller="AppCtrl" >
<!--<![endif]-->
  <head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="apple-touch-icon" href="">
    <link rel="android-touch-icon" href="" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />

    <title ng-bind="_state.data.pageTitle"></title>
    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <link rel="stylesheet" type="text/css" href="assets/themes/fashion/theme.css" />

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript" src="assets/app.ui.js"></script>

  </head>
  <body>

    <div id="loading-bar" class="loader">
      <div class="loader__buzzLogo"></div>
    </div>

    <div class="fading-view" ui-view="main"></div>

    <ngckie></ngckie>
  </body>

  <!-- env: compile -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- endenv -->

</html>
