<div ng-class="{loading: loading['cc']}">
    <div class="credit-card-container" ng-hide="card === null || card.id">
        <div class="alert alert-danger">
            <div class="text-danger">{{ 'NO_CARD_AVAILABLE_WARNING' | translate }}</div>
        </div>
        <!-- START: Payment form -->
        <div class="alert alert-danger" ng-show="paymentError">
            <div class="payment-errors text-danger">{{ paymentError | translate }}</div>
        </div>

        <ng-form id="payment-form" name="paymentForm" ng-submit="StripeSubmit()">
            <div class="clearfix"></div>
     
            <div id="payment-form-cc" class="payment-input">
                <input class="card-amount-int" type="hidden" value="1"/>
                <input class="card-currency" type="hidden" value="EUR"/>
                <input class="service-type" type="hidden" value="" />
                <div class="form-group col-md-6">
                    <label for="card-number">{{ 'CARD_NUMBER' | translate }}</label>
                    <input data-stripe="number" id="card-number" class="card-number form-control" type="text" size="20" value="" id="card-number" ng-maxlength="16" maxlength="16" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="card-holdername">{{ 'CARD_HOLDER' | translate }}</label>
                    <input data-stripe="name" id="card-name" class="card-holdername form-control" type="text" size="20" value="" id="card-holdername" required />
                </div>
                <div class="form-group col-md-3 col-xs-3 card-cvc-container">
                    <label for="card-cvd">CVC</label>
                    <input data-stripe="cvc" id="card-cvc" class="card-cvc form-control" type="text" size="4" value="" id="card-cvc" required />
                </div>
                <div class="form-group col-md-offset-1 col-md-2 col-xs-9 card-expiry">
                    <label>{{ 'VALID_UNTIL' | translate }}</label>
                    <input data-stripe="exp_month" id="card-expiry-month" class="card-expiry-month form-control" type="text" size="2" value="" placeholder="{{ 'PLACEHOLDER_MONTH' | translate }}" />
                    <input data-stripe="exp_year" id="card-expiry-year" class="card-expiry-year form-control" type="text" size="4" value="" placeholder="{{ 'PLACEHOLDER_YEAR' | translate }}"/>
                </div>
                <div class="form-group col-md-2 col-xs-6">
                    <img ng-src="/images/ssl.png" class="ssl-img"/>
                </div>
                <div class="form-group col-md-4 col-xs-6">
                    <no-captcha
                        g-recaptcha-response="recaptchaCreditCard"
                        theme='light'
                        control="noCaptchaControl"
                        site-key="6LdS5CQTAAAAAGFLn02HGP2mOoSRI8rq9-RaLDrm">
                    </no-captcha>
                </div>
                <div class="col-md-6 col-xs-12">
                    <img ng-src="{{ '/images/creditcard_' + locale + '.png' }}" class="creditcard-img"/>
                </div>
                <div class="col-md-6 card-submit">
                    <button class="submit-button btn btn-dashboard btn-blue" ng-disabled="recaptchaCreditCard === undefined || !paymentForm.$valid" type="button" ng-click="StripeSubmit()">{{ 'ADD_CARD' | translate }}</button>
                </div>
            </div> <!-- END: Payment form -->
        </ng-form>
    </div>

    <div class="credit-card-container" ng-show="card.id">
        <div class="alert alert-danger" ng-show="paymentError">
            <div class="payment-errors text-danger">{{ paymentError | translate }}</div>
        </div>
        <div class="credit-cards">
            <div class="col-md-3 col-sm-12">
                <div class="credit-card-heading">{{ 'CARD_HOLDER' | translate }}</div>
                <div class="credit-card-value">{{ card.card_holder | defaults:'-' }}</div>
                <div class="clearfix credit-card-separator"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="credit-card-heading">{{ 'LAST_FOUR' | translate }}</div>
                <div class="credit-card-value">{{ card.last_four }}</div>
                <div class="clearfix credit-card-separator"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="credit-card-heading">{{ 'EXPIRE_DATE' | translate }}</div>
                <div class="credit-card-value">
                    <span ng-class="{'is-expiring': card.is_expiring}">{{ card.expire_month }}-{{ card.expire_year }}</span>
                </div>
                <div class="clearfix credit-card-separator"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="credit-card-heading">{{ 'ACTIONS' | translate }}</div>
                <div class="credit-card-value"><a href="" ng-click="removeCard()">{{ 'DELETE' | translate }}</a></div>
                <div class="clearfix credit-card-separator"></div>
            </div>
        </div>
        <div class="vert-spacer"></div>
    </div>
</div>