<div>
    <div class="section-heading">
        <h1 class="section-title">{{ 'YOUR_CONTESTS' | translate }}</h1>
        <h3 class="section-subtitle">{{ 'CHOOSE_CONTESTS_TO_MANAGE' | translate }}</h3>
    </div>
    <div class="section-heading-right">
        <a href="mailto:{{ getContactUsMail() }}" class="btn btn-dashboard btn-large btn-blue">{{ 'CONTACT_US' | translate }}</a>
    </div>
    <div class="search-container">
        <div class="search-icon-container">
            <i class="fa fa-search"></i>
        </div>
        <div class="search-box-container">
            <input type="text" name="q" placeholder="{{ 'SEARCH_CONTESTS' | translate }}" class="search-box" ng-model="params.search" ng-model-options="{ debounce: 700 }"/> 
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="filters-container">
        <ul class="contest-filters">
            <li class="contest-filter" ng-repeat="(id, f) in ::utils.statusDef" ng-class="{selected: params.status == id}" ng-click="setFilter(id)">{{ f.name | translate }}</li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="alert alert-danger alert-floating" ng-show="error">
        <div class="text-danger">{{ error | translate }}</div>
    </div>

    <div ng-if="contests.length === 0" class="alert alert-warning alert-no-results">
        <div class="text-no-results">{{ 'NO_RESULTS' | translate }}</div>
    </div>

    <div class="contest-list" ng-class="{loading: contests === null}">
        <div ng-repeat="c in contests" class="contest-box" id="contest-box-{{ c.contest_id }}">
            <div class="contest-title contest-type-{{ c.contest_type }}">{{ c.contest_name }}<span ng-show="c.contest_status !== '4'"> - <a class="contest-route" ng-if="c.service_type == 1" href="http://bmb.buzzmybrand.com/{{ c.contest_route }}" target="_blank">WEBSITE</a><a class="contest-route" ng-if="c.service_type == 2" href="http://www.contestengine.net/{{ c.contest_route }}" target="_blank">WEBSITE</a></span></div>

            <div class="contest-inner">
            
                <div class="col-md-2 col-sm-4 col-xs-4 pr0">
                    <div ng-if="c.use_template == 1 && c.template_image" class="contest-image-container" style="background-image: url('{{ '/templates/mini-squared/' + c.template_image }}')">
                        <div class="contest-status status-label-{{ utils.getStatusClass(c.contest_status) }}">{{ utils.getStatusLabel(c.contest_status) | translate }}</div>
                    </div>
					<div ng-if="c.use_template == 1 && !c.template_image" class="contest-image-container" style="background-image: url('{{ '/images/logo.png' }}')">
                        <div class="contest-status status-label-{{ utils.getStatusClass(c.contest_status) }}">{{ utils.getStatusLabel(c.contest_status) | translate }}</div>
                    </div>
					<div ng-if="c.use_template == 2" class="contest-image-container" style="background-image: url('{{ (c.contest_image_minisite_bg !== null ) ? '/images/events/' + c.contest_image_minisite_bg : '/images/logo.png'}}')">
                        <div class="contest-status status-label-{{ utils.getStatusClass(c.contest_status) }}">{{ utils.getStatusLabel(c.contest_status) | translate }}</div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="contest-date contest-date-start">
                        <span class="date-from-label">{{ 'CONTEST_DATE_FROM' | translate }}</span>
                        <span class="contest-date-month">{{ c.start_date | date:'MMMM'}}</span>
                        <span class="contest-date-day">{{ c.start_date | date:'dd'}}</span>
                        <span class="contest-date-year">{{ c.start_date | date:'yyyy'}}</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4 separator-right">
                    <div class="contest-date contest-date-end">
                        <span class="date-from-label">{{ 'CONTEST_DATE_TO' | translate }}</span>
                        <span class="contest-date-month">{{ c.end_date | date:'MMMM'}}</span>
                        <span class="contest-date-day">{{ c.end_date | date:'dd'}}</span>
                        <span class="contest-date-year">{{ c.end_date | date:'yyyy'}}</span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-8 col-xs-12 contest-action-buttons col-reduced-padding">
                    <a ng-href="{{ utils.getHrefFor(c, 'analytics') }}" class="btn btn-contest btn-analytics" ng-class="{'btn-disabled': utils.isDisabledButton (c.contest_status, 'analytics')}"><i class="fa fa-pie-chart"></i> {{ 'ANALYTICS' | translate }}</a>
                    <a ng-href="{{ utils.getHrefFor(c, 'approve') }}" class="btn btn-contest btn-approve" ng-class="{'btn-disabled': utils.isDisabledButton (c.contest_status, 'approve')}"><i class="fa fa-check"></i> {{ 'APPROVE_CONTENTS' | translate }}</a>
                    <a ng-href="{{ utils.getHrefFor(c, 'edit') }}" class="btn btn-contest btn-edit" ng-class="{'btn-disabled': utils.isDisabledButton (c.contest_status, 'edit')}"><i class="fa fa-cog"></i> {{ 'EDIT_CONTEST' | translate }}</a>
                    <a class="btn btn-contest btn-details" ng-if="utils.isDisabledButton (c.contest_status, 'delete')" data-toggle="modal" data-target="#summary-{{ c.contest_id }}"><i class="fa fa-eye"></i> {{ 'CONTEST_DETAILS' | translate }}</a>
                    <a class="btn btn-contest btn-delete" ng-if="!utils.isDisabledButton (c.contest_status, 'delete')" ng-click="deleteContest(c.contest_id)" ng-class="{'btn-disabled': utils.isDisabledButton (c.contest_status, 'delete')}"><i class="fa fa-times"></i> {{ 'DELETE_CONTEST' | translate }}</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- SUMMARY POPUP -->
            <div class="modal fade" id="summary-{{ c.contest_id }}" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="title-modal"><b>{{ 'CONTEST_SUMMARY_LIST' | translate }}</b></h3>
                        </div>
                        <div class="modal-body">
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'CONTEST_TYPE' | translate }}</b></div>
                                <div class="col-md-8">{{ utils.getContestTypeName(c.contest_type) }}</div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'LANGUAGE' | translate }}</b></div>
                                <div class="col-md-8"><span ng-show="c.location_id == 1">English</span><span ng-show="c.location_id == 2">Italiano</span></div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'OBJECTIVES' | translate }}</b>
                                </div>
                                <div class="col-md-8" ng-if="c.contest_objectives.length">
                                    <span ng-repeat="id in c.contest_objectives track by $index">{{ utils.getObjectives()[id].label }}<br></span>
                                </div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'SOCIAL' | translate }}</b></div>
                                <div class="col-md-8">
                                    <p ng-show="c.twitter_data.length > 0"> Twitter:
                                        <span ng-repeat="page in c.twitter_data">{{ page['tw_page_name'] }}<br></span>
                                    </p>
                                    <p ng-show="c.facebook_data.length > 0"> Facebook:
                                        <span ng-repeat="page in c.facebook_data">{{ page['fb_page_name'] }}<br></span>
                                    </p>
                                    <p ng-show="c.youtube_data.length > 0"> Youtube:
                                        <span ng-repeat="page in c.youtube_data">{{ page['yt_page_name'] }}<br></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'TITLE' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_name }}</div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'HASHTAG' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_hashtag }}</div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'CONTEST_BRIEF' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_cta }}</div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'HOW_TO_WIN' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_how_to_win }}</div>
                            </div>
                            <div class="row summary" ng-if="c.rewards.length">
                                <div class="col-md-4"><b>{{ 'REWARDS' | translate }}</b>
                                </div>
                                <div class="col-md-8" >
                                    <span ng-repeat="reward in c.rewards">{{ reward.rank }}&#186; {{ 'REWARD' | translate }}: {{ reward.title }}<br></span>
                                </div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'DATES' | translate }}</b></div>
                                <div class="col-md-8" ng-class="{'alert alert-danger': not_valid_dates}">{{ 'FROM' | translate }} {{ c.start_date | date:'dd MMMM yyyy HH:mm' }} {{ 'TO' | translate }} {{ c.end_date | date:'dd MMMM yyyy HH:mm' }}</b></div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'CONTEST_FLYER' | translate }}</b></div>
                                <div class="col-md-8">{{ c.template }}</span></div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'CONTEST_FILTER' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_approval == 1 ? 'YES' : 'NO' | translate }}</div>
                            </div>                            
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'CONTEST_URL' | translate }}</b></div>
                                <div class="col-md-8" ng-if="c.contest_service_type == 'BUZZ PACKAGE'"><a href="http://bmb.buzzmybrand.com/{{ c.contest_route }}" target="_blank">http://bmb.buzzmybrand.com/{{ c.contest_route }}</a></div>
                                <div class="col-md-8" ng-if="c.contest_service_type == 'SUPERBUZZ PACKAGE'"><a href="http://www.contestengine.net/{{ c.contest_route }}" target="_blank">http://www.contestengine.net/{{ c.contest_route }}</a></div>
                            </div>
							<div class="row summary" ng-show="c.facebook_data.length > 0">
								<div class="col-md-4"><b>{{ 'CONTEST_FACEBOOKTAB_URL' | translate }}</b></div>
								<div class="col-md-8"><a ng-href="{{ c.facebook_data[0]['fb_page_link'] + 'app/' + c.fbApp_id }}" target="_blank">{{ c.facebook_data[0]['fb_page_link'] + 'app/' + c.fbApp_id }}</a></div>
							</div>
							<div class="row summary" ng-show="c.facebook_data.length > 0">
                                <div class="col-md-4"><b>{{ 'POST_VISIBILITY' | translate }}</b></div>
                                <div class="col-md-8">{{ c.facebook_data[0]['fb_no_story'] }}</div>
                            </div>
                            <div class="row summary" ng-show="c.contest_promotion_budget > 0">
                                <div class="col-md-4"><b>{{ 'PROMOTION_BUDGET' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_promotion | translate }}</div>
                            </div>
                            <div class="row summary">
                                <div class="col-md-4"><b>{{ 'CHOSEN_PACKAGE' | translate }}</b></div>
                                <div class="col-md-8">{{ c.contest_service_type }}</div>
                            </div>
							<div class="row summary" ng-show="c.coupon">
                                <div class="col-md-4"><b>{{ 'DISCOUNT_APPLIED' | translate }}</b></div>
                                <div class="col-md-8">{{ c.coupon_discount }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /SUMMARY POPUP -->
        </div>
    </div>
</div>
