html, body {
   /* -webkit-backface-visibility: hidden;*/
}

body {
    color: #333;
    text-align: center;
	
}

.bmb_landing_logo_1 {
	width: 70px;
	height: 70px;
}

.bmb_landing_logo_2 {
	width: 70px;
	height: 70px;
}

.bmb_landing_banner{
	width: 100%;
	height: 100px;
	background-image: url('../landing/bg.jpg');
}

.step
{
	height: 60px;
	width: 100%;

}
.step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	width: 100%;
	height: 40px;
	margin: 5px auto;
	background-size: 247px 40px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/mobile-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/mobile-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/mobile-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/mobile-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/mobile-top-bar-5.png');
}
.pulsanti-azione {
	background-image: url('../contest_popup/4-pulsanti-azione.png');
	background-repeat: no-repeat;

}

.preview-button {
	background-image: url('../contest_popup/4-button-preview.png');
	background-position: 0px 34px;
}

.submit-button {
	background-image: url('../contest_popup/4-submit.png');
	background-position: 0px 34px;
}

.preview-button-active:hover {
	background-position: 0px 0px;
	cursor: pointer;
}

.submit-button-active:hover {
	background-position: 0px 0px;
	cursor: pointer;
}

#circle1 {

border:0px solid #cfdcec;
border-radius: 50%;
width: 52px;
height: 52px;
z-index: 800;

}

#circle2 {

border:0px solid #cfdcec;
border-radius: 50%;
width: 52px;
height: 52px;
position: relative;
left: -10px;
z-index: 900;
}

#circle3{

border:0px solid #cfdcec;
border-radius: 50%;
width: 52px;
height: 52px;
position: relative;
left: -20px;
z-index: 800;
}

.circle-active:hover {
	cursor: pointer;
}


.page{
    margin-top:50px;
}

.content{
    margin:50px 100px;
}

.content-title{
    color: #555;
    font-size:29px;
}

.home_content{
    margin:2% 20%;
}

.home{
    margin-top: 12%;
}

.footer{
    margin-top:50px;
    background-color: #333;
    padding:50px 50px;
    color:white;
}

.home_footer{
    margin-top: 10%;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box{
    margin:70px 0px 0px 0px;
}

.box-title{
    color:black;
    text-align: center;
    font-size: 18px;
    border-radius: 0px 0px 6px 6px;
    padding:10px 0px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.box-image{
    color:#555;
    text-align: center;
    font-size: 25px;
    background-color: white;
    padding:40px 0px;
}

.box-data{
    color:black;
    text-align: center;
    font-size: 15px;
    border-radius: 0px 0px 6px 6px;
    padding:10px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.btn-orange{
    background-color: #ef754a;
    border-color: #ef754a;
    color:white;
}

.btn-orange:hover{
    background-color: #ef754a;
    border-color: #ef754a;
    color:white;
}

.btn-turqoise{
    background-color: #2abf9e;
    border-color: #2abf9e;
    color:white;
}

.btn-turqoise:hover{
    background-color: #2abf9e;
    border-color: #2abf9e;
    color:white;
}

.btn-gray{
    background-color: #555;
    border-color: #555;
    color:white;
}

.btn-gray:hover{
    background-color: #555;
    border-color: #555;
    color:white;
}

/* text-based tab facebook widget */
.widget_facebook
{
	height:100%;
    width:700px;
    padding: 10px 10px;
    margin-right: 50px;
    margin-left: 50px;
    /*background-image: url('../images/background_RDS.png');
    background-position: top center;*/
}

.tab-image{
    display:block;
    margin: 0 auto;
    width:700px;
    padding:3px;
}

.tab-description{
	display:block
	margin: 0 auto;
	padding:0px;
	text-align: center;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.tab-img-description{
	display:block;
    margin: 0 auto;
    padding-bottom:5px;
    width:200px;
}

.well-fb {
  min-height: 20px;
  padding: 1px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.col-md-3-fb {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#foto-submit{max-width: 530px; background: url(../contest_popup/4-submit-foto.png) no-repeat; background-size: cover; border: none; width: 100%; height: 42px; text-align: center;  color: #fff; font-weight: bold;}
#foto-submit:hover{background-position: 0 -48px;}
#file-foto-contest{max-width: 530px; height: 300px; background-size: cover; background-image: url('../contest_popup/4-preview.png'); 
  background-position: 0 0;
 /* transition-property: background-position;
    transition-duration: .5s;
     -webkit-transition-property: background-position; 
    -webkit-transition-duration: .5s; 
    transition-timing-function: ease-out;*/
  }
@media (min-width: 992px) {
  .col-md-3-fb {
    float: left;
  }
  
 .col-md-3-fb {
    width: 33%;
  }



/* text-based mini-popup styling for Facebook */
.video-white-fb-popup {
  position: relative;
  background: #FFF;
  padding: 10px;
  width: auto;
  max-width: 500px;
  margin: 0 auto;
}

.white-fb-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 350px;
  margin: 0 auto;
}

.popup-fb-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 13px;
    margin-bottom:15px;
}

.popup-fb-content{
    text-align: center;
}

.popup-fb-button{
    padding:5px 0px;
}













/* text-based popup styling */
.video-white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 700px;
  margin: 0 auto;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 350px;
  margin: 0 auto;
}

.popup-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    margin-bottom:20px;
}

.popup-content{
    text-align: center;
}

.popup-button{
    padding:5px 0px;
}

.widget{
    height:100%;
    width:100%;
    padding: 0px 10px;
}

.widget-text{
    padding:10px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.widget-button{
    padding:10px 5px;    
}

.widget-errors{
    color:red;
    padding:10px 0px;
}

.widget-image{
    display:block;
    margin: 0 auto;
    width:60%;
    padding-top:10px;
}

em, .error {
    color: #a94442;
}

label.normal-form{
    display: inline-block;
    color:black;
}

.ui-datepicker-trigger{
    float:right;
    position:absolute;
    left:390px;
    bottom: 15px;
}

.reward-text{
    margin-top:11px;
    text-align:left;
}

.payment-plan{
    height:350px;
}

.title-payment-plan{
    padding-top:70px;
}

.social{
    width:30px;
}

.team-name
{
    color:black;
    text-align: center;
    font-size: 18px;
    padding:15px 0px 0px 0px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.team-role{
    color:black;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.team-description{
    color:black;
    text-align: center;
    margin-top:10px;
}

.team-email{
    color:black;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.footer-description{
    cursor: pointer;
}

.form-description{
    cursor: pointer;
}

.ui-datepicker { 
  margin-left: 370px;
  z-index: 1000;
}
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
 .form{max-width: 400px}
 .sigUpButton{width: 149px};
	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){

 .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px auto;
	background-size: 655px 57px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/desktop-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/desktop-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/desktop-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/desktop-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/desktop-top-bar-5.png');
}
	}
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	width: 100%;
	height: 40px;
	margin: 5px auto;
	background-size: 247px 40px;
}
.step1
{
	background-image: url('../contest_popup/x2/mobile-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/x2/mobile-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/x2/mobile-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/x2/mobile-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/x2/mobile-top-bar-5.png');
}
}
}
/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
 .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px auto;
	background-size: 655px 57px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/desktop-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/desktop-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/desktop-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/desktop-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/desktop-top-bar-5.png');
}

	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
  .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px auto;
	background-size: 655px 57px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/desktop-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/desktop-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/desktop-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/desktop-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/desktop-top-bar-5.png');
}
	}
	



