html {
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {

    height: 100%;
    margin: 0;
    padding: 0;
    color: white;

}

@font-face{
    font-family:"Helvetica Neue";
    src:url("../../templates/fonts/HelveticaNeue-Roman.otf");
}

/*business*/
@font-face{
    font-family:"TrajanPro Regular";
    src:url("../../templates/fonts/TrajanPro-Regular.otf");
	letter-spacing: 0.3em;
}
/*fashion*/
@font-face{
    font-family:"DidotElder Roman";
    src:url("../../templates/fonts/DidotElder-Roman.otf");
	letter-spacing: -0.03em;
}
/*food*/
@font-face{
    font-family:"Snell Roundhand Script";
    src:url("../../templates/fonts/Snell-Roundhand-Script.otf");
	letter-spacing: 0.04em;
}
/*love*/
@font-face{
    font-family:"Gotham Ultra";
    src:url("../../templates/fonts/GothamUltra.otf");
	letter-spacing: 0;
}
/*music*/
@font-face{
    font-family:"CircularStd Medium";
    src:url("../../templates/fonts/CircularStd-Medium.otf");
	letter-spacing: 0.075em;
}
/*nature*/
@font-face{
    font-family:"Griffo Classico";
    src:url("../../templates/fonts/Griffo-Classico.ttf");
	letter-spacing: 0.02em;
}
/*social cause*/
@font-face{
    font-family:"Impact";
    src:url("../../templates/fonts/Impact.ttf");
	letter-spacing: 0.01em;
}
/*sport*/
@font-face{
    font-family:"Alpha headline";
    src:url("../../templates/fonts/Alpha-headline.otf");
	letter-spacing: 0.17em;
}
/*travel*/
@font-face{
    font-family:"ChronicleDeckCond BoldItal";
    src:url("../../templates/fonts/ChronicleDeckCond-BoldItal.otf");
	letter-spacing: 0.08em;
}

a, a:hover, a:focus {
	color: #FF0044;
}


b{
	font-size: 22px;
}
h3
{
  font-size: 20px;
}
.hr_contest{
  margin: 10px 0;
  border: 0;
  border-top: 1px solid black;
}
.date_contest{
  color: grey;
}
.header_bar{
  width: 100%;
  background: white;
  /* height: 90px; */
  border: none;
  margin-bottom: 0;
  box-shadow: none;
}
.logo1{
  height: 60px;
  display: block;
    margin-left: auto;
    margin-right: auto
  /*width: 80px;*/
 /* padding: 13px 10px 25px 10px; */
}
.logo2{
  height: 80px;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 45px;
}
.hidden_clear{
  clear: both;
}
.contest{
  background-size: cover;
  background-repeat:no-repeat; 
  /*width: 100%;
  padding: 40px 0 50px 0;*/
}
.header_contest{
 /* width: 980px;
  height: 490px;*/
  background-color: white;
  margin: 0 20px 0 20px;
 /*border-radius: 10px; */
}
a.navbar-brand {
  padding-top: 0;
}
h1.contest_name {
  font-size: 24px !important;
  font-weight: 900;
  text-align: center;
  width: 100%;
  padding-right: 10px;
  /* float: left; */
  vertical-align: bottom;
  padding-top: 10px;
  margin-top: 0;
  color: black;
}
div.contest_name_separator{
  height: 2px;
  background-color: #a02e2f;
  margin-top: 20px;
}
.left_contest,.right_contest{
 /* width: 50%;*/
  
 min-height: 200px;
 /* float: left;*/
 font-family: 'Helvetica Neue';
 color: #333;
}
.left_contest{
  background-size: 100%;
  background-repeat: no-repeat;
 /* border-top-left-radius:10px;
  border-bottom-left-radius:10px;*/
  /* margin-top: 20px; */
}
.right_contest{
  background-color: white;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  text-align: left;
}
.right_contest span {
  font-size: 18px;
}
.left_button_contest
{
  width: 380px;
  height: 52px;
  margin: 50px auto 0 auto;
  font-weight: bold;
}

.invite_contest{
  width: 170px;
  height: 46px;
  float: right;
  margin-top: 0px !important;
}

h3.contest_block_title {
  font-size: 22px !important;
  font-weight: 900;
  margin-bottom: 5px;
  color: black;
}
p.p_contest { font-size: 20px;}
.facebook_page_link
{
  text-align:center;
  width: 96%;
  font-size: 18px;
}
.submissions{
  margin: auto;
  background-color: #fff;
  /*width: 1050px;*/
}
.categories_submissions{
 
  
  /*height: 45px;*/
  margin: 0 30px 0 30px;
  /*padding: 10px; */
  border-top: 1px solid #a32820;
  padding: 35px 0 46px 0;
}
.categories_submissions  #mySelect{height: 40px; max-width: 330px; margin: 0 auto;}
.nav-categories > li{
  float: left;
  width: 165px;
  font-weight: bold;
  border: 1px solid #3f3f3f;
}
.nav-categories > li > a{
  color: black;
  background-color: white;
}
.nav-categories > li.active > a,
.nav-categories > li.active > a:hover
, .nav-categories > li.active > a:focus{
  color: white;
  background-color: #3f3f3f;
}
.submissions_grid{
 /* width: 100%;*/
  height: auto;
  min-height: 100px;
  margin: 0;
 /* margin: 0 auto 50px auto;*/
}
.submissions_row{
  height: 345px;
  margin-bottom: 35px;
}
.submission_row{
/*  width: 1050px;*/
height: auto;
  min-height: 180px;
  margin-bottom: 35px;
  /*float: left;*/
 /* padding: 0 2.5px;*/

}
.submission_content{
	/*float:left;*/
  /*width: 245px;*/
  min-height: 180px;
    /*border: 1px solid #e2dede; */
 /* margin: 5px 5px 35px 5px;*/
}
.submission_media{
  height: 245px;
  /*width: 245px;*/
  background-color: black;
  background-size: cover;
  
}
.submission_info_box{
  /*background-color: #e2dede;*/
  background-color: #fff;
  min-height: 115px;
  overflow: hidden;

 /* width: 245px;*/
}


.footer{
  background-color: #3f3f3f;
  width: 100%;
  height: 110px;
}
#loadingbar
{

}
#fullscreen_popup{ 
    position:fixed; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.6); 
    z-index:5; 
    width:100%; 
    height:100%; 
    display:none;
    opacity:2; 
  } 
  #fullscreen_popup_content 
  { 
    width:100%;
    height:auto; 
    margin:100px auto 0 auto; 
    position:relative; 
    background-color: black;
    z-index:10; 
    display:none; 
    border:5px solid #cccccc; 
    border-radius:10px;

  } 
  .cancel { 
    display:block; 
    position:absolute; 
    top:-42px; 
    right:2px; 
    background:rgb(245,245,245); 
    color:black; 
    height:30px; 
    width:35px; 
    font-size:30px; 
    text-decoration:none !important; 
    text-align:center; 
    font-weight:bold; 
    border:5px solid #cccccc; 
    border-radius:10px;
    line-height: 22px;
  }
  .fullscreen_popup_title
  {
    display:block; 
    position:absolute; 
    bottom: 0;
    height: 50px;
    font-size:20px;
    text-align:center; 
    font-weight:bold;
    background:rgba(199, 199, 199, 0.76);
    opacity:2; 
    width: 100%;
    line-height: 50px;
  } 
  #submissione_popup_content
  {
    width: 100%;
    height: 100%;
  }
/* BTN INVERSE */
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-color: #444444;
  border-color: black;
  border-color: rgb(45, 45, 45);
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  *background-color: #222222;
  outline: none !important;
}
.btn-inverse:hover, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222222;
  color: white !important;
  *background-color: #151515;
}

.btn-inverse:hover, .btn-inverse:focus {
  color: white !important;
  border-color: rgba(0, 0, 0, 0.3);
}
.btn-inverse:active, .btn-inverse.active {
  background-color: #090909 \9;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.btn-inverse .caret {
  border-top-color: white;
  border-bottom-color: white;
}
/* ---------- */

.page{
    margin-top:50px;
}

.content{
    margin:50px 100px;
}

.content-title{
    color: #555;
    font-size:29px;
}

.home_content{
    margin:2% 20%;
}

.home{
    margin-top: 12%;
}

.footer{
    margin-top:50px;
    background-color: #333;
    padding:50px 50px;
    color:white;
}

.home_footer{
    margin-top: 10%;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box{
    margin:70px 0px 0px 0px;
}

.box-title{
    color:black;
    text-align: center;
    font-size: 18px;
    border-radius: 0px 0px 6px 6px;
    padding:10px 0px;
    font-weight: 900;
}

.box-image{
    color:#555;
    text-align: center;
    font-size: 25px;
    background-color: white;
    padding:40px 0px;
}

.box-data{
    color:black;
    text-align: center;
    font-size: 15px;
    border-radius: 0px 0px 6px 6px;
    padding:10px 0px;
    font-weight: 300;
}

.description{
    font-weight: 300;
}

.btn-orange{
    background-color: #ef754a;
    border-color: #ef754a;
    color:white;
}

.btn-orange:hover{
    background-color: #ef754a;
    border-color: #ef754a;
    color:white;
}

.btn-turqoise{
    background-color: #2abf9e;
    border-color: #2abf9e;
    color:white;
}

.btn-turqoise:hover{
    background-color: #2abf9e;
    border-color: #2abf9e;
    color:white;
}

.btn-gray{
    background-color: #555;
    border-color: #555;
    color:white;
}

.btn-gray:hover{
    background-color: #555;
    border-color: #555;
    color:white;
}

/* text-based tab facebook widget */
.widget_facebook
{
	height:100%;
    width:700px;
    padding: 10px 10px;
    margin-right: 50px;
    margin-left: 50px;
    /*background-image: url('../images/background_RDS.png');
    background-position: top center;*/
}

.tab-image{
    display:block;
    margin: 0 auto;
    width:700px;
    padding:3px;
}

.tab-description{
	display:block
	margin: 0 auto;
	padding:0px;
	text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.tab-img-description{
	display:block;
    margin: 0 auto;
    padding-bottom:5px;
    width:200px;
}

.well-fb {
  min-height: 20px;
  padding: 1px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.col-md-3-fb {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

a.share{max-width: 170px;
 width: 100%;
 border: none;
 border-radius: 0;
  margin-top: 0px !important;
height: 46px;
  text-shadow: none;
  background: #3A8938 url('../tab/Condividi.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}
a.share:hover{
	 background: #3A8938 url('../tab/Condividi.jpg') no-repeat cover;
	  background-size: cover;
}
@media only screen and (min-width : 480px){

 .left_contest{
 min-height: 375px;
   
  
 }
	}
@media only screen and (min-width : 767px){
.right_contest{
font-size: 12px;
}
.categories_submissions{
border: none;
}
  .contest_container{margin: 30px 0;}
  #mainblock{border-radius: 20px;}
	}
   footer{background-color: #3e3d3f;min-height: 140px; padding-top: 12px;}
   .navbar-fixed-bottom{background:none; background-color: rgba(62,61,63,.2); border: none; box-shadow: none;}
   .title_contest h1{border-bottom: 1px solid #A32820; margin: 0 10px 16px; padding-bottom: 15px; text-align: left;}
   .navbar#actions button {
     border-radius: 10px;
     width: 48%;
     margin: 10px 1%;
     border: none;
     height: 60px;
     font-size:30px;
     padding: 5px;
     float: left;
}
#actions-middle button,
#sharing-overlay ul li a {
     border-radius: 10px;
     width: 100%;
     margin: 0;
     margin-bottom: 10px;
     border: none;
     height: 50px;
     font-size:30px;
     padding: 5px;
     float: left;
}
   @media(max-width:480px) {
     .navbar#actions button {
       font-size: 22px;
       height: 50px
     }
   }
   .navbar button.join_now_contest, .join_now_contest{
   background-color:  #37659c;
   }
  .navbar button.share_now_contest, .share_now_contest{
   background-color:  #5b7935;
   }

   div#sharing-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(62,61,63,.8);
      z-index: 9999;
      margin: 0;
      padding: 20px;
      display: none;
   }

#sharing-overlay #sharing-close {
  position: fixed;
  right: 20px;
  font-size: 40px;
}

#sharing-overlay div.social-buttons {
  margin-top: 100px;
}

#sharing-overlay div.social-buttons a.btn-facebook {
  background-color: #6d84b4!important;
}

#sharing-overlay div.social-buttons a.btn-twitter {
  background-color: #55acee !important;
}

#sharing-overlay div.social-buttons a.btn-whatsapp {
  background-color: #268132 !important;
}
#sharing-overlay div.social-buttons ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}