html, body
{
   /* -webkit-backface-visibility: hidden;*/
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Medium.eot');
  src: local('â˜º'), url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype'), url('../fonts/Futura-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.eot');
  src: local('â˜º'), url('../fonts/Futura-Bold.woff') format('woff'), url('../fonts/Futura-Bold.ttf') format('truetype'), url('../fonts/Futura-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body
{
    color: #333;
    text-align: center;
    font-family: Open Sans;
    overflow-x: hidden;
    font-size: 12px;
}
/*
b{
 font-family: 'Futura-Bold'; 
}
*/

.sigUpButton {
width: 145px;
height: 38px;
	background-image:url('../contest_popup/sign-up.png');
	border: 0px;
}

.facebookButton {
width: 192px;
height: 49px;
	background-image:url('../contest_popup/2-facebook-connect.jpg');
	border: 0px;
}
.facebookButton:hover
{
	background-image: url('../contest_popup/2-facebook-connect-hover.jpg');
}

.facebookButtonWithOver
{
width: 192px;
height: 49px;
	background-image: url('../contest_popup/2-facebook-connect-hover.jpg');
	border: 0px;
}

.twitterButton {
width: 192px;
height: 49px;
	background-image:url('../contest_popup/2-twitter-connect.jpg');
	border: 0px;
}

.twitterButton:hover
{

	background-image: url('../contest_popup/2-twitter-connect-hover.jpg');
}

.twitterButtonWithOver
{
width: 192px;
height: 49px;
	background-image: url('../contest_popup/2-twitter-connect-hover.jpg');
	border: 0px;
}

.instagramButton {
width: 192px;
height: 49px;
	background-image:url('../contest_popup/2-insta-connect.jpg');
	border: 0px;
}

.instagramButton:hover
{
	background-image: url('../contest_popup/2-insta-connect-hover.jpg');
}

.instagramButtonWithOver
{
width: 192px;
height: 49px;
	background-image: url('../contest_popup/2-insta-connect-hover.jpg');
	border: 0px;
}

.hidden_clear{
  clear: both;
}
.container
{
	/*width: 100%;
	height: 100%;
	padding: 0 !important; */
}
.step-1-4-en {
	background-image: url('../contest_popup-m/x2/en/mobile-4palle-1.png');
}
.step-2-4-en {
	background-image: url('../contest_popup-m/x2/en/mobile-4palle-2.png');
}
.step-3-4-en {
	background-image: url('../contest_popup-m/x2/en/mobile-4palle-3.png');
}
.step-4-4-en {
	background-image: url('../contest_popup-m/x2/en/mobile-4palle-4.png');
}
.step-1-4-it {
	background-image: url('../contest_popup-m/x2/it/mobile-4palle-1.png');
}
.step-2-4-it {
	background-image: url('../contest_popup-m/x2/it/mobile-4palle-2.png');
}
.step-3-4-it {
	background-image: url('../contest_popup-m/x2/it/mobile-4palle-3.png');
}
.step-4-4-it {
	background-image: url('../contest_popup-m/x2/it/mobile-4palle-4.png');
}
.step-1-3-en {
	background-image: url('../contest_popup-m/x2/en/mobile-3palle-1.png');
}
.step-2-3-en {
	background-image: url('../contest_popup-m/x2/en/mobile-3palle-2.png');
}
.step-3-3-en {
	background-image: url('../contest_popup-m/x2/en/mobile-3palle-3.png');
}
.step-1-3-it {
	background-image: url('../contest_popup-m/x2/it/mobile-3palle-1.png');
}
.step-2-3-it {
	background-image: url('../contest_popup-m/x2/it/mobile-3palle-2.png');
}
.step-3-3-it {
	background-image: url('../contest_popup-m/x2/it/mobile-3palle-3.png');
}


.step
{
	min-height: 60px;
	width: 300px;
	background-repeat: no-repeat;
	margin: 5px auto;
	background-size: 100%;
	background-position: center center;	
	float: none;
}
.step1
{
	background-image: url('../contest_popup/mobile-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/mobile-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/mobile-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/mobile-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/mobile-top-bar-5.png');
}

.finalStep {
	background-image: url('../contest_popup-m/6-man.png');
  background-size: 247px 100%;
  background-repeat: no-repeat;
  background-position: center center;
	margin-top: -31px;
}

.congratulations {
	color: #427ca9;
	font-family:Myriad Pro;
    font-size: 25pt; 
}
.btn-share-confirmation {
  width: 80px;
  height: 80px;
  border: 0;
  background-color: #5c7734;
  border-radius: 50%;
  background-image: url('../contest_popup-m/x2/share-icon.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 43%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.notified {
	color: #a5a5a5;
	font-family:Open Sans;
    font-size: 12pt; 
}

.contentuploaded {
	color: #5c7734;
	font-family:Open Sans;
    font-size: 17pt; 
}

.closeButton {
	background-image: url('../contest_popup/6-close-1.png');
	 background-size: 260px
  background-repeat: no-repeat;
  background-position: center center;
}

.closeButton:hover {
	background-image: url('../contest_popup/6-close-2.png');
	cursor: pointer;
}

.btn_choose
{
	position: relative;
	width: 176px;
	height: 50px;
	top: 0px;
	left: 169px;
	cursor: pointer;
}
.btn_join
{
	position: relative;
	width: 176px;
	height: 50px;
	top: -52px;
	left: 342px;
	cursor: pointer;
}
.title
{
	width: 100%;
	height: 40px;
}
.box
{
    margin: 0;
	/*width: 650px;
	height: 100%;
	margin: auto;
	overflow-y: hidden;*/
}
.take_picture
{
	width: 701px !important;
}
.popup-content
{	
	/*border-radius: 25px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
}
.popup-button{
	position: block;
	width: 253px;
	height: 95px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;
}
.btn-facebook
{
	width: 253px;
	height: 95px;
	background-image: url('../contest_popup/Facebook.png');	
	cursor: pointer;
}
.btn-facebook:hover
{
	background-image: url('../contest_popup/FBHOVER.png') !important;	
}
a.btn-facebook
{
	width: 201px;
	height: 42px;
}
.top_box, .bottom_box
{
	width: 650px;
	height: 240px;
	margin: auto;
}

.top_box
{
	padding-top: 80px;
}
.bottom_box
{
	padding-top: 17px;
}
.upload_submission .top_box,
.upload_submission .center_box,
.upload_submission .bottom_box
{
	width: 650px;
	height: 110px;
	margin: auto;
}
.upload_submission  .top_box
{
	padding-top: 0px;
}
.upload_submission  .center_box
{
	padding-top: 0px;
}
.upload_submission  .bottom_box
{
	padding-top: 0px;
}
.confirm_box
{
	width: 300px;
	height: 400px;
	margin: 30px auto;
	background-repeat: no-repeat;
	background-image: url('../contest_popup/confirm.png');
}
#alert_box
{
	height: auto;
}
.upload_submission{
	width: 640px;
	height: 480px;
	margin: 0px auto 0 auto;

}
#browse
{
	width: 455px;
	height: 93px;
	background-image: url('../contest_popup/choose_file.jpg') !important;
	cursor: pointer;
	margin: auto;
}
#fileName
{
	position: relative;
	top: 57px;
	height: 24px;
	width: 207px;
	left: 50px;
	background-color: #F6A029;
	border: 2px solid white;
	color: #0273C1;
	font-weight: bold;
	text-align: center;
}
#submissionTitle
{
	width: 455px;
	height: 93px;
	background-image: url('../contest_popup/title_button.jpg') !important;
	margin: auto;
}
#input_title
{
	position: relative;
	top: 58px;
	height: 24px;
	width: 233px;
	left: 49px;
	background-color: #F6A029;
	border: 2px solid white;
	color: #0273C1;
	font-weight: bold;
	text-align: center;

}
#submissionTitleSmall
{
	width: 338px;
	height: 69px;
	background-image: url('../contest_popup/title_button_small.png') !important;
	margin-left: 25px;
	float: left;
}
#input_title_small
{
	position: relative;
	top: 41px;
	height: 18px;
	width: 174px;
	left: 36px;
	background-color: #F6A029;
	border: 2px solid white;
	color: #0273C1;
	font-weight: bold;
	text-align: center;
	font-size: 12px;

}
.connect form{
	display: inline-block;
	
}
.button_active
{
	background-image: url('../contest_popup/SendButtonActive.jpg') !important;
}
#sendButton
{
	border: none;
	width: 380px;
	height: 78px;
	background-image: url('../contest_popup/SendButton.jpg');
}
.take_button_top
{
	margin-top: 15px;
	width: 701px;
	height: 69px;
}
.take_button_bottom
{
	margin-top: 8px;
	width: 701px;
	height: 69px;
}
#snapshotToImage
{
	width: 338px;
	height: 69px;
	background-image: url('../contest_popup/Snapshoot.png');
	margin: auto;
	float: left;
	cursor: pointer;
}
#uploadSnapshot
{
	width: 338px;
	height: 69px;
	background-image: url('../contest_popup/upload_small.png');
	margin: auto;
	float: left;
}
.uploadSnapshotActive
{
	background-image: url('../contest_popup/upload_active_small.png') !important;
	cursor: pointer
}
.webcamImage
{
	position: absolute;
	top: 0;
	width: 720px;
	height: 495px;
	z-index: 10;
	margin: auto;
	background-color: white;
	padding-top: 26px;
	//display: none;
}
.live_button
{
	width: 640px;
	height: 41px;
	margin: 10px auto 0 auto;
}
.uploadSubmission_button
{
	width: 428px;
	height: 41px;
	margin: 22px auto 0 auto;
}
#shoot, 
.shoot_again, 
#submissionTitleTakePicture,
#SubmitTakePicture,
.SubmitTakePictureActive
{
	width: 200px;
	height: 41px;
	float: left;
}
#shoot,
.shoot_again,
.SubmitTakePictureActive
{
	cursor: pointer;
}
#shoot
{
	background-image: url('../contest_popup/Shoot.png');
}
.shoot_again
{
	background-image: url('../contest_popup/ShootAgain.png') !important;	
}
#submissionTitleTakePicture
{
	margin: 0 20px;
	background-image: url('../contest_popup/submissionTitleTakePicture.png');
}
#SubmitTakePicture
{
	background-image: url('../contest_popup/SubmitTakePicture.png');
}
.SubmitTakePictureActive
{
	background-image: url('../contest_popup/SubmitTakePictureActive.png') !important;
}
#inputTitleTakePicture
{
	position: relative;
	top: 13px;
	height: 17px;
	width: 126px;
	left: 24px;
	background-color: #F6A029;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 12px;

}
#uploadSubmissionTitle,
#submitButton,
.submitButtonActive
{
	width: 203px;
	height: 41px;
	float: left;
	background-repeat: no-repeat;
}
#uploadSubmissionTitle
{
	background-image: url('../contest_popup/Title.png');
	margin-right: 20px;
}
#submitButton
{
	background-image: url('../contest_popup/SubmitTakePicture.png');
}
.submitButtonActive
{
	background-image: url('../contest_popup/SubmitTakePictureActive.png') !important;
	cursor: pointer;
}
#inputUploadSubmission
{
	position: relative;
	top: 12px;
	height: 17px;
	width: 126px;
	left: 22px;
	background-color: #F6A029;
	border: 2px solid white;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}
.openRecorder
{
	width: 318px;
	height: 65px;
	margin: auto;
	background-image: url('../contest_popup/OpenRecorder.png');	
	background-size: 318px 65px;
	cursor: pointer;
}
.openRecorder:hover
{
	background-image: url('../contest_popup/OpenRecorderHover.jpg') !important;
}
.shootNow
{
	width: 260px;
	height: 54px;
	margin: auto;
	background-image: url('../contest_popup-m/3-button-take.png');	
	background-size: 260px;
	cursor: pointer;
}
.UploadYourFile
{
	width: 260px;
	height: 53px;
	margin: auto;
	background-image: url('../contest_popup/3-button-up.png');	
	background-size: 260px 53px;
	cursor: pointer;
}
.UploadYourFile:hover
{
	background-image: url('../contest_popup/3-button-up-hover.png');
}

#recordVideoButton
{    
	display:block;
    height:56px;
    width:262px;
	background-image: url('../contest_popup/3-button-rec.png');
}

#recordVideoButton:hover
{
	background-image: url('../contest_popup/3-button-rec-hover.png');
}

.UploadBtn
{
	width: 317px;
	height: 65px;
	margin: auto;
	background-image: url('../contest_popup/UploadBtn.png');	
	background-size: 317px 65px;
	cursor: pointer;
}
.UploadBtn:hover
{
	background-image: url('../contest_popup/UploadLibraryHover.jpg') !important;
}

.submit-upload-submission {
	background-image: url('../contest_popup/5-submit.png');
}

.submit-upload-submission-active:hover {
	background-image: url('../contest_popup/5-submit-hover.png');
	cursor: pointer;
}	

#loader
{
    position:fixed; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.6); 
    z-index:5; 
    width:100%; 
    height:100%; 
    display:none;
    opacity:2;
    padding-top: 220px;
  } 
#connect-button form{
	display: inline-block;
  margin-bottom: 20px;
	
}
a.connect-proceed-btn {
	width: 192px;
	height: 40px;
	background-color: #fbb820;	
	display: inline-block;
	line-height: 2;
	font-size: 20px;
	color: white;
	background-image: url('../contest_popup-m/x2/proceed-button-icon.png');
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 25px;
}
  .input-group-addon:last-child{background: none; border: 0; padding: 6px 6px; width: 9.47%;}
  .input-group .form-control:first-child{border-radius: 0; width: 250px;}
  .form{max-width: 250px}
  
  #link-foto-contest{width: 260px; height: 54px; background-image: url('../contest_popup/3-button-take.png'); 
  background-position: 0 0;
 /* transition-property: background-position;
    transition-duration: .5s;
     -webkit-transition-property: background-position; 
    -webkit-transition-duration: .5s; 
    transition-timing-function: ease-out;*/
  }
  #link-foto-contest:hover{  background-position: 0 -54px;}
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
 .form{max-width: 400px}
 .sigUpButton{width: 149px};
  .input-group-addon:last-child{background: none; border: 0; padding: 6px 6px; width: 9.47%;}
  .input-group .form-control:first-child{border-radius: 0; width: 400px;}
 
	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){

 .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px auto;
	background-size: 655px 57px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/desktop-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/desktop-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/desktop-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/desktop-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/desktop-top-bar-5.png');
}
	}
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	width: 100%;
	height: 40px;
	margin: 5px auto;
	background-size: 247px 40px;
}
}
}
/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
 .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px auto;
	background-size: 655px 57px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/desktop-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/desktop-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/desktop-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/desktop-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/desktop-top-bar-5.png');
}

	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
  .step1, .step2, .step3, .step4, .step4, .step5
{	
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px auto;
	background-size: 655px 57px;
	background-position: center center;
}
.step1
{
	background-image: url('../contest_popup/desktop-top-bar-1.png');
}
.step2
{
	background-image: url('../contest_popup/desktop-top-bar-2.png');
}
.step3
{	
	background-image: url('../contest_popup/desktop-top-bar-3.png');
}
.step4
{
	background-image: url('../contest_popup/desktop-top-bar-4.png');
}

.step5
{
	background-image: url('../contest_popup/desktop-top-bar-5.png');
}
	}
	
#canvas-preview {
	width: 260px;
	margin-top: -40px;
}

.submit_insert_essay {
	background-image: url('../contest_popup/5-essay-confirm.jpg');
}

.submit_insert_essay_active:hover {
	background-image: url('../contest_popup/5-essay-confirm-hover.jpg');
	cursor: pointer;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}