html, body
{
    -webkit-backface-visibility: hidden;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Medium.eot');
  src: local('â˜º'), url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype'), url('../fonts/Futura-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.eot');
  src: local('â˜º'), url('../fonts/Futura-Bold.woff') format('woff'), url('../fonts/Futura-Bold.ttf') format('truetype'), url('../fonts/Futura-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body
{
    color: #333;
    text-align: center;
    font-family: 'Futura';
    overflow: hidden;
    background-color:white;
}
b{
 font-family: 'Futura-Bold'; 
}

.buzzmybrand_invite_image1 {
	background-image: url('../contest_popup/invite/invite.png');
}

.hidden_clear{
  clear: both;
}
.container
{
	max-width: 680px;
	min-height: 130px;
	padding: 0 !important;
  background-color:white;
  width: 100%;
}
.content
{
  max-width: 660px;
  min-height: 100px;
  margin: 20px auto;
   width: 95%;
}
.inviteButton, .type, .email
{
  float: left;
}
.inviteButton
{
  width: 187px;
  height: 108px;
  background-image: url('../contest_popup/invite/InviteButton.png');
}
.type
{
  width: 80px;
  height: 95px;
  margin-left: 0px;
  margin-top: 5px;
  background-image: url('../contest_popup/invite/Email.png');
}
.facebookButton, .twitterButton
{
  width: 32px;
  height: 32px;
  cursor: pointer; 
  position: relative;
  left: 8px;
}
.facebookButton
{
  top: 10px;
  background-image: url('../contest_popup/invite/facebook.png');
}
.twitterButton
{
  top: 22px;
  background-image: url('../contest_popup/invite/twitter.png');
}
.email
{
  width: 360px;
  height: 81px;
  margin-left: 4px;
  margin-top: 13px;
}
.email input
{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dedede;
  height: 27px;
  font-size: 12px;
  text-align: left;
  padding-top: 8px;
}
.email input:focus
{
  outline-width:0;
}
.div_input
{
  background-color: #F2F2F2;
  border-radius:10px;
  height: 38px;

}
.top_input, .bottom_input
{
  display: inline-flex;
}
.top_input input
{
  //padding: 5px 10px;
}
.bottom_input
{
  margin-top: 8px;
}
.sendButton
{
  width: 123px;
  height: 35px;
  background-image: url('../contest_popup/invite/Send.png');
  cursor: pointer;
}