.timeline {
  list-style: none;
  padding: 0 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #9f1c2b;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 0;
  padding: 20px 20px 0 0;
  position: relative;
  text-align: right;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .timeline > li > .timeline-panel {
    left: -40px;
  }
}
@media (max-width: 480px) {
  .timeline > li > .timeline-panel {
    left: 40px;
  }
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: hidden;
  border-top: 14px solid #fff;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid #fff;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: white;
  width: 78px;
  height: 78px;
  line-height: 1.5;
  font-size: 50px;
  text-align: center;
  position: absolute;
  font-weight: 300;
  left: 50%;
  /* margin-left: 10px; */
  margin-left: -38px;
  background-color: #9f1c2b;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-badge:last-child:after {
  content: '';
  height: 200px;
  width: 80px;
  background-color: white;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 20px 0 0 20px;
}
@media (max-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel {
    left: 40px;
  }
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: #9f1c2b;
  font-weight: 600;
}
@media (max-width: 768px) {
  .timeline-title {
    font-size: 24px;
  }
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  .timeline:before {
    left: 40px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    width: 90%;
    float: left;
    margin-left: 60px;
  }
  ul.timeline > li.timeline-inverted > .timeline-panel {
    text-align: right;
    padding: 20px 20px 0 0;
  }
  ul.timeline > li > .timeline-badge {
    left: -17px;
    margin-left: 0;
    top: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
#landing-head {
  top: 0;
  position: relative;
  z-index: 10;
  background-image: url('/website_public/home_page/img/landing/head-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  padding-top: 500px;
  padding-bottom: 100px;
  width: 100%;
}
@media (max-width: 768px) {
  #landing-head {
    padding-top: 200px;
  }
}
#landing-head h1,
#landing-head h5 {
  font-weight: 300;
}
#landing-head h1 {
  font-size: 58px;
}
#landing-head h5 {
  font-size: 26px;
}
div.btn-choice {
  margin-top: 60px;
}
div.btn-choice a.btn {
  border: 2px solid #ffcc01;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px;
  color: white;
  background-color: transparent;
  margin: 15px;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
@media (max-width: 768px) {
  div.btn-choice a.btn {
    min-width: initial;
  }
}
div.btn-choice a.btn:hover {
  background-color: #ffcc01;
  color: #555555;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
div.btn-choice a.btn#btn-get-in-touch {
  height: 70px;
  line-height: 2;
}
div.btn-choice a span {
  font-weight: 400;
}
div.btn-choice.small {
  margin-top: 0px;
  text-align: center;
}
@media (max-width: 1024px) {
  div.btn-choice.small {
    margin-top: -17px;
  }
}
div.btn-choice.small a {
  min-width: 0;
  padding: 10px;
  margin: 20px 5px 0 5px;
}
@media (max-width: 1024px) {
  div.btn-choice.small a {
    width: 100%;
  }
}
div.btn-choice.small a span.title {
  font-size: 20px !important;
}
div.btn-choice a span.title {
  font-size: 26px;
}
div.btn-choice.small a span.description {
  font-size: 12px;
}
div.btn-choice a span.description {
  font-size: 16px;
}
div.landing-block {
  z-index: 10;
  background-color: white;
  padding: 30px 0 30px 0;
  color: #3c3c3e;
}
div.landing-block#brands {
  background-color: #eeeeee;
  padding: 50px 0 20px 0 !important;
}
div.landing-block.separated {
  border-top: 1px solid #777777;
}
@media (max-width: 768px) {
  #brands-carousel button {
    display: none !important;
  }
}
div.horz-spacer {
  height: 40px;
}
img.brand {
  width: 150px;
}
p.description {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
p.description.separate {
  padding: 0 10px 0 10px;
}
p.description.light {
  color: #777777;
}
p.description.contests-block {
  min-height: 100px;
}
div.features-list {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div.features-list h5.feature {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 30px 0 30px 0;
}
div.features-list a.btn {
  margin-top: 20px;
  width: 100%;
  height: 54px;
  border: 2px solid #2c609a;
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 1.7;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
div.features-list a.btn:hover {
  background-color: #2c609a;
  color: #fff !important;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
div.features-list a.btn.red {
  border-color: #9f1c2b;
}
div.features-list a.btn.red:hover {
  background-color: #9f1c2b;
}
#connect-box {
  padding-top: 50px;
}
.icons-row {
  height: 76px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  overflow: hidden;
}
.icons-row.connect {
  background-image: url('/website_public/home_page/img/landing/icons-blue-line-bg.png');
  background-repeat: repeat-x;
  background-position: 50%;
}
.icons-row.convert {
  background-image: url('/website_public/home_page/img/landing/icons-red-line-bg.png');
  background-repeat: repeat-x;
  background-position: 50%;
}
.icons-row > div {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.icons-row > div img {
  height: 76px;
}
.icons-row:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
div#middle-pic {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
div#middle-pic #middle-pic-img {
  position: absolute;
  background-image: url('/website_public/home_page/img/landing/middle-bg.png');
  background-size: cover;
  width: 100%;
  height: 200%;
  bottom: 0px;
  left: 0;
}
div#launch-now {
  color: white;
  font-weight: 300;
  background-color: #385d98;
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23385d98%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23254981%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
div#launch-now div div div h1 {
  margin-top: 0;
}
div.offer {
  background-color: #f7f7f7;
  padding: 20px 0 20px 0;
  text-align: center;
  margin-top: 40px;
}
div.offer .offer-name {
  font-size: 18px;
}
div.offer .offer-price {
  color: #2c609a;
  background-color: #eeeeee;
  padding: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
div.offer .offer-price .price-currency {
  font-size: 36px;
  top: -30px;
}
div.offer .offer-price .price-value {
  font-size: 80px;
}
div.offer hr {
  width: 70%;
}
div.offer .btn.offer-launch {
  border: 2px solid #2c609a;
  background-color: transparent;
  padding: 10px;
  width: 70%;
  white-space: pre-line;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
div.offer .btn.offer-launch:hover {
  background-color: #2c609a;
  color: white !important;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
div#newsletter {
  color: white;
  font-weight: 300;
  background-color: #5c7c39;
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%235c7c39%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2347622a%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
div#newsletter div div div h1.heading.large {
  font-size: 68px;
  margin-bottom: 0;
  margin-top: -10px;
}
div#newsletter div#bullhorn-container {
  height: 80px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
div#newsletter div div div #newsletter-email {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  line-height: 1.5;
  height: 56px;
  border-radius: 3px;
  font-size: 20px;
  padding: 0 0 0 20px;
  margin-top: 10px;
  width: 100%;
  /* Safari */
  transition: background-color 0.5s;
}
div#newsletter div div div #newsletter-email:focus {
  background-color: white;
  color: #5c7c39;
  /* Safari */
  transition: background-color 0.5s;
}
div#newsletter div div div #newsletter-email::-webkit-input-placeholder {
  color: white;
}
div#newsletter div div div #newsletter-email:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
div#newsletter div div div #newsletter-email::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
div#newsletter div div div #newsletter-email:-ms-input-placeholder {
  color: white;
}
div#newsletter div div div button {
  border: 3px solid #ffcc01;
  background-color: transparent;
  color: white;
  line-height: 1.5;
  height: 56px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
  /* Safari */
  transition: background-color 0.5s;
}
div#newsletter div div div button:hover {
  background-color: #ffcc01;
  color: #555555;
  /* Safari */
  transition: background-color 0.5s;
}
div#get-in-touch {
  display: none;
  background-color: #eeeeee;
}
#form-info #signup-Form div div .fld {
  border: 3px solid #2c609a;
  background-color: transparent;
  color: #555555;
  line-height: 1.5;
  height: 56px;
  border-radius: 3px;
  font-size: 20px;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 300;
  /* Safari */
  transition: background-color 0.5s;
}
#form-info #signup-Form div div .fld::-webkit-input-placeholder {
  color: #555555;
  font-weight: 300;
}
#form-info #signup-Form div div .fld:-moz-placeholder {
  /* Firefox 18- */
  color: #555555;
  font-weight: 300;
}
#form-info #signup-Form div div .fld::-moz-placeholder {
  /* Firefox 19+ */
  color: #555555;
  font-weight: 300;
}
#form-info #signup-Form div div .fld:-ms-input-placeholder {
  color: #555555;
  font-weight: 300;
}
#form-info #signup-Form div div .fld:focus {
  /* Safari */
  transition: background-color 0.3s;
  background-color: white;
}
#form-info #signup-Form div div textarea.fld {
  height: inherit;
  padding: 10px 0 0 20px;
}
div.checkbox {
  margin-top: -10px;
  float: left;
}
.checkbox-fld {
  appearance: none;
  -webkit-appearance: none;
  background-color: tranparent;
  border: 3px solid #2c609a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative !important;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  top: 8px;
}
.checkbox-fld:active,
.checkbox-fld:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.checkbox-fld:checked {
  background-color: #2c609a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: white;
}
.checkbox-fld:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background-color: #2c609a;
  width: 20px;
  height: 20px;
  padding-left: 6px;
  padding-top: 2px;
}
.checkbox label {
  font-weight: 300;
  font-size: 20px;
  color: #333333;
}
#form-info-send {
  border: 2px solid #ffcc01;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px;
  color: #ffffff;
  background-color: #ffcc01;
  margin: 15px;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.5s;
  float: right;
  min-width: 0;
  margin: 0;
  margin-top: -10px;
  width: 180px;
  height: 60px;
  font-size: 26px;
}
@media (max-width: 768px) {
  #form-info-send {
    min-width: initial;
  }
}
#form-info-send:hover {
  background-color: #2c609a;
  color: #ffcc01;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
div#form-info-result {
  clear: both;
  margin-top: -24px;
  min-height: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

/*# sourceMappingURL=landing.css.map */