<div>
    <div class="section-heading">
        <h1 class="section-title">{{ 'COMPANY_SETTINGS' | translate }}</h1>
        <h3 class="section-subtitle">{{ 'EDIT_DATA' | translate }}</h3>
    </div>
    <div class="section-heading-right">
        <a href="mailto:{{ getContactUsMail() }}" class="btn btn-dashboard btn-large btn-blue">{{ 'CONTACT_US' | translate }}</a>
    </div>

    <div class="clearfix"></div>
    <div class="vert-spacer"></div>
	
    <form id="company-form" name="companyForm" ng-submit="companyForm.$valid && submit(company)" novalidate ng-class="{loading: loading}" class="company-form">
        <span class="pull-left alertcompany" ng-if="!companyForm.$valid">{{ 'ALERT_COMPANY' | translate }}</span>
		<div class="vert-spacer"></div>
		<div class="row">
            <div class="col-md-12">
                <div id="form-result" class="alert alert-floating" ng-class="{'alert-danger': success === false, 'alert-success': success === true}" ng-show="message">
                    <div ng-class="{'text-danger': success === false, 'text-success': success === true}">{{ message | translate }}</div>
                </div>
            </div>
        </div>        
        <company-info></company-info>

        <div class="row">
            <div class="col-md-12">
                <h3 class="section-sub-heading">{{ 'CHANGE_PASSWORD' | translate }}</h3>
                <div class="heading-separator"></div>
                <div class="vert-spacer"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="password">{{ 'FORM_CURRENT_PASSWORD' | translate }}</label>
                <input type="password" name="actual_current_password" class="fld" ng-model="company.actual_user_password" minlength="6" ng-required="company.user_password" />
            </div>
            <div class="col-md-4">
                <label for="password">{{ 'FORM_PASSWORD' | translate }}</label>
                <input type="password" name="password" class="fld" ng-model="company.user_password" minlength="6" />
            </div>
            <div class="col-md-4">
                <label for="password_repeat">{{ 'FORM_PASSWORD_REPEAT' | translate }}</label>
                <input type="password" name="password_repeat" class="fld" ng-model="company.user_password_repeat" minlength="6" pw-check="company.user_password" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
				<span class="pull-left alertcompany" ng-if="!companyForm.$valid">{{ 'ALERT_COMPANY' | translate }}</span>
                <input type="hidden" name="language" value="{{ language }}" ng-model="company.language" />
                <input type="hidden" name="company_id" value="{{ company_id }}" ng-model="company.company_id" />
                <button class="submit-button btn btn-dashboard btn-blue pull-right" type="submit" ng-disabled="!companyForm.$valid">{{ 'SAVE' | translate }}</button>
            </div>
        </div>
    </form>
</div>
