<div>
    <div class="section-heading">
        <h5 class="section-contest-brand">{{ contest.company_name }}</h5>
        <h1 class="section-title">{{ contest.contest_name | translate }}</h1>
        <h3 class="section-subtitle">{{ subtitle | translate }}</h3>
    </div>
    <div class="section-heading-right">
        <contest-tabs-nav></contest-tabs-nav>
    </div>

    <div class="alert alert-danger alert-floating" ng-if="error !== null">
        <div class="text-danger">{{ error | translate }}</div>
    </div>

    <div class="clearfix"></div>

    <div class="vert-spacer"></div>
    <div class="vert-spacer"></div>

    <div class="contest-box" id="contest-box-{{ contest.contest_id }}" ng-if="contest">
        <div class="contest-title contest-type-{{ contest.contest_type }}">{{ contest.contest_name }} - <span class="company-name">{{ contest.company_name }}</span></div>

        <div class="contest-inner">
        
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contest-image-container" style="background-image: url('/images/events/{{ contest.contest_image }}')">
                    <div class="contest-status status-label-{{ utils.getStatusClass(contest.contest_status) }} status-label-lg">{{ utils.getStatusLabel(contest.contest_status) | translate }}</div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 contest-description">
                
                <h5 class="contest-prop-title">{{ 'DESCRIPTION' | translate }}</h5>
                <p>{{ contest.contest_concept }}</p>

                <h5 class="contest-prop-title">{{ 'DATES' | translate }}</h5>
                <p>{{ 'DATE_FROM' | translate }}: {{ contest.contest_start_date | date:'longDate' }} - {{ 'DATE_TO' | translate }}: {{ contest.contest_end_date | date:'longDate' }}</p>

                <h5 class="contest-prop-title" ng-if="contest.rewards.length">{{ 'REWARDS' | translate }}</h5>
                <ul class="contest-rewards" ng-if="contest.rewards.length">
                    <li ng-repeat="reward in contest.rewards">{{ reward.reward_rank + 'ord' | translate }}: {{ reward.reward_title }}, {{ reward.reward_description }}</li>
                </ul>

                <h5 class="contest-prop-title">{{ 'HOW_TO_WIN' | translate }}</h5>
                <p>{{ contest.how_to_win }}</p>

                <h5 class="contest-prop-title">{{ 'FB_PAGES' | translate }}</h5>
                <p></p>

                <div class="action-buttons">
                    <a class="btn btn-delete" data-toggle="modal" data-target="#delete-confirmation-{{ contest.contest_id }}" ng-class="{'btn-disabled': utils.isDisabledButton (contest.contest_status, 'delete')}"><i class="fa fa-times"></i> {{ 'DELETE_CONTEST' | translate }}</a>

                    <a ng-href="{{ utils.getHrefFor(contest, 'edit') }}" class="btn btn-edit" ng-class="{'btn-disabled': utils.isDisabledButton (contest.contest_status, 'edit')}"><i class="fa fa-cog"></i> {{ 'EDIT_CONTEST' | translate }}</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- DELETE CONFIRMATION MODAL -->
        <div class="modal fade" id="delete-confirmation-{{ contest.contest_id }}" tabindex="-1" role="dialog" aria-labelledby="delete-confirmation-label-{{ contest.contest_id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-confirmation-label-{{ contest.contest_id }}">{{ contest.contest_name }}</h4>
              </div>
              <div class="modal-body">
                {{ 'ARE_YOU_SURE_TO_DELETE_CONTEST?'}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'BTN_CANCEL' | translate }}</button>
                <button type="button" class="btn btn-danger" ng-click="delete(contest.contest_id)">{{ 'BTN_CONFIRM' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /DELETE CONFIRMATION MODAL -->
    </div>

</div>