<div class="analytics-box analytics-box-{{ size }}">
    <div class="analytics-box-icon background-{{ color }}"><i class="fa fa-{{ icon }} fa-{{ size }}"></i></div>
    <div class="analytics-box-data">
        <div class="analytics-value analytics-value-{{ size }}">{{ value | number | defaults:'0' }}<span ng-if="percent">%</span></div>
        <div class="analytics-label analytics-label-{{ size }}">{{ label | translate }}</div>
    </div>
    <div ng-show="help" class="analytics-box-help">
        <i tooltip-placement="top" tooltip="{{ help | translate }}" class="fa fa-info-circle color-blue"></i>
    </div>
    <div class="clearfix"></div>
</div>