<notify-all></notify-all>
<div>
    <div class="section-heading">
        <h5 class="section-contest-brand">{{ contest.company_name }}</h5>
        <h1 class="section-title">{{ contest.contest_name | translate }}</h1>
        <h3 class="section-subtitle">{{ subtitle | translate }}</h3>
    </div>
    <div class="section-heading-right">
        <contest-tabs-nav></contest-tabs-nav>
    </div>

    <div class="alert alert-danger alert-floating" ng-if="error !== null">
        <div class="text-danger">{{ error | translate }}</div>
    </div>

    <div class="clearfix"></div>

    <div class="analytics-section-title">
        {{ 'CONTEST_DATA' | translate }}
    </div>

    <!-- CONTEST DATA -->

    <h3 class="section-sub-heading">{{ 'CONTEST_DATA' | translate }}</h3>
    <div class="heading-separator"></div>
    <div ng-class="{'loading no-background': loading['an']}"></div>
    <div class="row analytics-block">
        <div class="vert-spacer"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <analytics-box contest="contest" value="analytics.total_entries" label="'TOTAL_ENTRIES'" size="'4x'" icon="'picture-o'" color="'green'" help="'HELP_TOTAL_ENTRIES'"></analytics-box>
        </div>
        <div ng-if="contest.contest_type == 1" class="col-md-3 col-sm-3 col-xs-12">
            <analytics-box contest="contest" value="analytics.approved_videos" label="'LABEL_APPROVED'" size="'2x'" icon="'check'" color="'green'" help="'HELP_APPROVED'"></analytics-box>
            <analytics-box contest="contest" value="analytics.not_approved_videos" label="'LABEL_NOT_APPROVED'" size="'2x'" icon="'times'" color="'green'" help="'HELP_NOT_APPROVED'"></analytics-box>
        </div>
        <div ng-if="contest.contest_type == 1" class="col-md-3 col-sm-3 col-xs-12">
            <analytics-box contest="contest" value="analytics.videos_to_be_approved" label="'LABEL_2BE_APPROVED'" size="'2x'" icon="'circle-o'" color="'green'" help="'HELP_2BE_APPROVED'"></analytics-box>
        </div>
        <div ng-if="contest.contest_type == 2" class="col-md-3 col-sm-3 col-xs-12">
            <analytics-box contest="contest" value="analytics.approved_photos" label="'LABEL_APPROVED'" size="'2x'" icon="'check'" color="'green'" help="'HELP_APPROVED'"></analytics-box>
            <analytics-box contest="contest" value="analytics.not_approved_photos" label="'LABEL_NOT_APPROVED'" size="'2x'" icon="'times'" color="'green'" help="'HELP_NOT_APPROVED'"></analytics-box>
        </div>
        <div ng-if="contest.contest_type == 2" class="col-md-3 col-sm-3 col-xs-12">
            <analytics-box contest="contest" value="analytics.photos_to_be_approved" label="'LABEL_2BE_APPROVED'" size="'2x'" icon="'circle-o'" color="'green'" help="'HELP_2BE_APPROVED'"></analytics-box>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="vert-spacer"></div>

    <!-- REACH -->

    <h3 class="section-sub-heading">{{ 'REACH' | translate }}</h3>
    <div class="heading-separator background-red"></div>

    <div class="row analytics-block">
        <div class="vert-spacer"></div>
		
		
		<div ng-if="contest.company_id == 27">
			
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.reach_company_pages" label="'LABEL_REACH_FROM_COMPANY_PAGES'" size="'3x'" icon="'building-o'" color="'red'" help="'HELP_REACH_FROM_COMPANY_PAGES'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.reach_user_profile_pages" label="'LABEL_REACH_FROM_USERS_SOCIAL_PAGES'" size="'3x'" icon="'user'" color="'red'" help="'HELP_REACH_FROM_USERS_SOCIAL_PAGES'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.viral_reach_from_users" label="'LABEL_VIRAL_REACH_FROM_USER_ACTIONS'" size="'3x'" icon="'hand-paper-o'" color="'red'" help="'HELP_VIRAL_REACH_FROM_USER_ACTIONS'"></analytics-box>
			</div>
			<div class="clearfix"></div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.total_reach" label="'LABEL_TOTAL_REACH'" size="'3x'" icon="'pie-chart'" color="'red'" help="'HELP_TOTAL_REACH'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				
			</div>
			
			<div class="clearfix"></div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.budget" label="'LABEL_BUDGET'" size="'3x'" icon="'money'" color="'blue'" help="'HELP_BUDGET'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.roi" label="'LABEL_ROI'" size="'3x'" icon="'eye'" color="'blue'" help="'HELP_ROI'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.earned_media" label="'LABEL_EARNED_MEDIA'" size="'3x'" icon="'credit-card'" color="'blue'" help="'HELP_EARNED_MEDIA'"></analytics-box>
			</div>
			<div class="clearfix"></div>
			
			
		</div>
        
		
		
		
		
		
		<div ng-if="contest.company_id !== 27">
		
		
			<div class="col-md-6 col-sm-6 col-xs-12">
				<analytics-box contest="contest" value="analytics.total_impressions" label="'LABEL_TOTAL_IMPRESSIONS'" size="'4x'" icon="'pie-chart'" color="'red'" help="'HELP_TOTAL_IMPRESSIONS'"></analytics-box>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<analytics-box contest="contest" value="analytics.reach" label="'LABEL_TOTAL_USER_REACH'" size="'4x'" icon="'eye'" color="'red'" help="'HELP_TOTAL_USER_REACH'"></analytics-box>
			</div>
			
			
			<div class="col-md-6 col-sm-12" ng-if="contest.contest_type == 1">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-sub-heading">{{ 'REACH_FOR_VIDEOS' | translate }}</h3>
						<div class="heading-separator background-red"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<analytics-box contest="contest" value="analytics.total_views" label="'LABEL_TOTAL_VIEWS'" size="'2x'" icon="'users'" color="'red'" help="'HELP_TOTAL_VIEWS'"></analytics-box>
					</div>
					<div class="col-md-6 col-xs-12">
						<analytics-box contest="contest" value="analytics.unique_views" label="'LABEL_UNIQUE_VIEWS'" size="'2x'" icon="'user'" color="'red'" help="'HELP_UNIQUE_VIEWS'"></analytics-box>
					</div>
				</div>
			</div>
			
			
			<div class="col-md-6 col-sm-12" ng-if="contest.contest_type == 2">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-sub-heading">{{ 'REACH_FOR_PHOTOS' | translate }}</h3>
						<div class="heading-separator background-red"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<analytics-box contest="contest" value="analytics.total_impressions_entries" label="'LABEL_IMPRESSIONS_ENTRIES'" size="'2x'" icon="'pie-chart'" color="'red'" help="'HELP_IMPRESSIONS_ENTRIES'"></analytics-box>
					</div>
					<div class="col-md-6 col-xs-12">
						<analytics-box contest="contest" value="analytics.reach_entries" label="'LABEL_REACH_ENTRIES'" size="'2x'" icon="'eye'" color="'red'" help="'HELP_REACH_ENTRIES'"></analytics-box>
					</div>
				</div>
			</div>
		
		
		</div>
		
		
		
		
		
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-sub-heading">{{ 'SOCIAL_DATA' | translate }}</h3>
                    <div class="heading-separator background-yellow"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <analytics-box contest="contest" value="analytics.logged_from_website" label="'LABEL_LOGGED_FROM_WEBSITE'" size="'2x'" icon="'globe'" color="'yellow'" help="'HELP_LOGGED_FROM_WEBSITE'"></analytics-box>
                </div>
                <div class="col-md-4 col-xs-12">
                    <analytics-box contest="contest" value="analytics.logged_from_mobile" label="'LABEL_LOGGED_FROM_MOBILE'" size="'2x'" icon="'mobile'" color="'yellow'" help="'HELP_LOGGED_FROM_MOBILE'"></analytics-box>
                </div>
				<div class="col-md-4 col-xs-12">
                    
                </div>
            </div>
			<div class="row">
				<div class="col-md-4 col-xs-12" ng-if="contest.facebook_data == 1">
                    <analytics-box contest="contest" value="analytics.logins_facebook" label="'LABEL_LOGGED_FROM_FACEBOOK'" size="'2x'" icon="'facebook'" color="'yellow'" help="'HELP_LOGGED_FROM_FACEBOOK'"></analytics-box>
                </div>
				<div class="col-md-4 col-xs-12" ng-if="contest.twitter_data == 1">
                    <analytics-box contest="contest" value="analytics.logins_twitter" label="'LABEL_LOGGED_FROM_TWITTER'" size="'2x'" icon="'twitter'" color="'yellow'" help="'HELP_LOGGED_FROM_TWITTER'"></analytics-box>
                </div>
				<div class="col-md-4 col-xs-12" ng-if="contest.instagram_data == 1">
                    <analytics-box contest="contest" value="analytics.logged_from_instagram" label="'LABEL_LOGGED_FROM_INSTAGRAM'" size="'2x'" icon="'instagram'" color="'yellow'" help="'HELP_LOGGED_FROM_INSTAGRAM'"></analytics-box>
                </div>
			</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="analytics-section-title">
        {{ 'SOCIAL_NETWORKS_DATA' | translate }}
    </div>

    <!-- FACEBOOK -->
	
	<div ng-if="contest.facebook_data == 1">
		
		<h3 class="section-sub-heading"><i class="fa fa-facebook-square facebook"></i> FACEBOOK</h3>
		<div class="heading-separator background-facebook"></div>

		<div class="row analytics-block">
			<div class="vert-spacer"></div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.unique_comments" label="'LABEL_COMMENTS'" size="'3x'" icon="'comment'" color="'facebook'" help="'HELP_COMMENTS'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.unique_likes" label="'LABEL_LIKES'" size="'3x'" icon="'smile-o'" color="'facebook'" help="'HELP_LIKES'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.unique_shares" label="'LABEL_SHARES'" size="'3x'" icon="'share-square-o'" color="'facebook'" help="'HELP_SHARES'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.total_engaged_users" label="'LABEL_TOTAL_ENGAGED_USERS'" size="'3x'" icon="'sitemap'" color="'facebook'" help="'HELP_TOTAL_ENGAGED_USERS'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.daily_new_likes" label="'LABEL_NEW_LIKES'" size="'3x'" icon="'facebook-square'" color="'facebook'" help="'HELP_NEW_LIKES'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.page_engaged_users" label="'LABEL_PAGE_ENGAGED_USERS'" size="'3x'" icon="'line-chart'" color="'facebook'" percent="true" help="'HELP_PAGE_ENGAGED_USERS'"></analytics-box>
			</div>
			<div class="clearfix"></div>
		</div>
		
	</div>
	
    

    <!-- TWITTER -->

	<div ng-if="contest.twitter_data == 1">
		
		<h3 class="section-sub-heading"><i class="fa fa-twitter-square twitter"></i> TWITTER</h3>
		<div class="heading-separator background-twitter"></div>

		<div class="row analytics-block">
			<div class="vert-spacer"></div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.new_followers" label="'LABEL_NEW_FOLLOWERS'" size="'3x'" icon="'twitter'" color="'twitter'" help="'HELP_NEW_FOLLOWERS'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.retweets" label="'LABEL_RETWEETS'" size="'3x'" icon="'retweet'" color="'twitter'" help="'HELP_RETWEETS'"></analytics-box>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<analytics-box contest="contest" value="analytics.favourite" label="'LABEL_FAVOURITES'" size="'3x'" icon="'star'" color="'twitter'" help="'HELP_FAVOURITES'"></analytics-box>
			</div>
			<div class="clearfix"></div>
		</div>
		
	</div>
	
    

    <!-- YOUTUBE -->

    <div ng-if="contest.contest_type == 1 && contest.youtube_data == 1">

        <h3 class="section-sub-heading"><i class="fa fa-youtube-square youtube"></i> YOUTUBE</h3>
        <div class="heading-separator background-youtube"></div>

        <div class="row analytics-block">
            <div class="vert-spacer"></div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <analytics-box contest="contest" value="analytics.youtube_view_count" label="'LABEL_UNIQUE_VIEWS'" size="'3x'" icon="'eye'" color="'youtube'" help="'HELP_UNIQUE_VIEWS'"></analytics-box>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <analytics-box contest="contest" value="analytics.youtube_like_count" label="'LABEL_LIKES'" size="'3x'" icon="'thumbs-o-up'" color="'youtube'" help="'HELP_LIKES'"></analytics-box>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
	
	<!-- INSTAGRAM -->

    <div ng-if="contest.instagram_data == 1">

        <h3 class="section-sub-heading"><i class="fa fa-instagram instagram"></i> INSTAGRAM</h3>
        <div class="heading-separator background-instagram"></div>

        <div class="row analytics-block">
            <div class="vert-spacer"></div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <analytics-box contest="contest" value="analytics.instagram_entries" label="'LABEL_INSTAGRAM_ENTRIES'" size="'3x'" icon="'picture-o'" color="'instagram'" help="'HELP_INSTAGRAM_ENTRIES'"></analytics-box>
            </div>			
            <div class="col-md-4 col-sm-4 col-xs-12">
                <analytics-box contest="contest" value="analytics.instagram_total_likes" label="'LABEL_INSTAGRAM_TOTAL_LIKES'" size="'3x'" icon="'thumbs-o-up'" color="'instagram'" help="'HELP_INSTAGRAM_TOTAL_LIKES'"></analytics-box>
            </div>			
			<div class="col-md-4 col-sm-4 col-xs-12">
                <analytics-box contest="contest" value="analytics.instagram_total_comments" label="'LABEL_INSTAGRAM_TOTAL_COMMENTS'" size="'3x'" icon="'comment'" color="'instagram'" help="'HELP_INSTAGRAM_TOTAL_COMMENTS'"></analytics-box>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div class="analytics-section-title">
        {{ 'SINGLE_POSTS_DATA' | translate }}
    </div>

    <button type="button" class="btn btn-send-notification" ng-if="contest && contest.contest_type == 2 && posts.length > 0" data-toggle="modal" data-target="#notify-all-modal">
        {{ 'SEND_NOTIFICATION_TO_ALL_USERS' | translate }}
    </button>

    <div class="clearfix"></div>

    <div class="alert alert-warning" ng-if="posts.length == 0">
        <div class="no-results">{{ 'NO_POSTS' | translate }}</div>
    </div>

    <div class="row">
        <div infinite-scroll="loadPosts()" infinite-scroll-distance="1" ng-if="posts.length > 0">
            <div ng-repeat="p in posts" class="col-md-3 col-sm-6 col-xs-12">
                <post></post>
            </div>
        </div>
    </div>
    
</div>