<notify-all></notify-all>
<div>
    <div class="section-heading">
        <h5 class="section-contest-brand">{{ contest.company_name }}</h5>
        <h1 class="section-title">{{ contest.contest_name | translate }}</h1>
        <h3 class="section-subtitle">{{ 'CONTEST_APPROVE_SUBTITLE_' | translate }}</h3>
    </div>
    <div class="section-heading-right">
        <contest-tabs-nav></contest-tabs-nav>
    </div>

    <div class="alert alert-danger alert-floating" ng-if="error !== null">
        <div class="text-danger">{{ error | translate }}</div>
    </div>

    <div class="clearfix"></div>

    <div class="contest-approve-tabs">

        <a href="" class="tab" ng-class="{'tab-active': currentSubTab == '1'}" ng-click="setSubTab('1')">{{ 'TO_APPROVE' | translate }}</a>
        <a href="" class="tab" ng-class="{'tab-active': currentSubTab === null}" ng-click="setSubTab(null)">{{ 'ALL_ENTRIES' | translate }}</a>
        <a href="" class="tab" ng-class="{'tab-active': currentSubTab == '2'}" ng-click="setSubTab('2')">{{ 'NOT_APPROVED' | translate }}</a>

        <button ng-if="contest && contest.contest_type !== 0" type="button" class="btn btn-send-notification" ng-if="posts.length > 0" data-toggle="modal" data-target="#notify-all-modal">
            {{ 'SEND_NOTIFICATION_TO_ALL_USERS' | translate }}
        </button>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>


    <div class="row">
        <div infinite-scroll="loadPosts()" infinite-scroll-distance="1" ng-if="posts.length > 0">
            <div ng-repeat="p in posts" class="col-md-3 col-sm-6 col-xs-12">
                <post></post>
            </div>
        </div>
    </div>

    <div class="vert-spacer" ng-if="posts.length == 0"></div>
    <div class="alert alert-warning" ng-if="posts.length == 0">
        <div class="no-results">{{ 'NO_POSTS' | translate }}</div>
    </div>

</div>