.awars__text
	color: $textColor
	+responsiveFontSize(14px, 2)
	a
		color: $textColor


	&:before
		background-color: $textColor

.awards__more
	@extend %viewMore

.awards__icon--0
	background: url(images/svg/premi/premio3.svg) center center no-repeat

.awards__icon--1,
.awards__icon--3,
.awards__icon--4
	background: url(images/svg/premi/premio1.svg) center center no-repeat

.awards__icon--2,
.awards__icon--5
	background: url(images/svg/premi/premio2.svg) center center no-repeat
