.competition__abstract
	line-height: 1.2
	+responsiveFontSize(22px, 8)
	color: $textColor
	a
		color: $textColor	

.competition__more
	@extend %viewMore

.competition__fb
	background: url(images/svg/social/fb-green.svg) center center no-repeat
	background-size: 30px

.competition__tw
	background: url(images/svg/social/tw-green.svg) center center no-repeat
	background-size: 30px

.competition__upload
	background: url(images/svg/upload-hover.svg) center center no-repeat
	background-size: 30px


.competition__description, .competition__info
	@extend %font-sans-light
