.analytics-section-title {
    background-color: $gray-dark-light;
    position: relative;
    padding: 8px;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    @include border-top-radius(6px);
    margin: 40px 0;

    &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        opacity: 1;
        z-index: 0;
        bottom: -10px;
        left: 49%;
        transform: rotate(45deg);
        background-color: $gray-dark-light;
    }
}

.analytics-box {
    width: 100%;
    margin: 8px 0;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 6px;

    &:before{
        content: "";
        display: block;
        padding-top: 33%;  /* initial ratio of 1:3*/
        float: left;
    }
}

.analytics-box-icon {
    width: 33%;
    float: left;
    text-align: center;
    position: relative;
    @include border-left-radius(6px);

    &:before{
        content: "";
        display: block;
        padding-top: 100%;  /* initial ratio of 1:1*/
    }

    .fa {
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(50% - 14px);
        color: $white;
    }

    .fa-4x {
        top: calc(50% - 28px);
    }

    .fa-3x {
        top: calc(50% - 20px);
    }
}

.analytics-box-data {
    padding-top: 7%;
    padding-left: 7%;
    float: right;
    width: 66%;
    color: black;

    .analytics-value, analytics-label {
        display: block;
    }

    .analytics-value {
        font-weight: 700;
    }

    .analytics-label {
        white-space: norwrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $gray-darker;
    }

    .analytics-value-3x {
        font-size: 24px;
    }

    .analytics-label-3x {
        font-size: 14px;
    }

    .analytics-value-4x {
        font-size: 36px;
    }

    .analytics-label-4x {
        font-size: 24px;
    }
}

.analytics-box-help {
    right: 25px;
    top: 15px;
    position: absolute
}

@media(max-width: $screen-sm-max) {
    .analytics-box-2x .analytics-box-data {
        padding-top: 7%;
        padding-left: 7%;
    }

    .analytics-box-4x .analytics-box-data {
        padding-top: 4%;
        padding-left: 7%;
    }

    .analytics-value-4x {
        font-size: 24px !important;
    }

    .analytics-label-4x {
        font-size: 18px !important;
    }
}