.contest-approve-tabs {
    margin-top: 40px;
    width: 100%;
    border-bottom: 2px solid $blue;

    .tab {
        border: 2px solid $blue;
        border-bottom: 0;
        float: left;
        padding: 6px 10px;
        margin: 0 10px 0 0;
        color: $blue;
        @include transition(background-color 0.3s, color 0.3s);
        @include border-top-radius(6px);

        &:hover {
            background-color: $white;
            color: lighten($blue, 10%);
        }

        &.tab-active {
            background-color: $blue;
            color: $white;

            &:hover {
                background-color: lighten($blue, 10%);
            }
        }
    }

    .btn-send-notification {
        margin-top: 0;
        font-size: 12px;
        padding: 6px 10px;
        @include border-bottom-radius(0);

        &:before {
            font-size: 19px;
        }
    }
}

@media(max-width: $screen-xs-max) {
    .contest-approve-tabs {
        border: 0;

        .tab, .btn-send-notification {
            display: inherit;
            font-size: 12px;
            padding: 4px;
            width: 100%;
            float: none;
            margin: 6px 0;
            text-align: center;
            border-radius: 6px;
        }

        .tab {
            border-bottom: 2px solid $blue;
        }
    }
}