.btn:focus {
    color: $white;
}

.btn-dashboard {
    font-size: $font-size-small;
    padding: 10px;
    min-width: 220px;
    border-radius: 5px;
    @include transition(background-color 0.3s, color 0.3s);
    text-transform: uppercase;
    &:active,&:focus {
        color: $white;
    }
}

.btn-large {
    padding: 14px;
}
.btn-full-width {
    width: 100%;
}

.btn-blue {
    background-color: $blue;
    color: $white;
    &:hover {
        background-color: lighten($blue, 10%);
        color: $white;
    }

    &:active {
        color: $white;
    }
}

.btn-yellow {
    background-color: $yellow;
    color: $white !important;
    &:hover {
        background-color: lighten($yellow, 10%);
        color: $white;
    }

    &:active {
        color: $white;
    }
}

.btn-red {
    background-color: $red;
    color: $white;
    &:hover {
        background-color: lighten($red, 10%);
        color: $white;
    }

    &:active {
        color: $white;
    }
}

.btn-green {
    background-color: $green;
    color: $white;

    &:hover {
        background-color: lighten($green, 10%);
        color: $white;
    }
}