.search-container {
	float: right;
	margin-top: 10px;
	width: 270px;
	margin-bottom: 10px;
    position: relative;

    div.search-box-container {
        width: auto;
        overflow: hidden;
	}

	div.search-icon-container {
		margin-top: 6px;
		width: 26px;
        position: absolute;
		right: 10px;
	}

	input.search-box {
		height: 35px;
		padding: 6px;
		color: $gray-darker;
		width: 100%;
        border: 1px solid grey;
        border-radius: 5px;
	}

	i {
		font-size: 20px;
		top: 6px;
		color: $gray-dark;
		float: right;
	}
}

div.filters-container {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

ul.contest-filters {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	list-style: none;
	padding: 0;
	display: inline-block;

	li {
		float: left;
		padding: 2px 20px;
		background-color: $gray-medium;
		border-radius: 5px;
		text-transform: uppercase;
		margin: 10px;
		font-size: $font-size-small;
		display: inline;
		cursor: pointer;

		&:hover, &.selected {
			background-color: $blue !important;
			color: $gray-light;
		}
	}
}

.contest-box {
    border: 1px solid $gray-dark-light;
    border-bottom-width: 2px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;

    .contest-title {
        width: 100%;
        background-color: $gray-medium;
        color: $gray-darker;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: $heading-large;
        @include border-top-radius(6px);

        @media(max-width: $screen-sm) {
            font-size: $heading-small;
        }

        .company-name {
            font-weight: 700;
        }
		
		.contest-route {
            font-weight: 500;
        }
    }
}

.contest-type-1:before {
    content: "\f03d";
    font-family: 'FontAwesome';
    color: $red;
    margin-right: -10px;
    float: right;
    font-size: 30px;
    line-height: 1;
}

.contest-type-2:before {
    content: "\f030";
    font-family: 'FontAwesome';
    color: $blue;
    margin-right: -10px;
    float: right;
    font-size: 30px;
    line-height: 1;
}

.contest-type-3:before {
    content: "\f27a";
    font-family: 'FontAwesome';
    color: $blue;
    margin-right: -10px;
    float: right;
    font-size: 30px;
    line-height: 1;
}

.contest-inner {
    padding: 20px 20px;

    @media(max-width: $screen-sm) {
        padding: 20px 0px;
    }
}

.contest-image-container {
    border-radius: 6px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-color: $gray;

    &:before{
        content: "";
        display: block;
        padding-top: 100%;  /* initial ratio of 1:1*/
    }

    .contest-status {
        padding: 1px 12px;
        position: absolute;
        margin-top: -18%;
        margin-left: -4px;
        text-transform: uppercase;
        color: white;
        font-size: $font-size-small;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.status-label-over {
            background-color: $red;
        }

        &.status-label-scheduled {
            background-color: $yellow;
        }

        &.status-label-in-progress {
            background-color: $green;
        }

        &.status-label-draft {
            background-color: $blue;
        }
    }
}

.contest-date {
    padding: 10px 0px;
    width: 67%;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

    

    &.contest-date-start {
        color: $blue;
    }

    &.contest-date-end {
        color: $red;
    }

    span {
        display: block;
        line-height: 1;
    }

    .contest-date-month {
        font-weight: 700;
    }

    .contest-date-day {
        font-size: 70px;
    }
}

.custom_preview {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    .background-mockup {
        width: 90%;
    }
    .contest-text {
        position: absolute;
        top: 23.5%;
        left: 29%;
        width: 44%
    }
    .preview-button {
        position: absolute;
        bottom: 5%;
        left: 46%;
    }
}


.col-reduced-padding {
    padding: 0 10px;
}


.btn-contest {
    width: 46%;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    margin: 6px;
    color: $white;
    text-transform: uppercase;
    height: 50px;
    line-height: 2;
    font-size: $font-size-normal;
    @include transition(background-color 0.3s, color 0.3s);

    i {
        font-family: 'FontAwesome';
        color: $white;
        margin-right: 14px;
        float: left;
        font-size: 36px;
        line-height: 1;
        margin-top: -3px;
    }

    &:hover {
        color: white;
    }
}

.btn-contest-nav {
    width: initial;
    height: 36px;
    padding: 7px;
    font-size: $font-size-mini;
    min-width: 140px;
    text-align: center;
    margin: 10px 0;
    position: relative;
    color: white;
    line-height: 2;
    background-color: $gray-dark-light;
    @include transition('background-color: 0.3s');

    i {
        color: $white;
        margin-right: 0px;
        float: left;
        font-size: 20px;
        line-height: 1;
    }

    &:hover {
        background-color: darken($gray-dark-light, 10%);
    }

    &:after {
        content: "";
        position: absolute;
        width: 15px;
        height: 20px;
        opacity: 1;
        z-index: 0;
        bottom: -9px;
        left: 46%;
        transform: rotate(45deg);
        @include transition(opacity 0.3s, background-color 0.3s);
    }
}

.btn-analytics {
    background-color: $green;

    &:hover, &:hover:after {
        background-color: lighten($green, 10%);
    }

    &:after {
        background-color: $green;
    }
}

.btn-approve {
    background-color: $blue;

    &:hover, &:hover:after {
        background-color: lighten($blue, 10%);
    }

    &:after {
        background-color: $blue;
    }
}

.btn-edit {
    background-color: $yellow;

    &:hover, &:hover:after {
        background-color: lighten($yellow, 10%);
    }

    &:after {
        background-color: $yellow;
    }
}

.btn-details {
    background-color: $orange;

    &:hover, &:hover:after {
        background-color: lighten($orange, 10%);
    }

    &:after {
        background-color: $orange;
    }
}

.btn-delete {
    background-color: $red;
    color: $white;

    &:hover, &:hover:after {
        background-color: lighten($red, 10%);
    }
}

.btn-disabled {
    background-color: $gray-dark-light !important;
    cursor: not-allowed;

    &:after {
        opacity: 0;
    }
}

@media(max-width: $screen-xs-min) {
    .contest-date-day {
        font-size: 24px !important;
    }
}

@media(max-width: $screen-md) {
    .contest-date {
        width: 100%;
        text-align: center;
    }
}

@media(min-width: $screen-md) {
    .separator-right {
        border-right: 1px solid $gray-darker;
    }
}

@media(max-width: $screen-md-max) {
    .btn-contest {
        width: 45%;
        font-size: 12px;
        line-height: 1.6;
        height: 40px;

        i {
            margin-right: 12px;
            font-size: 24px;
            line-height: 0.9;
            margin-top: 0;
        }
    }
}

@media(max-width: $screen-sm) {
    .btn-contest {
        width: 100%;
        font-size: $font-size-small;
        height: 40px;
        line-height: 1.5 ;
        margin: 4px 0;

        i {
            font-size: 20px;
            line-height: 1;
            margin-top: 0;
        }
    }

    .btn-contest-nav {
        width: 100%;
        margin: 4px 0;

        &:after {
            height: 0;
            width: 0;
        }
    }
}

@media(max-width: $screen-sm-max) {
    .contest-type-1:before, .contest-type-2:before, .contest-type-3:before {
        font-size: 20px;
    }

    .search-container {
        width: 100%;
    }

    .contest-action-buttons {
        margin-top: 10px;
    }

    div.filters-container {
        width: 100%;
    }

    ul.contest-filters {
        background-color: $gray-light;
    }

    li.contest-filter {
        width: 100%;
        float: none !important;
        display: list-item !important;
        margin: 0 !important;
        margin-bottom: 1px !important;
        border-radius: 0px !important;
        padding: 6px 20px !important;

        &:first-child {
            border-radius: 5px 5px 0 0 !important;
        }

        &:last-child {
            border-radius: 0 0 5px 5px !important;
        }
    }
}
