.status-label-lg {
    font-size: 18px !important;
}

.contest-description {
    .contest-prop-title {
        font-weight: 600;
        text-transform: uppercase;
        color: $blue;
        line-height: 1;
        margin: 0;
    }

    p {
        color: $gray-darker;
        margin-bottom: 20px;
    }

    .contest-rewards {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;

        li {
            list-style: none;
        }
    }
}

.action-buttons {
    position: absolute;
    float: right;
    bottom: 0;

    .btn {
        color: $white;
    }
}

.contest-block {
    border: 1px solid $gray-dark-light;
    border-bottom-width: 2px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;

    &.active {
        .contest-block-heading {
            background-color: $blue;
            color: $white;
            @include border-bottom-radius(0px);

            &:after {
                transform: rotate(-90deg);
            }

            &.contest-block-heading-with-subtitle {
                &:after {
                    margin-top: -42px;
                }
            }

            .contest-block-subtitle {
                display: block;
            }
        }

        .contest-block-content {
            max-height: 9999px;
            padding: 20px;
            overflow: visible;
            background-color: white;
            border-radius: inherit;
        }    
    }
    
    .contest-block-heading {
        cursor: pointer;
        width: 100%;
        background-color: $gray-medium;
        color: $gray-darker;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: $heading-large;
        @include border-top-radius(6px);
        @include border-bottom-radius(6px);

        &.contest-block-promotion {
            background-color: $red;
            color: $white;
        }

        &:after {
            font-family: 'FontAwesome';
            content: '\f0d9';
            font-size: 40px;
            float: right;
            line-height: 1;
            margin-top: -4px;
            @include transition(transform 0.5s);
        }

        @media(max-width: $screen-md) {
            font-size: $heading-small;

            &:after {
                font-size: 30px;
            }
        }
    }

    &.completed .contest-block-heading {
        background-color: #375e99;
        color: #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .contest-block-subtitle {
        font-size: 12px;
        margin-top: -2px;
        text-transform: initial;
        display: none;
    }

    .contest-block-content {
        max-height: 0px;
        /*@include transition(all 0.5s);*/
        overflow: hidden;
        padding: 0px 20px;
    }

    h1, h2, h3, h4, h5 {
        margin: 0;
    }
}

.resend-link {
    text-align: right;
    position: relative;
    display: block;
    font-size: $font-size-small;
    text-transform: lowercase;

    /*> a {
        color: white;
    }*/
}

#id-contest-type-icons-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.contest-type-icon {
    width: 31%;
    max-width: 200px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1%;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;  /* initial ratio of 1:3*/
        float: left;
    }

    &.icon-photo {
        background-image: url('../assets/images/contest_types/photo-off.png');

        &.icon-enabled {
            background-image: url('../assets/images/contest_types/photo-on.png');
        }
		
		 &:hover {
            background-image: url('../assets/images/contest_types/photo-on.png')!important;
            transform: scale(1.1)!important;
            transition: all 0.5s ease-out!important;
        }
    }

    &.icon-video {
        background-image: url('../assets/images/contest_types/video-off.png');

        &.icon-enabled {
            background-image: url('../assets/images/contest_types/video-on.png');
        }
		
		&:hover {
            background-image: url('../assets/images/contest_types/video-on.png')!important;
            transform: scale(1.1)!important;
            transition: all 0.5s ease-out!important;
        }
    }

    &.icon-essay {
        background-image: url('../assets/images/contest_types/essay-off.png');

        &.icon-enabled {
            background-image: url('../assets/images/contest_types/essay-on.png');
        }
		
		&:hover {
            background-image: url('../assets/images/contest_types/essay-on.png')!important;
            transform: scale(1.1)!important;
            transition: all 0.5s ease-out!important;
        }
    }
	
	
}



.block-buttons {
    text-align: right;
    margin-top: 20px;

    .btn {
        height: 30px;
        font-weight: 600;
        text-transform: uppercase;
        @include padding(3px 30px null null);
        text-align: center;
        font-size: 16px;


        &:before {
            font-family: 'FontAwesome';
            margin-right: 20px;
            float: left;
            content: " ";
        }
    }
}


.btn-next {
    background-color: $blue;
    color: #fff;

    &:before {
        content: "\f0da" !important;
    }
}

.btn-skip {
    background-color: $red;
    color: $white;

    &:before {
        content: "\f051" !important;
    }
}

.btn-save {
    background-color: $yellow;
    color: $white;

    &:before {
        content: "\f0c7" !important;
    }
}

.btn-twitter-search {
    margin-top: 6px;
    background-color: $yellow;
    color: $white;
    height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    @include padding(5px 30px null null);
    text-align: center;
    font-size: 16px;

    &:before {
        font-family: 'FontAwesome';
        margin-right: 20px;
        float: left;
        content: "\f002" !important;
    }
}

.twitter-trend {
    float: left;
    width: 50%;
    margin: 0 !important;

    label {
        text-transform: none;
        font-size: 24px;
        padding-left: 30px;
        margin-left: 30px !important;

        input {
            height: 24px;
            width: 24px;
            margin-left: -30px !important;
        }
    }
}

.contest-objectives {
    position: relative;
    // margin: 20px 0;
}

.pull-middle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.contest-objectives div div.contest-objective {
    width: 100%;
    cursor: pointer;
    height: 80px;
    color: $blue;
    border-radius: 6px;
    list-style: none;
    border: 2px solid $blue;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
    word-break: break-word;
}


.contest-service_type {
    position: relative;
    width: 100%;
    height: 80px;
    color: $blue;
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    word-break: break-word;
    text-decoration: underline;
}

.info-tooltip {
    position: absolute;
    right: 22px;
    top: 14px;
    color: $blue;
    font-size: 14px;
    text-align: right;
    border: none;
    font-size: 16px;
}

&.objective-enabled {
    .info-tooltip {
        color: $white;
    }
}

.tooltip-inner {
    background-color: $blue;
    text-transform: initial;
}

.tooltip-arrow {
    border-color: transparent;
}

.objective-enabled {
    background-color: $blue;
    color: $white !important;
}

.contest-objectives-sales {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    h4 {
        margin: 10px 0;
        font-size: 18px;
        color: $gray-darker;
    }

    .contest-objectives-sub {
        div {
            margin-bottom: 20px;
        }

        div.contest-objective {
            height: 60px !important;
            font-size: 18px !important;
            width: 1000px !important;
            max-width: 50% !important;
            display: table-cell;
            vertical-align: middle;

            .info-tooltip {
                top: 4px !important;
            }
        }
    }
}

.no-rewards {
    position: relative;
}

.no-rewards .info-tooltip {
    position: absolute;
    right: 6px;
    top: 5px;
    color: #fff;
    text-align: right;
    float: right;
    border: none;
    font-size: 13px;
}

.help-text {
    font-size: 16px;
    color: $gray-darker;
}

.inner-heading {
    color: $blue;
    font-size: 18px;
    margin-bottom: 10px !important;
}

.instant-duration {
    font-size: 86px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
    margin: 0px;
    line-height: 1;
    font-weight: 300;
}

.instant-contest-start {
    padding: 33px 0;
}

.brief-container textarea {
    min-height: 240px;
}

.hashtag-preview {
    margin-top: -34px;
    margin-right: 10px;
    text-align: right;
    font-size: $heading-medium;
    color: $gray-darker;
    padding: 4px 9px;
    width: 100%;
}

.btn-calendar {
    height: 34px;
}

.label-radio-large {

    font-size: $heading-large;
    font-weight: 300;
}

.carousel-control {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    opacity: 1;
    background: $blue !important;
    top: 40%;
    margin: 20px;

    .glyphicon {
        font-family: 'FontAwesome' !important;
        font-size: 40px;
        margin-top: -20px;

        &.glyphicon-chevron-left:before {
            content: "\f0d9" !important;
        }

        &.glyphicon-chevron-right:before {
            content: "\f0da" !important;
        }
    }
}

.carousel-buttons {
    margin-top: 2%;

    .btn {
        margin: 0 6px;
    }
}

.template-select-color {
    margin-top: 12px;
}

#minisite-url-title {
    // text-align: center;
    font-size: $heading-large;
    font-weight: 300;
    color: $gray-darker;
    margin: 30px 50px;
}

.minisite-url-box {
    width: 100%;
	margin: 0 50px;

    .base-url {
        float: left;
        font-size: 24px;
        font-weight: 300;
        // width: 50%;
        text-align: right;
    }

    #id-contest-route {
        float: left;
        width: 30%;
        margin-left: 6px;
    }

    #contest-route-result {
        float: left;
        top: 24px;
        right: 24px;
        font-size: 24px;
    }
    
    input.form-control {
        padding-right: 40px;
    }
}

#id-how-to-win {
    height: 100px;
}

.saved-reward {
    width: 100%;

    .reward-rank {
        display: block;
        font-weight: 600;
        float: left;
        margin-right: 6px;
    }

    .reward-description {
        display: block;
    }
}

.text-button-box {
    margin-bottom: 10px;

    label.text {
        float: left;
        margin-top: 7px;
        font-weight: 300;
        font-size: 20px;
    }

    .btn {
        float: right;
        text-align: center;
        min-width: 120px;
    }

    .btn:before {
        float: none;
    }
}

.settings-box {
    .setting-label {
        /*font-size:*/
    }
}

.btn-checkout-again {
    display: none;

    &.btn-checkout-again-active {
        display: inline-block;
    }
}

.btn-connect {
    width: 100%;
    height: 50px;
    border: 1px solid $gray-dark;
    color: $gray-dark;
    border-radius: 0;
    background-color: white;
    padding-left: 60px;
    margin-bottom: 10px;
    opacity: .5;

    &:hover, &:focus {
        color: $gray-darker !important;
		opacity: .8;
    }

    &:before {
        width: 50px;
        height: 48px;
        font-family: 'FontAwesome';
        text-align: center;
        float: left;
        color: $white;
        position: absolute;
        left: 16px;
        top: 1px;
        font-size: 30px;
        padding: 5px;
        -webkit-font-smoothing: antialiased;
    }

    &.btn-connect-active {
        opacity: 1;
    }

    &.btn-connect-facebook.btn-connect-active:before {
        background-color: $color-facebook;
    }
    &.btn-connect-facebook.btn-connect-active {
        background-color: $color-facebook;
        color: $white;
        &:focus {
            color: $white !important;
        }
    }

    &.btn-connect-facebook:before {
        background-color: lighten($color-facebook, 30%);
        content: "\f09a";
    }

    &.btn-connect-twitter.btn-connect-active:before {
        background-color: $color-twitter;
    }
    &.btn-connect-twitter.btn-connect-active {
        background-color: $color-twitter;
        color: $white;
        &:focus {
            color: $white !important;
        }
    }

    &.btn-connect-twitter:before {
        background-color: lighten($color-twitter, 30%);
        content: "\f099";
    }

    &.btn-connect-youtube.btn-connect-active:before {
        background-color: $color-youtube;
    }
    &.btn-connect-youtube.btn-connect-active {
        background-color: $color-youtube;
        color: $white;
        &:focus {
            color: $white !important;
        }
    }

    &.btn-connect-youtube:before {
        background-color: lighten($color-youtube, 30%);
        content: "\f167";
    }
}

@media(max-width: $screen-xs-max) {
    .contest-description {
        margin-top: 20px;
    }

    .contest-block .contest-block-heading:after {
        font-size: 30px;
    }

    .minisite-url-box {
        .base-url {
            float: none;
            font-size: 16px;
            font-weight: 300;
            width: 100%;
            text-align: center;
            display: block;
        }

        #id-contest-route {
            width: 100%;
            margin-left: 0px;
        }

        /*#contest-route-result {
            float: right;
            margin-right: 24px;
            font-size: 24px;
            margin-top: -34px;
        }*/
    }

    .file-input-half > .file-input-container {
        width: 100% !important;
    }
}

.carousel-inner>.item>img {
    /*opacity: 0.4;*/
}

.card-expiry, .card-cvc-container {
    z-index: 9999;
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.table-buzz {
  width: 100%;
  margin: 15px 0px;
}

.table-buzz tr:nth-child(even) {
  background-color: #eee;
}
.table-buzz tr:nth-child(odd) {
  background-color:#fff;
}

thead {
  font-size: medium;
  font-weight: bold;
}
tbody {
  line-height: 28px;
}
tfoot {
  font-size: large;
  font-weight: bold;
}

.summary {
    padding: 5px;
}

.carousel-container {
  text-align: center;
}

#templates-carousel {
  width: 90%;
  display: inline-block;
}

.package {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;

    .no-side-padding {
        padding: 0 5px;
    }

    .btn {
        border: 1px solid #337ab7;
    }
}

// Active
.package.active {
    background-color: #375e99;
}
.package.active {
    .header, .pricing, .features p {
        color: #fff;  
    }
    .features td {
        border-bottom: 1px solid #fff;
    }
    .btn{
        background-color: #f8bb00;
        color: #fff;
        border: none;
    }
}

.package .header {
    padding: 10px; 
}
.package .pricing {
    padding: 20px 10px;
    background-color: rgba(0,0,0,0.1);
    .currency {
        font-size: 2em;
        vertical-align: top;
        font-weight: 100;
    }
    .amount {
        font-size: 4em;
        line-height: 0.9em;
        font-weight: 100;
    }
}
.package .features {
    margin: 20px 0;
    text-align: center;
    border: none;

    td {
        width: 45%;
        padding: 0 10px;
        border-bottom: 1px solid #000;
    }
    td.white-space {
        width: 10%;
        border-bottom: none !important;
    }
    td p {
    }

}

.coupon-success {
    font-weight: bold;
    color: #5b7a36;
}

.social-how-it-works {
    font-size: 12px;
    text-align:right;
    cursor:pointer;
    text-transform: uppercase;
    text-decoration: underline;
}

.close.circle {
    float: none;
    opacity: .5;
    background-color: gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    box-shadow: none;
}

.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #375e99;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}