.file-input-container {
    width: 100%;

    a.btn {
        float: left;
        width: 100px;
    }
}

.file-input-half > .file-input-container {
    width: 50%;
    margin-bottom: 20px;
}

.file-input-half.centered > .file-input-container {
    margin: 0 auto;
}

.file-input-filename {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 6px;
    float: left;
    background-color: white;
    width: calc(100% - 106px);
    margin-right: 6px;
}
