label {
    display: block;
    color: $gray-darker;
    text-transform: uppercase;
}

.alertcompany {
	color: #fc5050;
	text-transform: uppercase;
}

.fld {
    border: 1px solid $gray-dark;
    background-color: $white;
    color: $black;
    line-height: 1.5;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 0 0 10px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 300;

    @include transition(background-color 0.3s);

    &.ng-dirty.ng-valid {
        border-color: $green;
    }

    &.ng-dirty.ng-invalid {
        background-color: #fc5050;
        color: $white;
				
    }
	

    &::-webkit-input-placeholder {
       color: $gray;
       font-weight: 300;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: $gray;  
       font-weight: 300;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $gray;
       font-weight: 300;
    }

    &:-ms-input-placeholder {  
       color: $gray;
       font-weight: 300;
    }

    &:focus {
        @include transition(background-color 0.3s);
        border: 1px solid $white;
        border-radius: 6px;
    }
}

.company-form {
    .ng-invalid {
        background-color: #fc5050;
        color: $white;
    }
	
}