div.main-container {
	padding: 0;
	/*min-height: 100%;*/
	min-height: 100vh;
}

div.left-column {
	padding: 0 !important;
	height: 100vh;
	/*height: 100%;*/
}

div.center-column {
	padding: 0 !important;
	border-left: 1px solid $gray-medium;
	height: 100vh;

	.content-container {
		min-height: 84vh;
		padding: 30px;
		background-color: $gray-light;
	}
}

div.footer {
  height: 8vh;
  padding: 14px;
  background-color: $gray-medium;
  font-size: $font-size-normal;
  color: $gray-darker;
  font-family: $font-family-alt;
}