div.nav-brand {
	background-color: $blue !important;
	/*height: 60px;*/
	height: 8vh;
	text-align: center;
	padding-top: 8px;

	a > img {
		max-width: 175px;
	}
}

.nav-hidden {
    display: none;
}

@media(max-width: $screen-md) {
	div.nav-brand {
		text-align: left;
		height: 8vh;
		a > img {
			width: 175px;
			min-width: inherit;
			padding-left: 8px;
		}
	}
}

.navbar-collapse {
	padding: 0 !important;
}

.navbar-toggle {
	padding: 6px 10px;
}

span.icon-bar {
	background-color: $gray-light;
}

@media (max-width: $screen-sm) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

div.nav-user {
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid $gray-medium;

	div.user-image {
		float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $gray-medium;
        border: 1px solid $white;
        margin: 0 10px;

        &:hover {
            border-color: $blue;
            cursor: pointer;
        }

        > img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $gray-medium;
		}
	}

	div.user-data {
		display: table-cell;
		vertical-align: middle;
		height: 60px;

		.user-name {
			font-weight: 700;
			text-transform: uppercase;

			:after {
				content: ''
			}
		}

		.user-role {
			font-size: $font-size-mini;
            display: block;
		}
	}
}

.nav-slogan {
	color: $blue;
	margin-top: 20px;
	float: left;
	font-family: $font-family-alt !important;
}

ul.nav-sections {
	list-style: none;
	padding: 0;
	background-color: $gray-medium;

	li.nav-section {
		height: 60px;
		margin-bottom: 1px;
		padding-top: 22px;
		padding-left: 30px;
		font-weight: 700;
		font-size: $font-size-small;
		width: 100%;
		background-color: $white;
		@include transition(border-left $transition-short);

		a {
			color: $gray-dark;

            i {
                margin-right: 10px;
                line-height: 0;
            }
		}

		&:hover, &.active {
			border-left: 6px solid $blue;
			@include transition(border-left $transition-short);
			a {
				color: $blue;
			}
		}

		&.launch-contest {
			background-color: $green;
			text-transform: uppercase;

			a {
				color: $white !important;
			}
		}
	}
}

#nav-launch {
    margin-top: -10px;
    li a {
        color: $white;
    }

    .launch-instant {
        background-color: $green;
    }

    .launch-standard {
        background-color: $blue;
        &:hover, &.active {
            border-color: $green;
        }
    }
}

nav.horz-nav {
	/*height: 60px;*/
	height: 8vh;
	border-bottom: 1px solid $gray-medium;
	margin-bottom: 0 !important;
}

.fa-buzzicon {
    width: 16px;
    height: 16px;
    top: 20px;
    background-image: url('../assets/images/buzz-icon.png');
    background-position: 0;
    background-size: 100%;
    line-height: 1 !important;
}