a, .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.alert {
    border: 0;
    border-radius: 5px;
    line-height: 1.5;
    padding: 8px 20px;

    &:before {
        content: "\f071";
        font-family: 'FontAwesome';
        color: $white;
        margin-right: 20px;
        float: left;
    }
}

.alert-danger {
    background-color: $red;

    .text-danger {
        color: $white;
        font-weight: 300;
    }
}

.alert-warning {
    background-color: $yellow;

    .text-warning {
        color: $white;
        font-weight: 300;
    }
}

.btn-danger {
    background-color: $red;
}

.btn {
    @include transition(background-color 0.3s, color 0.3s);
}

.btn:hover {
    color: $white;
}

.btn-link {
    &:hover {
        color: lighten($blue, 20%);
    }
}

.glyphicon {

    &.glyphicon-chevron-up,
    &.glyphicon-chevron-down,
    &.glyphicon-chevron-left,
    &.glyphicon-chevron-right {
        font-family: 'FontAwesome';
    }

    &.glyphicon-chevron-up:before {
        content: "\f077";
    }

    &.glyphicon-chevron-down:before {
        content: "\f078";
    }

    &.glyphicon-chevron-left:before {
        content: "\f053";
    }

    &.glyphicon-chevron-right:before {
        content: "\f054";
    }
}

input[type="text"] {    
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}