div.plan-entry {
    width: 100%;
    margin: 20px 0;

    .plan-block {
        padding: 0;
    }

    .plan-block > div {
        padding: 10px;
        border-radius: 5px;
        width: 200px;
        text-align: center;

        span {
            line-height: 1;
            display: block;
        }

        .plan-qty {
            font-size: 80px;
        }

        .plan-sub {
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    .plan-used > div {
        margin-left: auto;
        margin-right: auto;

        .plan-qty {
            color: $red;
        }
    }

    .plan-left > div {
        margin-left: auto;

        .plan-qty {
            color: $green;
        }
    }

    .plan-total > div {
        background-color: $blue;
        color: $white;
    }

    @media(max-width: $screen-sm) {
        .plan-block > div {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.credit-cards {
    width: 100%;

    .credit-card-heading {
        border-bottom: 1px solid $gray-medium;
        padding: 10px 0;
        text-transform: uppercase;
        color: $gray-darker;
        font-weight: 700;
    }

    .credit-card-value {
        padding: 10px 0;
    }
}

@media(max-width: $screen-sm-max) {
    .credit-card-heading {
        width: 50%;
        float: left;    
    }

    .credit-card-value {
        text-align: right;
        border-bottom: 1px solid $gray-medium;
    }


}

.is-expiring {
    color: $red;
    background-color: lighten($red, 50%);
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid $red;
}

div.invoice-heading div {
    padding: 0 4px;
    margin: 0;
    div {
        width: 100%;
        padding: 6px 0;
        background-color: $gray-medium;
        color: black;
        font-size: $heading-small;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        @include border-top-radius(5px);
    }
}

/*div.invoices {
    max-height: 300px;
    overflow-y: scroll;
}*/

div.invoice-row > div {
    border-bottom: 2px solid $gray-medium;
    padding: 20px 0 10px 0;
    text-align: center;
}

.invoice-row.no-invoices {
    padding: 40px 5px;
}

@media(max-width: $screen-sm) {
    div.invoices {
        margin-bottom: 20px;
    }

    div.invoice-heading div {
        padding: 1px;
        margin: 0;
        div {
            border-radius: 0;
        }
}

    div.invoice-row {
        border-bottom: 2px solid $gray-dark;
    }
    div.invoice-row div {
        text-align: left;
        padding-left: 6px;
    }
}

.invoice-pdf {
    color: $red;
    &:hover {
        color: $blue;
    }
}

#payment-form label {
    color: $gray-darker;
    font-size: $font-size-small;
    text-transform: uppercase;
}

.card-cvc {
    width: 60px;
}

.card-expiry {
    label {
        display: block;
    }
}

.card-expiry-month, .card-expiry-year {
    float: left;
}

.card-expiry-month {
    width: 40%;
    margin-right: 10px;
}

.card-expiry-year {
    width: 50%;
}

.fa-check {
    color: $green;
}

.ssl-img {
    width: 130px;
    margin-top: 22px;
}
.creditcard-img {
    width: 200px;
    float: left;
}
.g-recaptcha {
    float: right;
}

.card-submit {
    text-align: right;
    padding-top: 17px;

    button {
        @media(max-width: $screen-sm) {
            width: 100%;
        }
    }
}

