.post-social-links {
    margin-top: 20px;
    padding: 6px 0;

    ul {
        padding: 0;

        li {
            list-style: none;
            height: 24px;
            width: 24px;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-right: 6px;
            position: relative;

            i {
                position: absolute;
                top: 6px;
                left: 6px;
                color: white;

                &.fa-facebook {
                    left: 8px;
                }
            }

        }
    }
}

.post-container-main {
	min-height: 490px;
}

.post-container {
    border: 1px solid black;
	margin-bottom: 5px;
}

.post-cover {
    margin: 2px;
    background-color: $gray;

    &:before{
        content: "";
        display: block;
        padding-top: 100%;  /* initial ratio of 1:1*/
        float: left;
    }

    img {
        width: 100%;
    }
}

.post-center-block {
    padding: 10px;
    height: 150px;
}

.post-name {
    color: $gray-dark;
    display: block;
    line-height: 1;
    padding: 0;
}

.post-user-name {
    color: $blue;
    font-size: 16px;
    font-weight: 600;
    display: block;
}

.post-rank-data {
    padding: 10px 0;
}

.post-rank {
    color: $gray-dark;
    float: left;
    font-size: 40px;
    line-height: 1;
}

.post-buzz {
    float: right;
    color: $red;
    font-size: 22px;
    line-height: 1;
    text-align: right;
    font-weight: 600;

    .social-buzz {
        color: $gray-dark;
        font-size: 12px;
        font-weight: 700;
        display: block;
        line-height: 1;
    }
}

.post-facebook-block {
    padding: 0;
    margin: 0;
    margin-left: 1px;

    > div {
        background-color: $color-facebook;
        color: $white;
        text-align: center;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        height: 40px;
        padding-top: 10px;

        i {
            margin-right: 10px;
        }
    }
}

.post-twitter-block {
    padding: 0;
    margin: 0;
    margin-left: 1px;

    > div {
        background-color: $color-twitter;
        color: $white;
        text-align: center;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        height: 40px;
        padding-top: 10px;

        i {
            margin-right: 10px;
        }
    }
}

.post-youtube-block {
    padding: 0;
    margin: 0;
    margin-left: 1px;

    > div {
        background-color: $color-youtube;
        color: $white;
        text-align: center;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        height: 40px;
        padding-top: 10px;

        i {
            margin-right: 10px;
        }
    }
}

.post-instagram-block {
    padding: 0;
    margin: 0;
    margin-left: 1px;

    > div {
        background-color: $color-instagram;
        color: $white;
        text-align: center;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        height: 40px;
        padding-top: 10px;

        i {
            margin-right: 10px;
        }
    }
}

.social-logo-container {
    text-align: center;
    padding: 10px 20px !important;

    .social-logo {
        max-width:100%;
        max-height:100%;
        display: initial;
    }
}

.btn-post-send-notification {
    width: 100%;
    height: 40px;
    background-color: $green;
    color: white;
    border-radius: 0;
    border: 1px solid $white;

    &:before {
        content: '\f1d8';
        font-family: 'FontAwesome';
        color: $white;
        margin-right: 5px;
        float: left;
        font-size: 20px;
        line-height: 1;
    }

    &:hover, &:focus {
        background-color: lighten($green, 10%);
        color: white;
    }
}

.btn-send-notification {
    color: $white;
    background-color: $green;
    float: right;
    margin-top: -20px;

    &:before {
        content: '\f1d8';
        font-family: 'FontAwesome';
        color: $white;
        margin-right: 5px;
        float: left;
        font-size: 20px;
        line-height: 1;
    }

    &:hover {
        background-color: lighten($green, 10%);
    }
}

#btn-more-container {
    text-align: center;
    padding: 40px;

    #btn-more {
        height: 50px;
        color: $blue;
        font-size: 20px;
        border-radius: 6px;
        min-width: 120px;
        background-color: $gray-medium;

        &:hover, &:focus {
            background-color: lighten($gray-medium, 10%);
        }
    }
}

.post-approval-block {
    text-align: center;
    margin: 0;

    div {
        padding: 2px;
        width: 50%;
    }

    .btn {
        width: 100%;
        text-align: center;
        margin: 0px;
        font-size: $font-size-mini;
        line-height: 2;

        i {
            font-size: 20px;
            float: left;
        }
    }

    div.btn-approve {
        float: left;
        background-color: initial;

        button {
            background-color: $green;
            color: $white;

            i.fa-check {
                color: white;
            }

            &:hover {
                background-color: lighten($green, 10%);
            }
        }
    }

    div.btn-disapprove {
        float: right;

        button {
            background-color: $red;
            color: $white;

            &:hover {
                background-color: lighten($red, 10%);
            }
        }
    }
}

#fullscreen_popup{ 
    position:fixed; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.6); 
    z-index:5; 
    width:100%; 
    height:100%; 
    display:none;
    opacity:2; 
  } 
  #fullscreen_popup_content 
  { 
    width:650px;
    height:490px; 
    margin:100px auto 0 auto; 
    position:relative; 
    background-color: black;
    z-index:10; 
    display:none; 
    border:5px solid #cccccc; 
    border-radius:10px;

  } 
  .cancel { 
    display:block; 
    position:absolute; 
    top:-42px; 
    right:2px; 
    background:rgb(245,245,245); 
    color:black; 
    height:30px; 
    width:35px; 
    font-size:30px; 
    text-decoration:none !important; 
    text-align:center; 
    font-weight:bold; 
    border:5px solid #cccccc; 
    border-radius:10px;
    line-height: 22px;
  }
  .fullscreen_popup_title
  {
    display:block; 
    position:absolute; 
    top: 0;
    height: 50px;
    font-size:20px;
    text-align:center; 
    font-weight:bold;
    background:rgba(199, 199, 199, 0.76);
    opacity:2; 
    width: 100%;
    line-height: 50px;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
  } 
  #submissione_popup_content
  {
    width: 100%;
    height: 100%;
  }
  
@media(max-width: $screen-md-max) {
    .post-approval-block {
        .btn {
            width: 98%;
        }
    }

    .tw-logo-lg, 
    .fw-logo-lg {
        background-size: 23%;
    }
}

@media(max-width: $screen-sm-max) {
    .post-approval-block {
        .btn {
            width: 99%;
        }
    }
}