.promotion-block {
    margin-bottom: 40px;

    > .promotion-block-inner {
        width: 100%;
        height: 160px;
        background-color: #ddd;
        border: 3px solid #ddd;
        border-radius: 6px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 24px;
        font-weight: 600;
        color: $gray-darker;
        position: relative;

        &:before {
            font-family: 'FontAwesome';
            font-size: 44px;
            padding: 4px;
            display: block;
            -webkit-font-smoothing: antialiased;
        }

        .info-tooltip {
            position: absolute;
            right: 10px;
            top: 6px;
            border-radius: 100%;
            color: #555;
            font-size: 14px;
            text-align: right;
        }
    }

    &.promotion-influencers {
        > .promotion-block-inner {
            .tooltip-inner {
                background-color: $red;
            }
            .tooltip-arrow {
                border-right-color: $red;
            }

            &:before {
                color: $red;
                content: "\f0c0";
            }
        }
    }

    &.active {
        &.promotion-influencers {
            > .promotion-block-inner {
                border: 3px solid $red;
            }
        }
    }

    &.promotion-display {
        > .promotion-block-inner {
            .tooltip-inner {
                background-color: $blue;
            }
            .tooltip-arrow {
                border-right-color: $blue;
            }

            &:before {
                color: $blue;
                content: "\f109";
            }
        }
    }

    &.active {
        &.promotion-display {
            > .promotion-block-inner {
                border: 3px solid $blue;
            }
        }
    }

    &.promotion-video {
        > .promotion-block-inner {
            .tooltip-inner {
                background-color: $green;
            }
            .tooltip-arrow {
                border-left-color: $green;
            }

            &:before {
                color: $green;
                content: "\f03d";
            }
        }
    }

    &.active {
        &.promotion-video {
            > .promotion-block-inner {
                border: 3px solid $green;
            }
        }
    }
}

.sales-info {
    margin-right: 6px;
    color: $green;
    float: left;
    font-size: 24px !important;
}

.promotion-info {
    font-size: 18px;
    color: $gray-darker;
}