div.checkbox {
    margin-top: -10px;
    float: left;

    &.full-width {
        width: 100%;
    }

    .btn {
        float: right;
        margin-top: 10px;
        min-width: 120px;
    }

    &.inverted {
        .checkbox-fld, .select-fld {
            float: right !important;
        }

        .select-fld {
            max-width: 130px;
        }

        &.full-width {
            label {
                width: 100%;
            }
        }
    }
}

.checkbox-fld {
    appearance: none;
    -webkit-appearance: none;
    background-color: tranparent;
    border: 1px solid $gray-dark;
    padding: 9px;
    display: inline-block;
    position: relative !important;
    width: 40px;
    height: 40px;
    top: -3px;
    vertical-align: middle !important;
    margin-left: 0 !important;
}

.checkbox-fld:active, .checkbox-fld:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox-fld:checked {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: white;
}

.checkbox-fld:checked:after {
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: $blue;
    width: 24px;
    height: 24px;
    padding: 6px;
}

.checkbox label {
    padding-left: 0 !important;
    font-weight: 600;
    font-size: 18px;
    color: $gray-darker;
    margin-right: 10px;
    float: left;
    
    .help-text {
        font-size: 14px;
        font-weight: 300;
        display: block;
        float: none;
    }
}

.checkboxsmall-fld {
    appearance: none;
    -webkit-appearance: none;
    background-color: tranparent;
    border: 1px solid $gray-dark;
    padding: 9px;
    display: inline-block;
    position: relative !important;
    width: 20px;
    height: 20px;
    top: -3px;
    vertical-align: middle !important;
    margin-left: 0 !important;
}

.checkboxsmall-fld:active, .checkbox-fld:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkboxsmall-fld:checked {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: white;
}

.checkboxsmall-fld:checked:after {
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: 13px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: $blue;
    width: 12px;
    height: 12px;
    padding: 3px;
}

.checkboxsmall label {
    padding-left: 0 !important;
    font-weight: 300;
    font-size: 12px;
    color: $gray-darker;
    margin-right: 10px;
    float: left;
    
    .help-text {
        font-size: 9px;
        font-weight: 200;
        display: block;
        float: none;
    }
}