.section-title {
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	color: $black;
    margin-top: 0;
    margin-bottom: 6px;
}

.section-contest-brand {
    margin: 2px;
    font-size: $heading-small;
    color: $blue;
    font-weight: 700;
}

div.section-heading {
	float: left;
}

h1.section-title {
	font-size: $heading-large;
}

h3.section-subtitle {
	@extend .section-title;
	font-size: $heading-micro;
	color: $gray-darker;
	line-height: 1;
    margin-top: 0;
	margin-bottom: 12px;
}

h3.section-sub-heading {
    margin: 4px 0;
    font-size: $heading-medium;
}

.section-heading-right {
    text-align: right;

    > a.btn {
        @media(min-width: $screen-md-min) {
            width: 270px;
        }
    }
}

.vert-spacer {
    height: 20px;
}

div.heading-separator {
    height: 2px;
    width: 100%;
    background-color: $green;
}

@media(max-width: $screen-xs-max) {
    .section-heading-right {
        float: none;
    }

    .btn-large {
        width: 100%;
    }
}