.offer {
    width: 100%;
    text-align: center;
    border: 2px solid white;

    .offer-name {
        width: 100%;
        margin: 0;
        padding: 20px;
        font-size: 18px;
        text-align: center;
        color: $white;
        background-color: $blue;
        font-weight: 300;
    }

    .offer-price {
        font-size: 70px;
        color: $blue;
        background-color: $gray-medium;
        font-weight: 300;
        line-height: 1;
        padding: 40px 0;

        .price-currency {
            vertical-align: super;
            font-size: 50%;
            margin-right: -16px;
            top: 0;
        }

        .price-specification {
            font-size: 14px;
            display: block;
        }
    }

    .offer-description {
        background-color: $gray-light;
        padding: 20px;

        .offer-line {
            color: $gray-darker;
            font-weight: 300;
            line-height: 1;
            padding: 10px;
            border-bottom: 1px solid $gray-medium;
            margin: 0;

            strong {
                font-weight: 600;
                color: $black;
            }
        }

        .offer-launch {
            border: 2px solid $blue;
            border-radius: 2px;
            padding: 10px;
            width: 100%;
            color: $blue;
            background: transparent;
            text-transform: uppercase;
            margin: 20px 0 0 0;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }
}

.selected .offer {
    border: 2px solid $blue;
}
