.loading {
    min-height: 40px;
    position: relative;

    &.fullpage {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &.no-background {
        background-color:none !important;
    }
}

.loading:before {
    border-radius: inherit;
    position: absolute;
    width: 100%;
    min-height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    content: '';
    z-index: 10;
    opacity: 0.6;
    background-image: url('../assets/images/ajax-loader.gif');
    background-position: 50%;
    background-repeat: no-repeat;
}

.fa-loading {
    content: '\f110';
    font-family: 'FontAwesome';
    float: right;
    font-size: 30px;
    line-height: 1;
    animation: fa-spin 2s infinite linear;
}

.alert-floating {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 20px;
    z-index: 9999;
    border: 1px solid;
}

.text-no-results {
    color: white;
    font-weight: 300;
}

.no-side-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

input.file-hidden {
    display: none;
}

.field-hidden {
    display :none;
}

.has-feedback i.fa {
    float: right;
    margin-top: -26px;
    margin-right: 8px;
    font-size: 20px;
}

.background-green {
    background-color: $green !important;
}

.background-red {
    background-color: $red !important;
}

.background-yellow {
    background-color: $yellow !important;
}

.background-blue {
    background-color: $blue !important;
}

.background-facebook {
    background-color: $color-facebook !important;
}

.background-twitter {
    background-color: $color-twitter !important;
}

.background-instagram {
    background-color: $color-instagram !important;
}

.background-youtube {
    background-color: $color-youtube !important;
}

.color-red {
    color: $red;
}

.color-blue {
    color: $blue;
	
}

.padding {
    padding: 5px 0px 5px 0px;
}

.facebook {
    color: $color-facebook !important;
}

.twitter {
    color: $color-twitter !important;
}

.instagram {
    color: $color-instagram !important;
}

.youtube {
    color: $color-youtube !important;
}


textarea.setmaxwidth {
    max-width: 100%;
    max-height: 100px;
    min-height: 72px;
}
.alert-color-success:before {
    color: #3c763d
}

.capitalize {
    text-transform: capitalize;
}

/* --------------- Margin and Padding --------------- */
/* all */
.ma0 {
    margin: 0px !important;
}

.pa0 {
    padding: 0px !important;
}

.pa5 {
    padding: 5px !important;
}

.pa10 {
    padding: 10px !important;
}

/* top */
.mt-5 {
    margin-top: -5px;
}

.mt0 {
    margin-top: 0px !important;
}

.mt2 {
    margin-top: 2px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt22 {
    margin-top: 22px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.pt0 {
    padding-top: 0px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

/* right */
.mr0 {
    margin-right: 0px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: -5px;
}

.pr0 {
    padding-right: 0px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

/* bottom */
.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.pb0 {
    padding-bottom: 0;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

/* left */
.ml0 {
    margin-left: 0px;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml100 {
    margin-left: 100px;
}

.ml-5 {
    margin-left: -5px;
}

.pl0 {
    padding-left: 0;
}

.pl5 {
    padding-left: 5px;
}

.pl8 {
    padding-left: 8px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

/* --------------- / Margin and Padding --------------- */

/* --------------- Font size --------------- */
.fs-small {
    font-size: $font-size-small;
}
.fs-mini {
    font-size: $font-size-mini;
}
.fs-micro {
    font-size: $font-size-micro;
}
/* --------------- / Font size --------------- */

/* --------------- Col same height --------------- */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
  overflow: hidden;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}
/* --------------- / Col same height --------------- */