// Custom colors
$white: #fff;
$black: #000;
$red: #9f1c2a;
$yellow: #f8bb00;
$orange: #f98c05;
$blue: #375e99;
$dark-blue: #3c3c3e;
$green: #5b7a36;
$gray: #eee;
$gray-light: #fafafa;
$gray-medium: #ededed;
$gray-dark-light: #dddddd;
$gray-dark: #a8a8a8;
$gray-darker: #727272;

$color-facebook: #4d6299;
$color-twitter: #5bc9ee;
$color-instagram: #a8825d;
$color-youtube: #cc181e;

// Fonts
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-alt:  "Abel", Helvetica, Arial, sans-serif;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-mini: 10px;
$font-size-micro: 8px;
$heading-large: 22px;
$heading-medium: 18px;
$heading-small: 14px;
$heading-micro: 12px;


// Transitions
$transition-short: 0.2s;
$transition-medium: 0.3s;
$transition-long: 0.6s;

//== COPIED OVER FROM BOOTSTRAP

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;